<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

      <%= f.govuk_submit "Resend confirmation instructions" %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
