<h3 class="govuk-heading-m">Mentoring</h3>

<%= govuk_summary_list(classes: ["govuk-!-margin-bottom-7"], actions: false) do |slist| %>
  <% slist.with_row do |row| %>
    <% row.with_key(classes: ["govuk-summary-list__key--align-top"]) do %>
      Currently mentoring
    <% end %>
    <% row.with_value do %>
      <% if ects.present? %>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <% ects.each do |ect| %>
            <li>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <div class="<%= ect.participant_profile.induction_start_date ? '' : 'govuk-!-margin-bottom-3' %>">
                    <%= govuk_link_to(ect.full_name,
                                      school_early_career_teachers_path(id: ect.participant_profile_id, school_id: school.slug),
                                      no_visited_state: true) %>
                  </div>
                  <% if ect.participant_profile.induction_start_date %>
                    <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-3">Induction started <%= ect.participant_profile.induction_start_date.to_fs(:govuk) %></p>
                  <% end %>
                </div>
                <% if mentors_added &&
                  ect.participant_profile.policy_class.new(current_user, ect.participant_profile).update_mentor? %>
                  <div class="govuk-grid-column-one-third" style="text-align: right;">

                    <%= govuk_link_to(school_participant_edit_mentor_path(participant_id: ect.participant_profile_id,
                                                                          from_mentor: profile.id),
                                      no_visited_state: true) do %>
                      Change <span class="govuk-visually-hidden">mentor for <%= ect.full_name %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>

          <% if possible_ects.present? %>
            <li>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <div><%= govuk_link_to "Assign another ECT to this mentor",
                                         school_participant_new_ect_path(participant_id: profile.id) %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="govuk-body govuk-!-margin-bottom-4">Not currently mentoring</p>

        <% if possible_ects.present? %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div>
                <%= govuk_link_to "Assign an ECT to this mentor",
                                  school_participant_new_ect_path(participant_id: profile.id) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
