<h3 class="govuk-heading-m">Mentor training</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-7">
  <% if induction_record.enrolled_in_cip? %>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">
        Programme
      </dt>
      <dd class="govuk-summary-list__value">
        DfE accredited materials
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">
        Materials supplier
      </dt>
      <dd class="govuk-summary-list__value">
        <%= induction_record.core_induction_programme_name %>
      </dd>
    </div>
  <% end %>

  <% if profile.completed_training? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--green">
          Training completed
        </strong>
      </dd>
    </div>
  <% end %>

  <% if induction_record.enrolled_in_fip? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Lead provider
      </dt>

      <dd class="govuk-summary-list__value">
        <%= induction_record.lead_provider_name %>
      </dd>

      <dd class="govuk-summary-list__actions">
        <%= govuk_link_to(schools_early_career_teachers_change_lead_provider_intro_path(
          participant_id: profile.id, school_id: school.id, start_year: induction_record.cohort.start_year)) do %>
          <%= 'Change' %> <span class="govuk-visually-hidden"> Lead provider</span>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">
        Delivery partner
      </dt>
      <dd class="govuk-summary-list__value">
        <%= induction_record.delivery_partner_name %>
      </dd>
    </div>
  <% end %>
</dl>
