<h2 class="govuk-heading-m">Personal Details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-7">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= profile.full_name %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <% if profile.policy_class.new(current_user, profile).edit_name? &&
        policy(induction_record).edit_name? %>
        <%= govuk_link_to school_participant_edit_name_path(participant_id: profile) do %>
          Change <span class="govuk-visually-hidden">name</span>
        <% end %>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      TRN
    </dt>
    <dd class="govuk-summary-list__value">
      <%= induction_record.trn %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_link_to support_path(participant_profile_id: induction_record.participant_profile.id, school_id: school.id, subject: :"change-participant-trn") do %>
        Change <span class="govuk-visually-hidden">TRN</span>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      <%= induction_record.participant_profile.ecf_participant_validation_data&.date_of_birth&.to_fs(:govuk) %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_link_to support_path(participant_profile_id: induction_record.participant_profile.id, school_id: school.id, subject: :"change-participant-date-of-birth") do %>
        Change <span class="govuk-visually-hidden">date of birth</span>
      <% end %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      <%= induction_record.preferred_identity&.email || profile.participant_identity&.email %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <% if profile.policy_class.new(current_user, profile).edit_email? &&
        policy(induction_record).edit_email? %>
        <%= govuk_link_to school_participant_edit_email_path(participant_id: profile) do %>
          Change <span class="govuk-visually-hidden">email address</span>
        <% end %>
      <% end %>
    </dd>
</dl>
