<% content_for :title, "What’s your school’s local authority?" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: resend_email_request_nomination_invite_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= form_with model: @nomination_request_form, url: choose_location_request_nomination_invite_path, method: :post do |f| %>
        <%= f.govuk_error_summary %>

            <%= f.govuk_collection_select(
                :local_authority_id,
                @local_authorities,
                :id,
                :name,
                label: { text: "What’s your school’s local authority?", tag: "h1", size: "xl" },
                width: "two-thirds",
                options: { include_blank: true },
                class: ["js-location-select"]) do %>

                <p class="govuk-body">This is the authority or council in your area. For example, Gloucestershire or Barnet. Not sure?
                <%= govuk_link_to "Find your school on our register (opens in a new tab)", "https://get-information-schools.service.gov.uk/", target: :_blank, rel: "noopener noreferrer", class: "govuk-link govuk-link--no-visited-state" %>
                <% end %>

        <%= f.govuk_submit "Continue" %>
        <% end %>

    </div>
</div>
