<% content_for :title, "Confirm school" %>
<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: choose_school_request_nomination_invite_path)
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm your details</h1>
    <p class="govuk-body govuk-!-margin-bottom-7">
      We will send a link to the email address your school has listed on our register, <%= govuk_link_to "Get information about schools", "https://www.get-information-schools.service.gov.uk/" %></p>
   <p class="govuk-body govuk-!-margin-bottom-7">Your school will follow this link to nominate an induction lead or tutor.</p>

    <div class="govuk-!-margin-bottom-9">
      <%= render partial: 'nominations/school_details', locals: { school: @nomination_request_form.school, title: "Your school" } %>
      <%= govuk_link_to "Change school", choose_location_request_nomination_invite_path, class: "govuk-link--no-visited-state", "data-test": "change-school" %>
    </div>

    <%= form_for :confirmation, url: review_request_nomination_invite_path, method: :post do |f| %>
      <%= f.hidden_field :answers_checked, value: true %>
      <%= f.govuk_submit "Confirm" %>
    <% end %>
  </div>
</div>
