<% content_for :title, "Delivery partner users" %>

<%= render "admin/delivery_partners/heading" %>

<%= govuk_button_link_to "Add a new user", new_admin_delivery_partners_user_path %>
<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Full name</th>
      <th scope="col" class="govuk-table__header">Email address</th>
      <th scope="col" class="govuk-table__header">Delivery partner</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @delivery_partner_profiles.each do |delivery_partner_profile| %>
      <% user = delivery_partner_profile.user %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= govuk_link_to user.full_name, edit_admin_delivery_partners_user_path(delivery_partner_profile) %></td>
        <td class="govuk-table__cell"><%= user.email %></td>
        <td class="govuk-table__cell"><%= delivery_partner_profile.delivery_partner.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== govuk_paginate @delivery_partner_profiles, @pagy %>
