<%= govuk_breadcrumbs breadcrumbs: course_year_breadcrumbs(@current_user, @course_year) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if policy(@course_year).edit? %>
      <%= govuk_link_to "Edit year content", edit_cip_year_url(@course_year), button: true %>
    <% end %>
    <h1 class="govuk-heading-l"><%= @course_year.title %></h1>
    <div class="gem-c-govspeak govuk-govspeak ">
      <%= @course_year.content_to_html.html_safe %>
    </div>
    <ol class="app-task-list">
      <li>
        <p><strong>Module materials</strong></p>
        <ul class="app-task-list__items">
          <% @course_modules_with_progress.each do |course_module| %>
            <li class="app-task-list__item">
              <span>
                <%= govuk_link_to course_module.title, cip_year_module_url(@course_year, course_module) %>
              </span>
              <%= render ProgressLabelComponent.new progress: course_module.progress %>
            </li>
          <% end %>
          <% if @course_modules_with_progress.empty?%>
            <p>No course modules were found!</p>
          <% end %>
        </ul>
      </li>
    </ol>
  </div>
</div>
