<% content_for :before_content, govuk_back_link(text: 'Back', href: current_user ? dashboard_path : root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Teach First's handbooks and training outlines</h1>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Handbooks</h2>
    <p>The sequence document provides an overview of how the programme is structured across the 2 years of induction.</p>
    <%= govuk_link_to "ECF Sequence (PDF, 289 KB, 17 pages)",
                      "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-2.-ECF-Sequence.pdf" %>
    <p>The implementation guidance outlines how Teach First’s coaching and mentoring programme works.</p>
    <%= govuk_link_to "ECF SLT and Induction Lead Implementation Guidance (PDF, 652 KB, 30 pages)",
                      "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-Early-Career-Framework-Programme-SLT-and-Induction-Lead-Handbook-1.pdf" %>

    <h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-3">Training outlines</h2>
    <p>
      Each module features up to 3 dedicated training sessions where experienced practitioners will share practical
      applications of what early career teachers are learning.
    </p>
    <p>The materials show what should be covered during these training sessions.</p>

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Autumn term</h3>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= govuk_link_to "First half-term: how can you create an effective learning environment? (PDF, 237 KB, 5 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-ECF-Module-1-ECT-training-basic-programme-session-plan.pdf" %>
    </h4>
    <ul class="govuk-list">
      <li>
        Week 5: using praise and consequences effectively
      </li>
      <li>
        Week 7: holding high expectations of all pupils
      </li>
    </ul>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= govuk_link_to "Second half-term: how do pupils learn? (PDF, 163 KB, 4 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-ECF-Module-2-ECT-training-basic-programme-webinar-session-plan.pdf" %>
    </h4>
    <ul class="govuk-list">
      <li>
        Week 3: avoiding working memory overload
      </li>
      <li>
        Week 6: building well organised mental models
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Spring term</h3>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= govuk_link_to "First half-term: what makes classroom practice effective? (PDF, 273 KB, 5 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-ECF-Module-3-ECT-training-basic-programme-webinar-session-plan.pdf" %>
    </h4>
    <ul class="govuk-list">
      <li>
        Week 2: using examples and non-examples
      </li>
      <li>
        Week 5: using questioning to extend and challenge pupils
      </li>
    </ul>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= govuk_link_to "Second half-term: : how can you use assessment and feedback to greatest effect? (PDF, 181 KB, 5 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-ECF-Module-4-ECT-training-basic-programme-session-plan.pdf" %>
    </h4>
    <ul class="govuk-list">
      <li>
        Week 2: structuring questioning to anticipate and identify misconceptions
      </li>
      <li>
        Week 5: peer and self assessment
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Summer term</h3>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= govuk_link_to "First half-term: how can you support all pupils to succeed? (PDF, 191 KB, 5 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-ECF-Module-5-ECT-training-basic-programme-webinar-sessions-plan.pdf" %>
    </h4>
    <ul class="govuk-list">
      <li>
      <li>Week 3: Developing pupils’ language comprehension and writing in your subject or phase</li>
      <li>Week 6: High-quality universal provision and the graduated approach</li>
      </li>
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= govuk_link_to "Second half-term: how can you plan a coherent curriculum? (PDF, 181 KB, 5 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-ECF-Module-6-ECT-training-basic-programme-webinar-session-plan.pdf" %>
    </h4>
    <ul class="govuk-list">
      <li>Week 2: identifying the essential concepts, knowledge and skills of a subject</li>
      <li>Week 6: critical thinking in a subject area</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Year 2</h3>

    <p>For more information on Year 2 training please refer to the
      <%= govuk_link_to "ECF SLT and Induction Lead Implementation Guidance (PDF, 652 KB, 30 pages)",
                        "https://paas-s3-broker-prod-lon-ac28a7a5-2bc2-4d3b-8d16-a88eaef65526.s3.amazonaws.com/teach-first-Early-Career-Framework-Programme-SLT-and-Induction-Lead-Handbook-1.pdf" %>
    </p>

  </div>
</div>
