<%= content_for :before_content, govuk_breadcrumbs(breadcrumbs: {
  "Lead Providers Users" => admin_lead_provider_profiles_path,
  "Delete Lead Provider User" => nil
}) %>

<%= form_for :confirmation, url: admin_lead_provider_profile_path(@lead_provider_profile), method: :delete do |f| %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
      Delete Lead Provider User
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @lead_provider_profile.user.full_name %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @lead_provider_profile.user.email %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delete User
        </dt>
        <dd class="govuk-summary-list__value">
          <%= f.govuk_submit "Delete User", classes: "govuk-button--warning" %>
        </dd>
      </div>

    </dl>
  </div>
</div>
<% end %>
