<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <div class="blue-header">
      <h1 class="govuk-heading-xl blue-header__title">Welcome <%= current_user.preferred_name %></h1>
      <%= govuk_link_to "Edit username", edit_username_path, class: "blue-header__text", "data-test": "edit-username" %>
    </div>

    <% if current_user.early_career_teacher? %>
      <%= govuk_link_to "Go to your module materials",
        cip_path(current_user.early_career_teacher_profile.core_induction_programme),
        button: true %>
    <% end %>

    <h2 class="govuk-heading-l govuk-!-margin-top-4">Related content</h2>

    <p><%= govuk_link_to "Guidance about training and support during your induction", "#" %></p>
    <p><%= govuk_link_to "How the teacher standards relate to the ECF", "#" %></p>
    <p><%= govuk_link_to "Your mentor's role and responsibilities", "#" %></p>
    <p><%= govuk_link_to "Get support with using the platform", "#" %></p>
  </div>
</div>
