<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <div class="blue-header">
      <h1 class="govuk-heading-xl blue-header__title">Welcome Joe</h1>
      <a href="#" class="blue-header__text">Change username</a>
    </div>

    <% if current_user.early_career_teacher? %>
      <%= govuk_link_to "Go to your module materials",
        cip_path(current_user.early_career_teacher_profile.core_induction_programme),
        button: true %>
    <% end %>

    <h2 class="govuk-heading-l govuk-!-margin-top-4">Related content</h2>

    <p><%= govuk_link_to "Guidance about training and support during your induction", "#" %></p>
    <p><%= govuk_link_to "How the teacher standards relate to the ECF", "#" %></p>
    <p><%= govuk_link_to "Your mentor's role and responsibilities", "#" %></p>
    <p><%= govuk_link_to "Get support with using the platform", "#" %></p>
  </div>
</div>
