<% title = "Which type of appropriate body have you appointed?" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: appropriate_body_type_back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @appropriate_body_form, url: { action: :update_appropriate_body_type }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
        :body_type,
        @appropriate_body_form.body_type_choices,
        :id, :name,
        legend: { text: title, tag: :h1, size: 'xl' },
        caption: { text: appropriate_body_school_name, tag: :h1, size: 'xl' }) do %>

          <%= yield :pre_form %>
        <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
