<% appropriate_bodies = @appropriate_body_form.body_choices %>

<% title = t("setup_school_cohort.appropriate_body_type.title.#{@appropriate_body_form.body_type}") %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: url_for(action: :appropriate_body_type)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @appropriate_body_form, url: { action: :update_appropriate_body }, method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <% if @appropriate_body_form.body_type == "national" %>
        <%= render partial: "appropriate_body_selection/radio_button_body_selection", locals: { f:, appropriate_bodies:, title:} %>
      <% else %>
        <%= render partial: "appropriate_body_selection/autocomplete_body_selection", locals: { f:, appropriate_bodies:, title:} %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
