<table class="govuk-table payment-breakdown-table">
  <tbody>
    <!--TODO: Un-hard-code it-->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Payment period</th>
      <td class="govuk-table__cell">1 September 2021 - 31 October 2021</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Recruitment target</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @breakdown[:recruitment_target] %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Current ECTs</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @breakdown[:breakdown_summary][:ects] %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Current mentors</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @breakdown[:breakdown_summary][:mentors] %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Current particpants</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @breakdown[:breakdown_summary][:participants] %></td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

<table class="govuk-table payment-breakdown-table">
  <thead>
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Payment type</th>
      <th class="govuk-table__header govuk-table__cell--numeric">Number of <br>participants</th>
      <th class="govuk-table__header govuk-table__cell--numeric">Payment amount<br>for period</th>
    </tr>
  </thead>
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Service fee</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @service_fees_participants %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds @service_fees_total %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output fee </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @output_payment_participants %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds @output_payment_total %></td>
    </tr>
    <tr class="govuk-table__row">
      <!--TODO: Add back payments-->
      <td class="govuk-table__cell">Milestone 1 back payment </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds 0 %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Uplift fee </td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= @breakdown[:other_fees][:uplift][:participants] %></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds @breakdown[:other_fees][:uplift][:subtotal] %></td>
    </tr>
    <tr class="govuk-table__row">
      <!--TODO: Add clawbacks-->
      <td class="govuk-table__cell">Clawbacks </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds 0 %></td>
    </tr>
  </tbody>
</table>

<table class="govuk-table payment-breakdown-table">
  <tbody>
    <!--TODO: Add VAT-->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">VAT</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds 0 %></td>
    </tr>
    <!--TODO: Un-hardcode the values-->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell">Total payment</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_to_pounds 100_000 %></td>
    </tr>
  </tbody>
</table>
