<%= render Finance::ECF::OutputPaymentRow.with_collection(output_payments) %>

<h3 class="govuk-heading-s"><%=t("finance.participant_breakdown") %></h3>
<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular"><%=t("finance.current_milestone") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- TODO: Add back payments -->
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular"><%=t("finance.back_payment_participants") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell"><%=t("finance.total_paid") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= participants %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell"><%=t("finance.total_not_paid") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= not_yet_included_participants %></td>
    </tr>
  </tbody>
</table>
