<%= render Finance::ECF::OutputPaymentRow.with_collection(output_payments) %>

<h3 class="govuk-heading-s">New target</h3>
<p>Participants over the original band C target up to the new target.</p>
<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
<!--      TODO: Add real data-->
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Fee per participant (100%)</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds 0 %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Current participants</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- TODO: Add back payments -->
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Back payment participants</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell">Payment</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_to_pounds subtotal %></td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-s">Participant breakdown</h3>
<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Current milestone</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- TODO: Add back payments -->
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Back payment participants</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell">Total paid</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= participants %></td>
    </tr>
    <tr class="govuk-table__row">
      <!--TODO: Add not accepted participants-->
      <th scope="row" class="govuk-table__cell">Total not paid</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">0</td>
    </tr>
  </tbody>
</table>
