<table class="govuk-table participant-breakdown-table">
  <caption class="govuk-table__caption govuk-table__caption--m"><%= "Participant breakdown" %></caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header"><%= "Milestone" %></th>
    <th scope="col" class="govuk-table__header govuk-!-font-weight-bold govuk-table__cell--numeric"><%= t("finance.number_of_participants") %></th>
    <th scope="col" class="govuk-table__header govuk-!-font-weight-bold govuk-table__cell--numeric"><%= t("finance.total_paid") %></th>
    <th scope="col" class="govuk-table__header govuk-!-font-weight-bold govuk-table__cell--numeric"><%= t("finance.total_not_paid") %></th>
  </tr>
  </thead>
  <tbody>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><%= "#{breakdown_started_summary[:declaration].to_s.humanize}" %></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><%= breakdown_started_participants %></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><%= breakdown_started_participants %></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><%= breakdown_started_summary_not_yet_included %></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><%= "#{breakdown_retained_1_summary[:declaration].to_s.humanize}" %></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><%= breakdown_retained_participants %></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><%= breakdown_retained_participants %></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><%= breakdown_retained_summary_not_yet_included %></td>
  </tr>
  </tbody>
</table>
