<% content_for :before_content, govuk_back_link(text: 'Back', href: current_user ? dashboard_path : root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Ambition Institute's handbooks and training outlines</h1>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Handbooks</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "ECF Programme Handbook (PDF, 107 KB, 10 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-EarlyCareerTeachers_2020_ProgrammeHandbook.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "ECF Lead Handbook (PDF, 102 KB, 12 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/09/Ambition-EarlyCareerTeachers_2020_LeadHandbook_Guidebook_Edit-1-1.pdf" %>
      </li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-3">Training outlines</h2>
    <p class="govuk-!-margin-bottom-3">Here is a placholder of contextual blurb about training outlines. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. </p>

    <%= render SubnavComponent.new do |component| %>
      <%= component.nav_item(path: induction_tutor_materials_path(provider: "ambition", year: "year-one")) do %>
        Year 1
      <% end %>
      <%= component.nav_item(path: induction_tutor_materials_path(provider: "ambition", year: "year-two")) do %>
        Year 2
      <% end %>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-top-4">Autumn term: behaviour</h3>
      </div>
    </div>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Kick off conference (PDF, 57 KB, 6 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-Conf-1-EarlyCareerTeachers_2020_ClinicTimetables_Conference1_Dev1_AK.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Programme induction (PDF, 50 KB, 4 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-Induction-EarlyCareerTeachers_2020_ClinicTimetables_ProgrammeOrientation_Dev1_AK.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Clinic 1: supporting all pupils (PDF, 54 KB, 6 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C01-EarlyCareerTeachers_2020_ClinicTimetables_Clinic1_Dev1_AK.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Second half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 2: responding to challenging behaviour (PDF, 50 KB, 5 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C02-EarlyCareerTeachers_2020_ClinicTimetables_Clinic2_Dev1_AK.pdf" %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m">Spring term: instruction</h3>
      </div>
    </div>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 3: building effective relationships with parents and carers (PDF, 46 KB, 4 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C03-EarlyCareerTeachers_2020_ClinicTimetables_Clinic3_Dev1_AK.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Second half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 4: adapting teaching for pupils (PDF, 47 KB, 4 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C04-EarlyCareerTeachers_2020_ClinicTimetables_Clinic4_Dev1_AK.pdf" %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m">Summer term: subject</h3>
      </div>
    </div>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 5: teacher wellbeing and workload (PDF, 48 KB, 5 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C05-EarlyCareerTeachers_2020_ClinicTimetables_Clinic5_Dev1_AK.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2"><strong>Second half-term</strong></p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 6: early literacy 1 - reading and phonics (PDF, 52 KB, 5 pages)",
                          href = "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C06-EarlyCareerTeachers_2020_ClinicTimetables_Clinic6_Dev1_AK.pdf" %>
      </li>
    </ul>

  </div>
</div>
