<% title = "What’s #{@wizard.possessive_name} teacher reference number (TRN)?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>

        <%= form_with model: @form, url: url_for(action: :update), scope: "add_ect_wizard", method: :put do |f| %>
            <%= f.govuk_error_summary %>
            <%= f.govuk_text_field :trn,
                label: { text: title, tag: "h1", size: "xl", class: 'govuk-heading-xl' },
                width: "two-thirds" do %>
            <p class="govuk-body">This unique ID:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>is usually 7 digits long, for example ‘4567814’</li>
                <li>may include the letters ‘RP’ or a slash ‘/’ symbol, for example ‘RP99/12345’</li>
                <li>may also be called a QTS, GTC, DfE, DfES or DCSF number</li>
            </ul>
            <% end %>
            <div class="govuk-button-group">
                <%= f.govuk_submit "Continue" %>
                <% unless @wizard.ect_participant? %>
                  <%= govuk_link_to "#{@wizard.sit_mentor? ? "I" : "They"} do not have a TRN",
                                      url_for(step: :cannot_add_mentor_without_trn),
                                      class: "govuk-link govuk-link--no-visited-state" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
