<tr class="govuk-table__row">
  <% if ineligible_participant? && !mentor_in_early_rollout? %>
    <td class="govuk-table__cell govuk-!-width-three-quarters"><%= govuk_link_to profile.user.full_name, schools_participant_path(id: profile, **path_ids), class: "govuk-link--no-visited-state" %></td>
    <td class="govuk-table__cell govuk-!-width-one-quarter">Remove</td>

  <% else %>

    <td class="govuk-table__cell govuk-!-width-one-quarter"><%= govuk_link_to profile.user.full_name, schools_participant_path(id: profile, **path_ids), class: "govuk-link--no-visited-state" %></td>

    <% if participant_is_on_a_cip? %>
      <td class="govuk-table__cell govuk-!-width-one-half"><%= profile.school_cohort&.core_induction_programme&.name %></td>
    <% else %>
      <td class="govuk-table__cell govuk-!-width-one-quarter"><%= profile.school_cohort&.lead_provider&.name %></td>
      <td class="govuk-table__cell govuk-!-width-one-quarter"><%= profile.school_cohort&.delivery_partner&.name %></td>
    <% end %>
  <% end %>
  <td class="govuk-table__cell govuk-!-width-one-quarter">
    <%= govuk_link_to schools_participant_path(id: profile, **path_ids), class: "govuk-link--no-visited-state" do %>
      Manage <span class="govuk-visually-hidden"><%= profile.user.full_name %></span>
    <% end %>
  </td>
</tr>
