<% content_for :title, "ECT or mentor details" %>

<% content_for :before_content, govuk_back_link( text: "Back", href: schools_cohort_participants_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= @profile.full_name %></h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @profile.policy_class.new(current_user, @profile).edit_name? %>
            <%= govuk_link_to schools_cohort_participant_edit_name_path(participant_id: @profile) do %>
              Change <span class="govuk-visually-hidden">name</span>
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @induction_record.preferred_identity&.email || @profile.participant_identity&.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @profile.policy_class.new(current_user, @profile).edit_email? %>
            <%= govuk_link_to schools_cohort_participant_edit_email_path(participant_id: @profile) do %>
              Change <span class="govuk-visually-hidden">email address</span>
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.user_description %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <% unless @induction_record.training_status_withdrawn? %>
        <% if @profile.ect? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mentor
            </dt>
            <dd class="govuk-summary-list__value">
              <% if @mentor_profile %>
                <%= govuk_link_to @mentor_profile.full_name, schools_cohort_participant_path(id: @mentor_profile.id) %>
              <% else %>
                Not yet assigned
              <% end %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <% if @mentors_added %>
                <%= govuk_link_to schools_cohort_participant_edit_mentor_path(participant_id: @profile.id) do %>
                  Change <span class="govuk-visually-hidden">mentor</span>
                <% end %>
              <% end %>
            </dd>
          </div>
        <% end %>

        <% if can_appropriate_body_be_changed? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appropriate body
            </dt>
            <dd class="govuk-summary-list__value">
              <%= @induction_record.appropriate_body_name %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <% if @profile.policy_class.new(current_user, @profile).add_appropriate_body? %>
                <%= govuk_link_to (participant_has_appropriate_body? ? "Change" : "Add"), { action: :add_appropriate_body, participant_id: @profile } %>
              <% end %>
            </dd>
          </div>
        <% end %>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <%= render Schools::Participants::Status.new(participant_profile: @profile) %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>
    </dl>

    <% unless @induction_record.leaving_induction_status? && @induction_record.school_transfer %>
      <h3 class="govuk-heading-m">No longer training?</h3>
      <p class="govuk-body">Tell us <%= govuk_link_to "#{@profile.user.full_name} is transferring to another school", schools_transfer_out_participant_check_transfer_path(transfer_out_participant_id: @profile.id) %> </p>
    <% end %>

    <% unless @induction_record.training_status_withdrawn? %>
      <p class="govuk-body">
        <%= render Schools::Participants::RemoveFromCohortComponent.new(induction_record: @induction_record,
                                                                        current_user: current_user) %>
      </p>
    <% end %>

  </div>
</div>
