<% content_for :before_content, govuk_back_link( text: "Back", href: schools_participant_path(id: @profile)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>

    <%= form_for @induction_record.preferred_identity, url: schools_participant_update_email_path, method: :put do |f| %>
    <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email, label: { text: "What’s #{@profile.full_name}’s correct email address?", tag: 'h1', size: 'xl' } %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
