<% content_for :before_content,
               govuk_back_link(text: "Back",
                               href: school_participant_edit_name_path(participant_id: @profile,
                                                                       selected_reason: @reason)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>
    <%= form_with model: @profile.user, scope: '',
                  url: school_participant_update_name_path,
                  method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :full_name,
                             value: nil,
                             width: 'two-thirds',
                             label: { text: t('participant.edit_name', name: @profile.full_name),
                                      size: 'xl',
                                      tag: 'h1',
                                      class: 'govuk-heading-xl' } %>
      <%= f.govuk_submit %>
    <% end %>

  </div>
</div>
