<% content_for :title, "Change mentor" %>

<% if FeatureFlag.active?(:cohortless_dashboard) %>
  <% content_for :before_content,
                 govuk_back_link(text: "Back",
                                 href: FeatureFlag.active?(:cohortless_dashboard) ?
                                         schools_participant_path(id: params[:from_mentor].presence || @profile) :
                                         schools_cohort_participant_path(id: params[:from_mentor].presence || @profile)) %>
<% else %>
  <% content_for :before_content, govuk_back_link(text: "Back",
                                                  href: FeatureFlag.active?(:cohortless_dashboard) ?
                                                          schools_participant_path(id: @profile) :
                                                          schools_cohort_participant_path(id: @profile)) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>

    <%= form_with model: @mentor_form,
                  url: (FeatureFlag.active?(:cohortless_dashboard) ?
                          schools_participant_update_mentor_path(participant_id: @profile, from_mentor: params[:from_mentor]) :
                          schools_cohort_participant_update_mentor_path(participant_id: @profile)),
                  method: :put,
                  id: "school-cohort-participant-update-mentor" do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :mentor_id,
                                         legend: { text: "Who is the mentor for #{@profile.user.full_name}?", tag: 'h1', size: 'xl' } do %>
        <% @mentor_form.available_mentors.each_with_index do |mentor, i| %>
          <%= f.govuk_radio_button :mentor_id, mentor.id, label: { text: mentor.full_name }, link_errors: i == 0 %>
        <% end %>

        <% if FeatureFlag.active?(:cohortless_dashboard) %>
          <%= f.govuk_radio_divider %>
          <%= f.govuk_radio_button :mentor_id, "later", label: { text: 'Assign mentor later' } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>

  </div>
</div>
