<% content_for :title, "Early career teachers and mentors" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Manage mentors and ECTs</h1>

    <%= govuk_button_link_to(
          "Add ECT or mentor",
          start_schools_who_to_add_participants_path(cohort_id: @school.school_cohorts.dashboard_cohorts.first.start_year),
          class: "govuk-link--no-visited-state",
        ) %>

    <% if actions?(@participants) %>
      <hr>
      <h2 class="govuk-heading-m">Actions</h2>

      <% if @participants.orphan_ects.any? %>
        <%= govuk_warning_text(text: "Your school has ECTs with unassigned mentors.") %>
        <h4 class="govuk-heading-s">ECTs with unassigned mentors</h4>
        <% @participants.orphan_ects.each do |ect| %>
          <%= govuk_warning_text(text: govuk_link_to(ect.participant_full_name,
                                                     schools_participant_path(id: ect.participant_profile_id,
                                                                              school_id: @school,
                                                                              cohort_id: ect.cohort_start_year),
                                                     no_visited_state: true),
                                 classes: ["govuk-\!-padding-bottom-static-1 govuk-\!-margin-bottom-static-0"]) %>
        <% end %>
        <br>
      <% end %>

      <% if @participants.orphan_mentors.any? %>
        <%= govuk_warning_text(text: "Your school has mentors with unassigned ECTs.") %>
        <h4 class="govuk-heading-s">Mentors with unassigned ECTs</h4>
        <% @participants.orphan_mentors.each do |mentor| %>
          <%= govuk_warning_text(text: govuk_link_to("Mentor - #{mentor.participant_full_name}",
                                                     schools_participant_path(id: mentor.participant_profile_id,
                                                                              school_id: @school,
                                                                              cohort_id: mentor.cohort_start_year),
                                                     no_visited_state: true),
                                 classes: ["govuk-\!-padding-bottom-static-1 govuk-\!-margin-bottom-static-0"]) %>
        <% end %>
        <br>
      <% end %>

      <% if @participants.no_induction_start_date.any? %>
        <%= govuk_warning_text(text: "Your school has participants with no induction start date.") %>
        <h4 class="govuk-heading-s">Participants with no induction start date</h4>
        <% @participants.no_induction_start_date.each do |ecf| %>
          <%= govuk_warning_text(text: govuk_link_to(ecf.participant_full_name,
                                                     schools_participant_path(id: ecf.participant_profile_id,
                                                                              school_id: @school,
                                                                              cohort_id: ecf.cohort_start_year),
                                                     no_visited_state: true),
                                 classes: ["govuk-\!-padding-bottom-static-1 govuk-\!-margin-bottom-static-0"]) %>
        <% end %>
        <br>
      <% end %>

      <% if @participants.no_qts.any? %>
        <%= govuk_warning_text(text: "Your school has participants with no QTS.") %>
        <h4 class="govuk-heading-s">Participants with no QTS</h4>
        <% @participants.no_qts.each do |ecf| %>
          <%= govuk_warning_text(text: govuk_link_to(ecf.participant_full_name,
                                                     schools_participant_path(id: ecf.participant_profile_id,
                                                                              school_id: @school,
                                                                              cohort_id: ecf.cohort_start_year),
                                                     no_visited_state: true),
                                 classes: ["govuk-\!-padding-bottom-static-1 govuk-\!-margin-bottom-static-0"]) %>
        <% end %>
        <br>
      <% end %>
    <% end %>

    <% @participants.mentors.each do |mentor, ects| %>
      <hr>
      <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
        <% list.row do |row| %>
          <% row.key(text: govuk_link_to("Mentor - #{mentor.participant_full_name}",
                                         schools_participant_path(id: mentor.participant_profile_id,
                                                                  school_id: @school,
                                                                  cohort_id: mentor.cohort_start_year),
                                         no_visited_state: true),
                     classes: ["govuk-\!-width-one-half"]) %>
          <% row.value(text: render(ParticipantStatusTagComponent.new(profile: mentor.participant_profile, induction_record: mentor))) %>
        <% end %>

        <% list.row do |row| %>
          <% row.key(text: "ECTs") %>
        <% end %>

        <% ects.each do |ect| %>
          <% list.row do |row| %>
            <% row.key(text: govuk_link_to("#{ect.participant_full_name}",
                                           schools_participant_path(id: ect.participant_profile_id,
                                                                    school_id: @school,
                                                                    cohort_id: ect.cohort_start_year),
                                           no_visited_state: true),
                       classes: ["govuk-!-font-weight-regular", "govuk-\!-padding-bottom-static-0"]) %>
            <% row.value(text: render(ParticipantStatusTagComponent.new(profile: ect.participant_profile,
                                                                        induction_record: ect)),
                         classes: ["govuk-\!-padding-bottom-static-0"]) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% @participants.orphan_mentors.each do |mentor| %>
      <hr>
      <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
        <% list.row do |row| %>
          <% row.key(text: govuk_link_to("Mentor - #{mentor.participant_full_name}",
                                         schools_participant_path(id: mentor.participant_profile_id,
                                                                  school_id: @school,
                                                                  cohort_id: mentor.cohort_start_year),
                                         no_visited_state: true),
                     classes: ["govuk-\!-width-one-half"]) %>
          <% row.value(text: render(ParticipantStatusTagComponent.new(profile: mentor.participant_profile, induction_record: mentor))) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
