<% content_for :title, "Early career teachers and mentors" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <% if participants_count(@school.school_cohorts) > 0 %>
    <div class="govuk-width-container">
      <%= render GovukComponent::NotificationBannerComponent.new(title_text: 'Important', classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-5', html_attributes: { data: { test: "notification-banner" } }) do |banner| %>
        <p class="govuk-notification-banner__heading">Do not remove ECTs or mentors who have completed their induction
          and training.</p>
        <p class="govuk-notification-banner__heading">Your appropriate body and provider will confirm this with us soon,
          and we’ll update their records.</p>
      <% end %>
    </div>
  <% end %>

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @school.name %></span>
    <h1 class="govuk-heading-l">Manage mentors and ECTs</h1>

    <%= govuk_button_link_to("Add ECT or mentor",
                             schools_who_to_add_start_path(school_id: @school.slug), no_visited_state: true) %>

  </div>
</div>

<div class="govuk-grid-row wrapper-dashboard-v2">
  <div class="govuk-grid-column-one-third">
    <div class="filter">
      <%= form_for @filter, as: '', url: school_participants_path(@school), method: :get do |f| %>
        <%= f.govuk_error_summary %>
        <%= f.govuk_collection_radio_buttons(
                :filtered_by,
                @filter.filter_options,
                :id,
                :label,
                legend: { text: 'Show', tag: 'h2', size: 's' },
                classes: ["govuk-\!-padding-right-1"],
                include_hidden: false,
                small: true,
            ) %>
        <%= f.govuk_submit "Apply filter", secondary: true %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="manage-mentors-ects govuk-!-margin-bottom-8">
      <%= case @filter.filtered_by.to_s
          when "currently_training"
            render "currently_training", filter: @filter, school: @school, participants: @participants
          when "completed_induction"
            render "completed_induction", filter: @filter, school: @school, participants: @participants
          else
            render "no_longer_training", filter: @filter, school: @school, participants: @participants
          end %>
    </div>
  </div>
</div>
