<% content_for :title, "Early career teachers and mentors" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Your ECTs and mentors</h1>

    <p class="govuk-body">Before your early career teachers (ECTs) and mentors can start, we need to check their details in the Teaching Regulation Agency records. This is to make sure they’re eligible for this programme.</p>

    <p class="govuk-body">You need to tell us their names and email addresses. We’ll then contact them to <%= govuk_link_to "explain their role", roles_schools_cohort_path, class: "govuk-link--no-visited-state" %> and what they need to do next.</p>
  </div>
</div>

<div class="govuk-inset-text">
  <ul class="govuk-list">
    <li><%= govuk_link_to "Add a new ECT", add_schools_participants_path(cohort_id: @school_cohort.cohort.start_year, type: :ect), class: "govuk-link--no-visited-state" %></li>
    <li><%= govuk_link_to "Add a new mentor", add_schools_participants_path(cohort_id: @school_cohort.cohort.start_year, type: :mentor), class: "govuk-link--no-visited-state" %></li>
    <% unless current_user.mentor? %>
      <li><%= govuk_link_to "Add yourself as a mentor", add_schools_participants_path(cohort_id: @school_cohort.cohort.start_year, type: :self), class: "govuk-link--no-visited-state" %></li>
    <% end %>
  </ul>
</div>

<% if @participant_profiles.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Full name</th>
        <th scope="col" class="govuk-table__header">Role</th>
        <th scope="col" class="govuk-table__header">Mentor</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @participant_profiles.each do |profile| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= govuk_link_to profile.user.full_name, schools_participant_path(id: profile.id) %></th>
          <td class="govuk-table__cell"><%= t(profile.participant_type, scope: "schools.participants.type") %></td>
          <td class="govuk-table__cell">
            <% if @mentors_added %>
              <% if profile.ect? %>
                <% if profile.mentor %>
                  <%= profile.mentor.full_name %>
                <% else %>
                  <%= govuk_link_to("Assign mentor", schools_participant_edit_mentor_path(participant_id: profile.id)) %>
                <% end %>
              <% else %>
                - <span class="govuk-visually-hidden">Not applicable</span>
              <% end %>
            <% else %>
              No mentors added
            <% end %>
          </td>
          <td class="govuk-table__cell">
            <%= render ParticipantStatusTagComponent.new(profile: profile) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body-l">No participants found for this school.</p>
<% end %>
