<% content_for :title, "Early career teachers and mentors" %>

<% content_for :before_content, govuk_breadcrumbs(breadcrumbs: breadcrumbs(@school, @cohort)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l"><%= @cohort.display_name %> cohort</span>
    <h1 class="govuk-heading-l">Your early career teachers (ECTs) and mentors</h1>

    <%= govuk_link_to "Add a new ECT or mentor", add_schools_participants_path, button: true %>

    <p class="govuk-body">
      We will verify your ECTs and mentors. Here you can check their status or select a name for more details.
    </p>
  </div>
</div>


<% if @participants.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Full name</th>
        <th scope="col" class="govuk-table__header">Type</th>
        <th scope="col" class="govuk-table__header">Mentor</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @participants.each do |participant| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= govuk_link_to participant.full_name, schools_participant_path(id: participant) %></th>
          <td class="govuk-table__cell"><%= t(participant.mentor? ? :mentor : :ect, scope: "schools.participants.type") %></td>
          <td class="govuk-table__cell">
            <% if @mentors_added %>
              <% if participant.early_career_teacher? %>
                <%= (mentor = participant.early_career_teacher_profile.mentor) ?
                      mentor.full_name :
                      govuk_link_to("Assign mentor", schools_participant_edit_mentor_path(participant_id: participant.id)) %>
              <% else %>
                - <span class="govuk-visually-hidden">Not applicable</span>
              <% end %>
            <% else %>
              No mentors added
            <% end %>
          </td>
          <td class="govuk-table__cell">
            <%= render GovukComponent::Tag.new(text: "Pending", colour: "grey") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body-l">No participants found for this school.</p>
<% end %>
