<% content_for :title, "Early career teachers and mentors" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Manage mentors and ECTs</h1>

    <div class="wrapper-dashboard-v2 manage-mentors-ects">
      <%= govuk_button_link_to(
            "Add ECT or mentor",
            schools_who_to_add_start_path(school_id: @school.slug)
          ) %>
      <% unless current_user.mentor? %>
        <%= govuk_button_link_to("Add yourself as mentor", schools_who_to_add_sit_start_path) %>
      <% end %>

      <% if actions?(@participants) %>
        <% if @participants.orphan_ects.any? %>
          <%= govuk_warning_text(text: "You need to assign a mentor to these ECTs.") %>
          <ul class="govuk-list">
            <% @participants.orphan_ects.sort_by(&:participant_full_name).each do |ect| %>
              <li>
                <%= govuk_link_to(ect.participant_full_name,
                                  school_participant_path(id: ect.participant_profile_id, school_id: @school),
                                  no_visited_state: true,
                                  classes: ["govuk-\!-padding-bottom-static-1 govuk-\!-margin-bottom-static-0"]) %>
              </li>
            <% end %>
          </ul>
          <br>
        <% end %>
      <% end %>

      <% @participants.mentors.keys.sort_by(&:participant_full_name).each do |mentor| %>
        <div class="group-card" aria-label="Mentor group">
          <h2 class="govuk-visually-hidden">Mentor group</h2>

          <h3 class="govuk-heading-s">
            Mentor <span class="govuk-visually-hidden">- <%= mentor.participant_full_name %></span>
          </h3>
          <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
            <% list.row do |row| %>
              <% row.key(text: govuk_link_to(mentor.participant_full_name,
                                             school_participant_path(id: mentor.participant_profile_id,
                                                                      school_id: @school),
                                             no_visited_state: true),
                         classes: ["govuk-!-font-weight-regular"]) %>
              <% row.value(
                   text: render(StatusTags::SchoolParticipantStatusTag.new(
                     participant_profile: mentor.participant_profile,
                     induction_record: mentor,
                     display_description: false))) %>
            <% end %>
          <% end %>

          <h3 class="govuk-heading-s">
            ECTs <span class="govuk-visually-hidden">mentored by <%= mentor.participant_full_name %></span>
          </h3>

          <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
            <% @participants.mentors[mentor].sort_by(&:participant_full_name).each do |ect| %>
              <% list.row do |row| %>
                <% row.key(text: govuk_link_to("#{ect.participant_full_name}",
                                               school_participant_path(id: ect.participant_profile_id,
                                                                        school_id: @school),
                                               no_visited_state: true),
                           classes: ["govuk-!-font-weight-regular", "govuk-\!-padding-bottom-static-0"]) %>
                <% row.value(
                     text: render(StatusTags::SchoolParticipantStatusTag.new(
                       participant_profile: ect.participant_profile,
                       induction_record: ect,
                       display_description: false)),
                     classes: ["govuk-\!-padding-bottom-static-0"]) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <br>
      <% end %>

      <% if @participants.orphan_mentors.any? %>
        <h3 class="govuk-heading-s">
          <%= @participants.orphan_mentors.many? ? "Mentors" : "Mentor" %><span class="govuk-visually-hidden"> not assigned to any ECT</span>
        </h3>

        <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
          <% @participants.orphan_mentors.sort_by(&:participant_full_name).each do |mentor| %>
            <% list.row do |row| %>
              <% row.key(text: govuk_link_to(mentor.participant_full_name,
                                             school_participant_path(id: mentor.participant_profile_id,
                                                                      school_id: @school),
                                             no_visited_state: true),
                         classes: ["govuk-!-font-weight-regular", "govuk-\!-padding-bottom-static-0"]) %>
              <% row.value(
                   text: render(StatusTags::SchoolParticipantStatusTag.new(
                     participant_profile: mentor.participant_profile,
                     induction_record: mentor,
                     display_description: false)),
                   classes: ["govuk-\!-padding-bottom-static-0"]) %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
