<% content_for :title, "ECT or mentor details" %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: schools_participants_path)
%>

<span class="govuk-caption-l"><%= @cohort.display_name %> cohort</span>
<h1 class="govuk-heading-l"><%= @participant.full_name %> <%= render GovukComponent::Tag.new(text: "Not started", colour: "grey") %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-inset-text">We will let you know if we need any more details, such as their Teacher Reference Number (TRN). We will also update you on their status.</p>

    <h2 class="govuk-heading-m">Participant details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @participant.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @participant.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @participant.user_description %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <% if @participant.early_career_teacher? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mentor
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @mentor %>
              <%= govuk_link_to @mentor.full_name, schools_participant_path(id: @mentor.id) %>
            <% else %>
              Not yet assigned
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= govuk_link_to schools_participant_edit_mentor_path(participant_id: @participant.id) do %>
              Change <span class="govuk-visually-hidden">mentor</span>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
