<% content_for :title, "ECT or mentor details" %>

<% content_for :before_content, govuk_back_link( text: "Back", href: schools_participants_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>
        <h1 class="govuk-heading-xl"><%= @profile.user.full_name %></h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.user.full_name %>
        </dd>
        <% unless @profile.training_status_withdrawn? %>
          <dd class="govuk-summary-list__actions">
            <% if @profile.policy_class.new(current_user, @profile).edit_name? %>
              <%= govuk_link_to schools_participant_edit_name_path(participant_id: @profile) do %>
                Change <span class="govuk-visually-hidden">name</span>
              <% end %>
            <% end %>
          </dd>
        <% end %>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @induction_record.preferred_identity.email %>
        </dd>
        <% unless @profile.training_status_withdrawn? %>
          <dd class="govuk-summary-list__actions">
            <% if @profile.policy_class.new(current_user, @profile).edit_email? %>
              <%= govuk_link_to schools_participant_edit_email_path(participant_id: @profile) do %>
                Change <span class="govuk-visually-hidden">email address</span>
              <% end %>
            <% end %>
          </dd>
        <% end %>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Induction start
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @first_induction_record&.start_date.to_date.to_s(:govuk) %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.user.user_description %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <% unless @profile.training_status_withdrawn? %>
        <% if @profile.ect? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mentor
            </dt>
            <dd class="govuk-summary-list__value">
              <% if @mentor %>
                <%= govuk_link_to @mentor.full_name, schools_participant_path(id: @mentor.mentor_profile.id) %>
              <% else %>
                Not yet assigned
              <% end %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <% if @mentors_added %>
                <%= govuk_link_to schools_participant_edit_mentor_path(participant_id: @profile.id) do %>
                  Change <span class="govuk-visually-hidden">mentor</span>
                <% end %>
              <% end %>
            </dd>
          </div>
        <% end %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <%= render Schools::Participants::Status.new(participant_profile: @profile) %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>
    </dl>


<% unless @profile.training_status_withdrawn? %>
  <p class="govuk-body"><%= render Schools::Participants::RemoveFromCohortComponent.new(profile: @profile, current_user: current_user) %></p>
<% end %>

</div>
</div>
