<% content_for :title, "ECT or mentor details" %>

<% content_for :before_content, govuk_breadcrumbs(
  breadcrumbs: breadcrumbs(@school).merge({ "Early career teachers and mentors" => schools_participants_path })
) %>

<span class="govuk-caption-l"><%= @cohort.display_name %> cohort</span>
<h1 class="govuk-heading-l"><%= @profile.user.full_name %> <%= render ParticipantStatusTagComponent.new(profile: @profile) %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Participant details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.user.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to schools_participant_edit_name_path(participant_id: @profile) do %>
            Change <span class="govuk-visually-hidden">name</span>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to schools_participant_edit_email_path(participant_id: @profile) do %>
            Change <span class="govuk-visually-hidden">email</span>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @profile.user.user_description %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <% if @profile.ect? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mentor
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @mentor %>
              <%= govuk_link_to @mentor.full_name, schools_participant_path(id: @mentor.mentor_profile.id) %>
            <% else %>
              Not yet assigned
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% if @mentors_added %>
              <%= govuk_link_to schools_participant_edit_mentor_path(participant_id: @profile.id) do %>
                Change <span class="govuk-visually-hidden">mentor</span>
              <% end %>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>

<%= render Schools::Participants::RemoveFromCohortComponent.new(profile: @profile) %>
