<% content_for :title, t('participant.email_edited', name: @profile.full_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
      <h1 class="govuk-panel__title">
        <%= t('participant.email_edited', name: @profile.full_name) %>
      </h1>
    </div>

    <ul class="govuk-list">
      <% if @profile.mentor? %>
        <li><%= govuk_link_to "Return to their details",
                            school_mentor_path(id: @profile),
                            no_visited_state: true %></li>
        <li><%= govuk_link_to "Return to manage mentors",
                              school_mentors_path,
                              no_visited_state: true %></li>
      <% else %>
        <li><%= govuk_link_to "Return to their details",
                              school_early_career_teacher_path(id: @profile),
                              no_visited_state: true %></li>
        <li><%= govuk_link_to "Return to manage ECTs",
                              school_early_career_teachers_path,
                              no_visited_state: true %></li>
      <% end %>
    </ul>
  </div>
</div>
