<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= full_name %>
  </td>
  <td class="govuk-table__cell">
    <%= email %>
  </td>
  <td class="govuk-table__cell">
    <%= teacher_profile.trn %>
  </td>
  <td class="govuk-table__cell">
    <%= role %>
  </td>
  <td class="govuk-table__cell">
    <%= lead_provider_name %>
  </td>
  <td class="govuk-table__cell">
    <%= school&.name %>
  </td>
  <td class="govuk-table__cell">
    <%= school&.urn %>
  </td>
  <td class="govuk-table__cell">
    <%= cohort&.start_year %>
  </td>
  <td class="govuk-table__cell">
    <%= training_status %>
  </td>
  <td class="govuk-table__cell">
    <%= render StatusTags::DeliveryPartnerParticipantStatusTag.new(participant_profile:, induction_record:) %>
  </td>
</tr>
