<% content_for :title, "What’s the induction tutors email address" %>
<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: full_name_nominate_induction_coordinator_path)
%>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @nominate_induction_tutor_form.school.name %></span>

        <%= form_for @nominate_induction_tutor_form, url: { action: :check_email }, method: :put do |f| %>
        <%= f.govuk_error_summary %>
            <div class="govuk-form-group">
              <%= f.govuk_text_field(
                :email,
                label: { text: "What’s #{possessive_name(@nominate_induction_tutor_form.full_name)} email address?",
                tag: "h1",
                size: "xl" },
                width: "two-thirds") do %>

                <p class="govuk-body">We’ll use this address to contact them with more information.</p>
                <% end %>
            </div>
            <%= f.hidden_field :token, value: @nominate_induction_tutor_form.token %>
            <%= f.govuk_submit "Continue" %>
        <% end %>

    </div>
</div>
