<% content_for :title, "Induction tutor details" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter details to nominate your induction tutor</h1>

    <div class="govuk-!-margin-bottom-9">
      <%= render partial: 'nominations/school_details', locals: { school: @nominate_induction_tutor_form.school, title: "Your school" } %>
    </div>
    <%= form_with model: @nominate_induction_tutor_form, url: nominate_induction_coordinator_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Who do you want to nominate?</h2>
        <p class="govuk-body">If you think this is your role, you can nominate yourself.</p>
        <div class="govuk-form-group">
          <%= f.govuk_text_field(:full_name, label: { text: "Full name" }) %>
        </div>
        <div class="govuk-form-group">
          <%= f.govuk_email_field(
                :email,
                label: { text: "Work email address" },
                hint: { text: "They will sign in with this email and get future notifications about this service" }) %>
        </div>
      </div>
      <%= f.hidden_field :token, value: @nominate_induction_tutor_form.token %>
      <%= f.govuk_submit "Confirm" %>
    <% end %>
  </div>
</div>
