<% content_for :title, "Edit admin user" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_administrators_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Edit user details</h1>
    <%= form_for(@administrator, url: admin_administrator_path(@administrator)) do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field(
            :full_name,
            label: { text: "Full name" })
      %>
      <%= f.govuk_email_field(
            :email,
            label: { text: "Email" })
      %>
      <div class="govuk-button-group">
        <%= f.govuk_submit "Save" %>
        <% if current_user.id != @administrator.id %>
          <%= govuk_link_to "Delete", delete_admin_administrator_path(@administrator), button: true, class: "govuk-button--warning", "data-test" => "delete-button" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
