<% content_for :title, "Add admin user" %>
<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: admin_administrators_path)
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Add a new admin user</h1>
    <p class="govuk-body">This should be someone from the Department for Education</p>
    <%= form_for @user, url: confirm_admin_administrators_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field(:full_name, label: { text: "Full name" }) %>
      <%= f.govuk_email_field(:email) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
