<%= govuk_summary_list do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key { "Name" } %>
    <% row.with_value { form.full_name } %>
    <% unless form.found_participant_in_dqt? %>
      <% row.with_action(text: "Change",
                         visually_hidden_text: "name",
                         href: form.change_path_for(step: :name)) %>
    <% else %>
      <% row.with_action() %>
    <% end %>
  <% end %>

  <% if form.trn %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "TRN" } %>
      <% row.with_value { form.trn } %>
      <% unless form.found_participant_in_dqt? %>
        <% row.with_action(text: "Change",
                           visually_hidden_text: "TRN",
                           href: form.change_path_for(step: :trn)) %>
      <% else %>
        <% row.with_action() %>
      <% end %>
    <% end %>
  <% end %>

  <% if form.date_of_birth %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Date of birth" } %>
      <% row.with_value { form.date_of_birth.to_date.to_fs(:govuk) } %>
      <% unless form.found_participant_in_dqt? %>
        <% row.with_action(text: "Change",
                           visually_hidden_text: "date of birth",
                           href: form.change_path_for(step: :date_of_birth)) %>
      <% else %>
        <% row.with_action() %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Email address" } %>
    <% row.with_value { form.email } %>
    <% row.with_action(text: "Change",
                       visually_hidden_text: "email address",
                       href: form.change_path_for(step: :email)) %>
  <% end %>

  <% if form.start_date %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Joining date" } %>
      <% row.with_value { form.start_date.to_date.to_fs(:govuk) } %>
      <% row.with_action(text: "Change",
                         visually_hidden_text: "joining date",
                         href: form.change_path_for(step: :joining_date)) %>
    <% end %>
  <% end %>

  <% if form.ect_participant? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Mentor" } %>
      <% row.with_value { form.mentor.present? ? form.mentor.full_name : "Add later" } %>
      <% if !form.sit_mentor? && form.mentor_options.any? %>
        <% row.with_action(text: "Change",
                           visually_hidden_text: "mentor",
                           href: form.change_path_for(step: :"choose-mentor")) %>
      <% else %>
        <% row.with_action() %>
      <% end %>
    <% end %>
  <% end %>

  <% if form.appropriate_body_selected.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Appropriate body" } %>
      <% row.with_value do %>
        <p class="govuk-body"><%= form.appropriate_body_selected.name %></p>
      <% end %>
      <% row.with_action(text: "Change",
                         visually_hidden_text: "mentor",
                         href: form.change_path_for(step: :"appropriate-body")) %>
    <% end %>
  <% end %>

  <% if form.show_training_provider_section? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Training with" } %>
      <% if form.continue_current_programme? %>
        <% row.with_value do %>
          <div><%= form.existing_lead_provider&.name %></div>
          <div><%= form.existing_delivery_partner&.name %></div>
        <% end %>
        <% if form.needs_to_confirm_programme? %>
          <% row.with_action(text: "Change",
                             visually_hidden_text: "training programme",
                             href: form.change_path_for(step: :continue_current_programme)) %>
        <% else %>
          <% row.with_action(text: :none) %>
        <% end %>
      <% elsif form.join_school_programme? %>
        <% row.with_value do %>
          <div><%= form.join_current_cohort_school_programme? ? form.current_cohort_lead_provider.name : form.lead_provider.name %></div>
          <div><%= form.join_current_cohort_school_programme? ? form.current_cohort_delivery_partner.name : form.delivery_partner.name %></div>
        <% end %>
        <% if form.needs_to_confirm_programme? %>
          <% row.with_action(text: "Change",
                             visually_hidden_text: "training programme",
                             href: form.change_path_for(step: :continue_current_programme)) %>
        <% elsif form.needs_to_choose_school_programme? %>
          <% row.with_action(text: "Change",
                             visually_hidden_text: "training programme",
                             href: form.change_path_for(step: :join_school_programme)) %>
        <% else %>
          <% row.with_action(text: :none) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
