<% title = "You cannot add #{@wizard.sit_mentor? ? "yourself" : @wizard.full_name}" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">
      <%= title %> without <%= @wizard.sit_mentor? ? "your" : "their" %> TRN
    </h1>

    <p class="govuk-body">If <%= @wizard.sit_mentor? ? "you" : "they" %>:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>had a TRN but cannot find it, <%= "ask them to" unless @wizard.sit_mentor? %> use the
        <%= govuk_link_to "find a lost TRN service (opens in new tab)",
                          "https://find-a-lost-trn.education.gov.uk/start",
                          target: :_blank,
                          no_visited_state: true %>
      </li>
      <li>have never had one, <%= @wizard.sit_mentor? ? "you" : "they" %>’ll need to
        <%= govuk_link_to "get a TRN (opens in new tab)",
                          get_a_trn_participants_start_registrations_path,
                          target: :_blank,
                          no_visited_state: true %>
      </li>
    </ul>

    <%= govuk_link_to "Return to your ECTs and mentors", @wizard.dashboard_path, no_visited_state: true %>
  </div>
</div>
