<% content_for :title, "This ECT’s training record needs to be transferred manually" %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"><%= @school.name %></span>
        <h1 class="govuk-heading-xl"><%= @wizard.full_name.presence || "This ECT" %>’s training record needs to be
            transferred manually</h1>

        <p class="govuk-body">Email our support team at
            <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk" %>
        </p>

        <p class="govuk-body">Include their:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>full name</li>
            <li>teacher reference number</li>
            <li>date of birth</li>
            <li>email address (personal or school)</li>
            <li>start date at your school</li>
            <li>previous school's name</li>
        </ul>

        <p class="govuk-body">Tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>how <%= @wizard.full_name || "the ECT" %> will continue their ECF-based training at your school - for
                example, with a DfE-funded training provider
            </li>
            <li>the lead provider and delivery partner you’ve chosen for their training, if applicable</li>
        </ul>

        <%= govuk_link_to "View your ECTs and mentors", @wizard.dashboard_path, no_visited_state: true %>
    </div>
</div>
