<% content_for :title, "Confirm these details" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %> - <%= @cohort.display_name %> cohort</span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <div><%= add_participant_form.full_name %></div>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless add_participant_form.type == :self %>
            <% unless add_participant_form.dqt_record.present? %>
              <%= govuk_link_to({ action: :show, step: "name" }) do %>
                Change <span class="govuk-visually-hidden">name</span>
              <% end %>
            <% end %>
          <% end %>
        </dd>
      </div>

      <% if add_participant_form.trn %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            TRN
          </dt>
          <dd class="govuk-summary-list__value">
            <div><%= add_participant_form.trn %></div>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% unless add_participant_form.dqt_record.present? %>
              <%= govuk_link_to({ action: :show, step: "name" }) do %>
                Change <span class="govuk-visually-hidden">TRN</span>
              <% end %>
            <% end %>
          </dd>
        </div>
      <% end %>

      <% if add_participant_form.dob %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            <div><%= add_participant_form.dob.to_date.to_s(:govuk) %></div>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% unless add_participant_form.dqt_record.present? %>
              <%= govuk_link_to({ action: :show, step: "name" }) do %>
                Change <span class="govuk-visually-hidden">dob</span>
              <% end %>
            <% end %>
          </dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <div><%= add_participant_form.email %></div>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless add_participant_form.type == :self %>
            <%= govuk_link_to({ action: :show, step: "email" }) do %>
              Change <span class="govuk-visually-hidden">email</span>
            <% end %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start induction
        </dt>
        <dd class="govuk-summary-list__value">
          <div>
            <%= add_participant_form.start_term.humanize %>
          </div>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to({ action: :show, step: "start-term" }) do %>
            Change <span class="govuk-visually-hidden">term</span>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Induction start
        </dt>
        <dd class="govuk-summary-list__value">
          <div>
            <%= add_participant_form.start_date.to_date.to_s(:govuk) %>
          </div>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to({ action: :show, step: "start-date" }) do %>
            Change <span class="govuk-visually-hidden">start date</span>
          <% end %>
        </dd>
      </div>


      <% if add_participant_form.type == :ect %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mentor
          </dt>
          <dd class="govuk-summary-list__value">
            <div>
              <% if add_participant_form.mentor %>
                <%= add_participant_form.mentor.full_name %>
              <% else %>
                <i>Add later</i>
              <% end %>
            </div>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% if add_participant_form.type != :self && add_participant_form.mentor_options.any? %>
              <%= govuk_link_to({ action: :show, step: "choose-mentor" }) do %>
                Change <span class="govuk-visually-hidden">mentor</span>
              <% end %>
            <% end %>
          </dd>
        </div>
      <% end %>

      <% if @school_cohort.default_induction_programme %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Training with
          </dt>
          <dd class="govuk-summary-list__value">
            <div>
              <%= @school_cohort.default_induction_programme.lead_provider.name %>
            </div>
            <div>
              <%= @school_cohort.default_induction_programme.delivery_partner.name %>
            </div>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      <% end %>
    </dl>
    <% unless add_participant_form.dqt_record %>
      <p class="govuk-body">We’ll contact this person for information needed to check they’re eligible for this training programme.</p>
    <% end %>
    <%= form_for add_participant_form, url: { action: :complete }, method: :post do |f| %>
      <%= f.govuk_submit "Confirm and add" %>
    <% end %>
  </div>
</div>
