<% content_for :title, "Check your answers" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <% if add_participant_form.type == :self %>
      <%= render partial: 'sit_confirm_self_details_summary', locals: { add_participant_form: add_participant_form } %>
    <% else %>
      <%= render partial: 'ect_or_mentor_details_summary', locals: { add_participant_form: add_participant_form } %>
    <% end %>

    <%= form_for add_participant_form, url: { action: :complete }, method: :post do |f| %>
      <%= f.govuk_submit "Confirm and add" %>
    <% end %>
  </div>
</div>
