<% title = "Is this the appropriate body for #{@wizard.possessive_name} induction?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl"><%= @school.name %></span>
      <h1 class="govuk-heading-xl"><%= title %></h1>

      <%= govuk_inset_text(text: @wizard.school_cohort.appropriate_body.name) %>

      <%= govuk_link_to "They have a different appropriate body", url_for({ action: :change_appropriate_body }) %>

      <%= form_with model: @wizard.form, url: url_for(action: :update), scope: @wizard.form_scope, method: :put do |f| %>
        <%= f.govuk_error_summary %>
        <%= f.hidden_field :appropriate_body_confirmed, value: "1" %>
        <%= f.govuk_submit "Confirm", classes: "govuk-!-margin-top-6" %>
      <% end %>
    </div>
</div>
