<% title = "Will they continue with these training providers?" %>

<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @school.name %></span>

    <h1 class="govuk-heading-l">Training programme</h1>
    <p class="govuk-body"><%= @wizard.full_name %> is currently training with:</p>
    <%= govuk_summary_list do |sl|
      sl.with_row do |row|
        row.with_key(text: "Lead Provider")
        row.with_value(text: @wizard.existing_lead_provider.name)
      end

      sl.with_row do |row|
        row.with_key(text: "Delivery Partner")
        row.with_value(text: @wizard.existing_delivery_partner.name)
      end

      if @wizard.existing_participant_profile.induction_start_date
        sl.with_row do |row|
          row.with_key(text: "Status")
          row.with_value(text: "Induction started on #{@wizard.existing_participant_profile.induction_start_date.to_fs(:govuk)}")
        end
      end
    end %>

    <%= form_with model: @wizard.form, url: url_for(action: :update), scope: @wizard.form_scope, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
          :continue_current_programme,
          keep_providers_options,
          :id, :name,
          inline: true,
          legend: { text: title, tag: 'h2', size: 'm' }) do %>
      <% end %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
