<% title = "Will #{@wizard.full_name } continue with their current training programme?" %>

<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <%= form_with model: @wizard.form, url: url_for(action: :update), scope: @wizard.form_scope, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
        :continue_current_programme,
        simple_yes_no_options,
        :id, :name,
        inline: true,
        legend: { text: title, tag: 'h1', size: 'xl' }) do %>

        <% if @wizard.transfer_has_same_provider_and_different_delivery_partner? %>
          <p class="govuk-body">This is the same lead provider, but a different delivery partner to other ECT’s and mentors at your school.</p>
        <% else %>
          <p class="govuk-body">This is a different programme to other ECT’s and mentors at your school.</p>
        <% end %>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
        <p class="govuk-body govuk-!-margin-bottom-1"><%= @wizard.existing_lead_provider&.name %></p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
        <p class="govuk-body"><%= @wizard.existing_delivery_partner&.name %></p>
      <% end %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
