<% content_for :title, "Enter full name to confirm" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for add_participant_form, url: { action: :update }, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-xl"><%= @school.name %> - <%= @cohort.display_name %> cohort</span>
      <% if add_participant_form.type == :ect %>
        <h1 class="govuk-heading-xl">What’s the full name of this ECT?</h1>
      <% else %>
        <h1 class="govuk-heading-xl">What’s the full name of this mentor?</h1>
      <% end %>

      <%= f.govuk_text_field :full_name, width: "three-quarters", label: { hidden: true } %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
