<% title = "We need some more information" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">Before you can register <%= @wizard.full_name_or_yourself %> for ECF-based training at your school,
      you’ll need to set up training for the <%= @wizard.cohort_to_place_participant.description %> academic year.
      <% if @wizard.transfer? %>
        This is because they started training in that year at a previous school.
      <% end %>
    </p>

    <%= render GovukComponent::InsetTextComponent.new(text: "The name, TRN and date of birth you have entered will not be saved.
          You will need to enter this information again once you have set up the training.") %>
  
    <%= govuk_button_link_to "Continue to set up training", @wizard.need_training_path %>
  </div>
</div>
