<% content_for :title, "Choose type of participant" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @school.name %>, <%= @cohort.display_name %> cohort</span>

    <h1 class="govuk-heading-xl">Add your early career teachers and mentors</h1>

    <p class="govuk-body">You need to add details of the early career teachers and mentors in this cohort.</p>

    <p class="govuk-body">You should do this as soon as possible, before they start their induction programme.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Why do I need to do this?</span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">This is so we can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>check that their details match our records</li>
          <li>make sure they have Qualified Teacher Status (QTS)</li>
          <li>ensure they are eligible to complete their induction or act as a mentor</li>
        </ul>
      </div>
    </details>

    <%= form_for add_participant_form, url: { action: :update }, method: :patch do |f| %>
      <%= f.hidden_field :type, value: '' %>
      <%= f.govuk_radio_buttons_fieldset :type,
        legend: { text: "Do you want to add an early career teacher (ECT) or a mentor?" } do %>

        <%= f.govuk_radio_button :type, :ect, label: { text: t("schools.participants.type.ect") } %>
        <%= f.govuk_radio_button :type, :mentor, label: { text: t("schools.participants.type.mentor") } %>

        <% if add_participant_form.can_add_self? %>
          <%= f.govuk_radio_divider %>
          <%= f.govuk_radio_button :type, "self", label: { text: 'Myself as a mentor' } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
