<div class="govuk-!-margin-bottom-9">
  <%= tag.h2(heading, class: "govuk-heading-m") %>

  <% if empty? %>

    <p class="govuk-body">No induction programme chosen for <%= school.name %> in <%= cohort.academic_year %>.</p>

    <%= govuk_button_link_to "Choose an induction programme", admin_school_change_programme_path(id: cohort.start_year, school_id: school.slug), secondary: true %>

  <% elsif fip? %>

    <% if has_partnerships_or_relationships? %>
      <% partnership_components.each do |pc| %>
        <%= pc %>
      <% end %>

      <% if relationships.present? %>
        <h3 class="govuk-heading-m">Additional relationships</h3>

        <% relationship_components.each do |rc| %>
          <%= rc %>
        <% end %>
      <% end %>
    <% else %>
      <%=
        govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: "Training programme")
            row.with_value(text: training_programme)

            if allow_change_programme?
              row.with_action(text: "Change", visually_hidden_text: "training programme",  href: change_programme_href)
            end
          end

          summary_list.with_row do |row|
            row.with_key(text: "Appropriate body")
            row.with_value(text: school_cohort&.appropriate_body&.name || "No appropriate body")
            row.with_action(text: "Change", visually_hidden_text: "appropriate body", href: change_appropriate_body_href)
          end
        end
      %>
    <% end %>

  <% else %>

    <%=
      govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key(text: "Training programme")
          row.with_value(text: training_programme)

          if allow_change_programme?
            row.with_action(text: "Change", visually_hidden_text: "induction programme",  href: change_programme_href)
          end
        end

        if cip?
          summary_list.with_row do |row|
            row.with_key(text: "Materials supplier")
            row.with_value(text: materials)
            row.with_action(text: "Change", visually_hidden_text: "materials supplier", href: change_materials_href)
          end

          summary_list.with_row do |row|
            row.with_key(text: "Appropriate body")
            row.with_value(text: school_cohort&.appropriate_body&.name || "No appropriate body")
            row.with_action(text: "Change", visually_hidden_text: "appropriate body", href: change_appropriate_body_href)
          end
        end
      end
    %>

  <% end %>
</div>
