<%= govuk_panel title: "Supplier added", body: nil %>
<p><%= @lead_provider.name %> has been added as a Lead Provider</p>
<p>Back to <%= govuk_link_to "manage suppliers", admin_suppliers_path %></p>
<%= govuk_link_to "Add another supplier", new_admin_supplier_path, button: true %>
<%= govuk_link_to "Add a user for this supplier", "#", button: true, class: "govuk-button--secondary" %>
