<% content_for :title, "Sign in" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Sign in</h1>
      <div class="govuk-form-group">
        <%= f.govuk_email_field :email, label: { text: "Email address" } %>
      </div>

      <%= f.govuk_submit "Sign in" %>
    <% end %>
    <h2 class="govuk-heading-m">How you can access this service</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>you must be nominated or sent sign in details to access this service. <%= govuk_link_to "Find out how to get an account", check_account_path %></li>
      <li>we don’t use DfE sign in or passwords, you just need your account’s email address</li>
    </ul>
  </div>
</div>
