<% content_for :title, "Sign in" %>
<% content_for :before_content %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.govuk_error_summary %>

            <h1 class="govuk-heading-xl">Sign in</h1>
            <div class="govuk-form-group">
                <%= f.govuk_email_field :email, label: { text: "Email address" } %>
            </div>
            <%= f.govuk_submit "Sign in" %>
        <% end %>

        <p class="govuk-body"><%= govuk_link_to "Request a link to sign in or change the induction tutor", resend_email_request_nomination_invite_path, class: "govuk-link govuk-link--no-visited-state" %></p>

    </div>
</div>
