<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% content_for :before_content, govuk_back_link(
    text: "Back",
    href: registrations_root_path)
  %>

    <h2 class="govuk-heading-l">Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="govuk-form-group">
        <%= f.govuk_email_field :email, label: { text: "Email address" } %>
      </div>

      <%= f.govuk_submit "Sign in" %>
    <% end %>
    <%= govuk_link_to "Register your school", registrations_question_one_path %>
    <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-15"><strong>Problems signing in</strong></p>
    <p class="govuk-!-margin-top-1">Contact us: <%= mail_to "ecf-support@digital.education.gov.uk" %> </p>
  </div>
</div>
