<% content_for :before_content, govuk_back_link(text: "Back", href: finance_participants_path) %>

<h1 class="govuk-heading-xl">Participant</h1>

<h2>Identities</h2>

<% @user.participant_identities.each_with_index do |identity, i| %>
  <h3><%= "Identity #{i + 1}" %></h3>

  <%= govuk_summary_list do |summary_list| %>
    <% summary_list.row do |row| %>
      <% row.key { "User ID / Participant ID" } %>
      <% row.value { govuk_link_to identity.user_id, finance_participant_path(identity.user_id) } %>
    <% end %>

    <% summary_list.row do |row| %>
      <% row.key { "External ID" } %>
      <% row.value { govuk_link_to identity.external_identifier, finance_participant_path(identity.external_identifier) } %>
    <% end %>

    <% summary_list.row do |row| %>
      <% row.key { "Full name" } %>
      <% row.value { identity.user&.full_name } %>
    <% end %>
  <% end %>
<% end %>

<h2>Profiles</h2>

<% @user.participant_profiles.each do |pp| %>
  <h3><%= pp.type %></h3>
  <% if pp.ecf? %>
    <%= render partial: "finance/participants/ecf_profile", locals: { pp: pp } %>
  <% else %>
    <%= render partial: "finance/participants/npq_profile", locals: { pp: pp } %>
  <% end %>
<% end %>

<% if @user.npq_applications.exists? %>
  <h2>NPQ applications</h2>

  <% @user.npq_applications.each_with_index do |application, i| %>
    <h3><%= "NPQ application #{i + 1}" %></h3>

    <%= render partial: "finance/participants/npq_application", locals: { application: application } %>
  <% end %>
<% end %>
