<% declaration = application.profile.participant_declarations.where(state: %w[paid payable]).first %>

<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Full name</span>
    <%= govuk_link_to application.user.full_name, admin_participant_path(application.profile) %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Application Status</span>
    <%= application.lead_provider_approval_status %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Course</span>
    <%= application.npq_course.name %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Last Declaration</span>
    <%= declaration.declaration_type %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Lead Provider</span>
    <%= declaration.cpd_lead_provider.name %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Status</span>
    <%= declaration.state %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Date</span>
    <%= declaration.created_at.to_date.to_fs(:govuk_short) %>
  </td>
</tr>
