<tr>
  <td><%= participant_id %></td>
  <td><%= id %></td>
  <td><%= latest_induction_record_id %></td>
  <td><%= induction_status %></td>
  <td><%= training_status %></td>
  <td><%= start_date %></td>
  <td><%= end_date %></td>
  <td><%= school_transfer %></td>
  <td><%= schedule_identifier %></td>
  <td><%= cohort %></td>
  <td><%= provider_name %></td>
  <td><%= participant_profile_status %></td>
  <td><%= master_participant_profile_id %></td>
</tr>
