<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Set up your school’s ECF-based training programme: step by step</h1>

    <p class="govuk-body">This guidance explains how and why to use the <%= govuk_link_to "Manage training for early career teachers", root_path, class: "app-step-nav__link js-link" %> service.</p>
    <p class="govuk-body">You can
      <a href="https://www.gov.uk/government/collections/induction-training-and-support-for-early-career-teachers-ects",
         class="govuk-link">find information on training, mentoring and induction for early career teachers (ECTs)</a> in our updated guidance collection.
    </p>

    <h2 class="govuk-heading-m">How and why to use the DfE service</h2>
    <p class="govuk-body">Any school offering statutory induction must use the service to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>which training option you’ve chosen</li>
          <li>information about your ECTs and mentors (unless you choose to design and deliver your own ECF-based programme)</li>
        </ul>
    
    <p class="govuk-body">We need this information to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check if ECTs and mentors are <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training", class="govuk-link">eligible for funded training and time off timetable</a></li>
          <li>pay your training provider, if you choose to use one</li>
          <li>give access to DfE-accredited training materials, if you choose to use them</li>
        </ul>  
          
   <p class="govuk-body">You must provide this in addition to any information you give a training provider or appropriate body.</p>       

 <div class="govuk-inset-text"><p class="govuk-body">If your school has not used the service before, <a href="https://manage-training-for-early-career-teachers.education.gov.uk/nominations/resend-email", class="govuk-link">request a link to sign in</a>. If that does not work, <%= render MailToSupportComponent.new("contact us")%></div>
    
          <p class="govuk-body">Follow the steps below to provide the DfE with the information we need.</p>        
          
    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="tell-us-if-you-have-ects">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                </span>
              </span>
              <span class="js-step-title">Tell us whether or not you expect ECTs to join your school in the academic year ahead
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-tell-us-if-you-have-ects-1">
            <p class="app-step-nav__paragraph">We ask you to do this before the start of each academic year. We recommend you do this as soon as possible.</p>
            <p class="app-step-nav__paragraph">If your school is already registered on our service - <a href="https://manage-training-for-early-career-teachers.education.gov.uk/users/sign_in", class="govuk-link">sign in</a>.</p>
            <p class="app-step-nav__paragraph">If your school is not registered on our service - <%= govuk_link_to "get access here", resend_email_request_nomination_invite_path %>.</p>
            <p class="app-step-nav__paragraph">If you tell us you do not expect ECTs, you do not need to complete any more steps. Your school will not receive any more messages about ECF-based training until the next academic year.</p>
            <p class="app-step-nav__paragraph">Remember to sign in and tell us if things change and ECTs do start their induction at your school.</p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="nominate-a-tutor">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>
              <span class="js-step-title">Choose or change your school’s induction tutor</span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-nominate-a-tutor-2">
            <p class="app-step-nav__paragraph">Your school must nominate an induction tutor to use our service. They’ll be our point of contact for ECF-based training.</p>
            
             <p class="app-step-nav__paragraph"><a href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#nominate-an-induction-tutor", class="govuk-link">Find out more about the role of an induction tutor</a>.</p>
              
             <p class="app-step-nav__paragraph">Currently you can only nominate one induction tutor at a time. If you want more than one person to access the service, you can choose to register with a shared email address that’s monitored regularly.</p>
          
             <p class="app-step-nav__paragraph">They’ll need to make sure your school <a href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#appoint-an-appropriate-body", class="govuk-link">has an appropriate body in place for your inductions</a>.</p>
          
            <h3 class="govuk-heading-s">Nominate the induction tutor for your school</h3>  
            
            <p class="app-step-nav__paragraph">Your current induction tutor can <a href="https://manage-training-for-early-career-teachers.education.gov.uk/users/sign_in", class="govuk-link">sign in to the service</a> and nominate someone else to do the role instead. If they cannot do this, <%= render MailToSupportComponent.new("contact us")%>
           </p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="choose-a-programme">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                </span>
              </span>
              <span class="js-step-title">Choose how to run your programme</span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-choose-a-programme-3">
            <p class="app-step-nav__paragraph">Your school’s induction tutor needs to do this as soon as possible. ECTs
              cannot begin their statutory induction until a training programme is in place.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Option 1</h3>
            <p class="app-step-nav__paragraph">
              <a href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#option-1",
                 class="govuk-link">Use a DfE-funded training provider 
              </a> - available for state-funded schools only
            </p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Option 2</h3>
            <p class="app-step-nav__paragraph">
              <a href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#option-2",
                 class="govuk-link">Use DfE-accredited materials to deliver your own programme
              </a>
            </p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Option 3</h3>
            <p class="app-step-nav__paragraph">
              <a href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#option-3",
                 class="govuk-link">Design and deliver your own ECF-based programme
              </a>
            </p>
            <p class="app-step-nav__paragraph">If you choose to design and deliver your own training programme, you do not need to complete steps 4 and 5 below.</p>
          
            <h3 class="govuk-heading-s">Changing your programme</h3>
            <p class="app-step-nav__paragraph">Most schools choose to run one training programme for all of their ECTs. Different programmes can be run within a school if required to meet the needs of groups or individuals however. </p>
            <p class="app-step-nav__paragraph">If you want to change which programme you use to support ECTs, you should discuss this with your appropriate body. Our guidance explains <a href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#delivery-options-for-ecf-based-training", class="govuk-link">how to let DfE know about a change</a>.</p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="select-a-training-partner">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>
              <span class="js-step-title">Select a DfE-funded training provider</span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-select-a-training-partner-5">
            <p class="app-step-nav__paragraph">If you choose this training option, your school needs to select from the 6 training providers as soon as possible.</p>
            <ol class="app-step-nav__list" data-length="2">
              <li class="app-step-nav__list-item js-list-item">
                <a data-position="4.1" class="app-step-nav__link js-link"
                   href="https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training#option-1",
                    >Read our guidance about lead providers and delivery partners</a>.</li>
            </ol>
            <p class="app-step-nav__paragraph">You can
              <%= govuk_link_to "contact your local teaching school hub", "https://www.gov.uk/guidance/teaching-school-hubs",
                  class: "app-step-nav__link js-link" %> for guidance.
            </p>
            <div class="govuk-inset-text">You must confirm your choice of training provider directly with the provider. You do not need to let the DfE know which provider you choose.</div>
            <p class="app-step-nav__paragraph">They’ll contact us to let us know, and you’ll see their information when you sign into our service.</p>
           <p class="app-step-nav__paragraph">If you want to change your provider, you must contact them directly to discuss this.</p> 
        </li>

        <li class="app-step-nav__step js-step" id="select-materials">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">or</span>
                </span>
              </span>
              <span class="js-step-title">Select your DfE-accredited materials</span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-select-materials-4">
            <p class="app-step-nav__paragraph">If you choose to deliver your own programme with accredited materials,
              your induction tutor needs to select materials as soon as possible.</p>
            <ol class="govuk-list govuk-list--number">
              <li><a class="govuk-link" href="https://support-for-early-career-teachers.education.gov.uk/">Compare DfE-accredited materials</a>. You may need to follow the instructions to create an account.</li>
              <li><%= govuk_link_to "Sign in to the service to tell us which materials you want to use", root_path, class: "app-step-nav__link js-link" %></li>
              <li>Your appropriate body will fidelity check your programme to make sure it covers the full depth of the ECF.</li>
            </ol>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="add-ects-and-mentors">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>
              <span class="js-step-title">Register ECTs and their mentors</span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-add-ects-and-mentors-6">
            <h3 class="govuk-heading-s">Add new ECTs and mentors</h3>
            <p class="app-step-nav__paragraph">Your induction tutor must <%= govuk_link_to "sign in to the service", root_path, class: "app-step-nav__link js-link" %> to tell us each person's:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>full name (as it appears in the Teaching Regulation Agency records)</li>
              <li>email address (school or personal)</li>
            </ul>
            <p class="app-step-nav__paragraph">You can now choose to enter their teacher reference number (TRN) and date of birth too.</p>
            <p class="app-step-nav__paragraph">If you can tell us this extra information:</p>
             <ul class="govuk-list govuk-list--bullet">
             <li>ECTs and mentors will not be asked to provide this information themselves</li>
             <li>we can confirm if they’re eligible for funding more quickly</li>
          </ul>
        <p class="app-step-nav__paragraph">If you do not enter their TRN and date of birth, we’ll need to email the ECT or mentor and ask them to use our service to provide it instead.</p>
          
        <p class="app-step-nav__paragraph">Our <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training", class="govuk-link">funding and eligibility for ECF-based training guidance</a> explains why we need this information.</p> 
        
        <h3 class="govuk-heading-s">Add a teacher transferring from another school where they’ve started ECF-based training or mentoring</h3> 
         <p class="app-step-nav__paragraph">We need to find the right person in our database so we can transfer their record to your school.</p>
         <p class="app-step-nav__paragraph">To do this, your induction tutor needs to <%= govuk_link_to "sign in to the service", root_path, class: "app-step-nav__link js-link" %> and tell us the ECT or mentor’s:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>TRN</li>
        <li>date of birth</li>
        <li>email address (personal or school)</li>
        <li>start date at your school</li>
        </ul>  
               
       <p class="app-step-nav__paragraph">If your school does not have this information, contact the person directly to ask for it.</p>
       <p class="app-step-nav__paragraph">You do not need to add information about your ECTs and mentors if your school has chosen to design and deliver your own ECF-based programme.</p>
        </div>
        </li>

        <li class="app-step-nav__step js-step" id="begin-your-training">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 6
                  </span>
                </span>
              </span>
              <span class="js-step-title">Begin your school’s training programme</span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel js-hidden" id="step-begin-your-training-7">
            <p class="app-step-nav__paragraph">Each ECT should start their training programme as soon as they begin
              their statutory induction. This can be at any point in the academic year.</p>
            <p class="app-step-nav__paragraph">Your next step depends on the way you choose to run your programme. </p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">If you’re using a DfE-funded
              training provider</h3>
            <p class="app-step-nav__paragraph">Your lead provider or delivery partner will contact you directly about what to do next.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">If you’re using DfE-accredited
              materials to deliver your own programme</h3>
            <p class="app-step-nav__paragraph">We’ll email your ECTs and mentors a link to the materials you chose.</p>
            <p class="app-step-nav__paragraph">You can also access the materials by creating an account in the <a href="https://support-for-early-career-teachers.education.gov.uk/", class="govuk-link">Support for early career teachers service</a>.</p>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">If you’re designing and delivering
              your own programme</h3>
            <p class="app-step-nav__paragraph">You need to plan and create your materials.</p>
            <p class="app-step-nav__paragraph"><a href="https://www.gov.uk/government/publications/appropriate-bodies-guidance-induction-and-the-early-career-framework",
                 class="govuk-link"> Contact your appropriate body</a> to find out more about next steps.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
