<%= govuk_breadcrumbs breadcrumbs: course_module_breadcrumbs(current_user, @course_module) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Content change preview</h1>
    <%= form_with model:@course_module, url: year_module_path, method: :put do |f| %>
      <%= render "course_module_fields", locals = { f:f } %>
      <%= f.govuk_submit "See preview" %>
    <% end %>
    <div class="gem-c-govspeak govuk-govspeak ">
      <%= @course_module.content_to_html.html_safe %>
    </div>
  </div>
</div>
