<%= govuk_breadcrumbs breadcrumbs: course_module_breadcrumbs(current_user, @course_module) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if policy(@course_module).edit? %>
      <%= govuk_link_to "Edit module content", edit_module_path(@course_module), button: true%>
    <% end %>
    <h1 class="govuk-heading-l"> <%= @course_module.title %></h1>
    <div class="gem-c-govspeak govuk-govspeak ">
      <%= @course_module.content_to_html.html_safe %>
    </div>
    <ol class="app-task-list">
      <li>
        <p><strong>Topic materials</strong></p>
        <ul class="app-task-list__items">
          <% if @course_lessons_with_progress.each do |lesson| %>
            <li class="app-task-list__item">
              <div>
                <%= govuk_link_to lesson.title, lesson_path(lesson) %>
                <% if lesson.completion_time_in_minutes %>
                  <p>Duration: <%= lesson.duration_in_minutes_in_words %></p>
                <% end %>
              </div>
              <%= render ProgressLabelComponent.new progress: lesson.progress %>
            </li>
          <% end.empty? %>
          <p>No course lessons were found!</p>
          <% end %>
        </ul>
      </li>
    </ol>
    <nav class="step-by-step-navigation" role="navigation" aria-label="Lesson Part Navigation">
      <ul class="step-by-step-navigation__list">
        <% if @course_module.previous_module %>
          <%= render NavigationPreviousComponent.new(
            url: module_path(@course_module.previous_module),
            text: @course_module.previous_module.title) %>
        <% end %>

        <% if @course_module.next_module %>
          <%= render NavigationNextComponent.new(
            url: module_path(@course_module.next_module),
            text: @course_module.next_module.title) %>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
