<% content_for :title, t("finance.npq.payment_breakdown") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: finance_npq_lead_provider_path(@npq_lead_provider)) %>

<h1 class="govuk-heading-xl"><%= @npq_lead_provider.cpd_lead_provider.name %></h1>
<h2 class="govuk-heading-l"><%= @npq_course.name %></h2>
<div class="govuk-grid-row govuk-!-margin-top-9">

  <div class="govuk-grid-column-two-thirds">
    <%= render Finance::NPQ::PaymentOverviews::References.new(
      references: @breakdown,
      npq_lead_provider: @npq_lead_provider
    ) %>
    <%= render Finance::NPQ::BreakdownSummary.new(@breakdown[:breakdown_summary]) %>

    <h3 class="govuk-heading-m" style="margin-top:55px"><%= t("finance.payment_breakdown")  %></h3>

    <table class="govuk-table">
      <thead>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t("finance.payment_type") %></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t("finance.per_participant") %></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t("finance.number_of_participants") %></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><%= t("finance.amount") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render Finance::NPQ::ServiceFeeRow.new(@breakdown[:service_fees]) %>
      </tbody>
    </table>
  </div>
</div>

<%= govuk_link_to t("finance.show_contract"), finance_ecf_contract_path(id: @npq_lead_provider.id) %>
