<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: choose_ecf_statement_finance_payment_breakdowns_path, class: "statement-selector" do |f| %>
      <%= f.govuk_collection_select :lead_provider,
          lead_providers,
          :id,
          :name,
          label: { text: "View a different provider" },
       options: { selected: current_statement.lead_provider.id },
       form_group: { class: "govuk-form-group govuk-!-width-one-third" }
      %>

      <%= f.govuk_collection_select :cohort_year,
       cohorts,
       :start_year,
       :start_year,
       label: { text: "View a different cohort" },
       options: { selected: current_statement.cohort.start_year },
       form_group: { class: "govuk-form-group" }
      %>

      <%= f.govuk_collection_select :statement,
       statements,
       :id,
       :name,
       label: { text: "View a different statement" },
       options: { selected: current_statement.name.parameterize },
       form_group: { class: "govuk-form-group govuk-!-width-one-third" }
      %>

      <%= f.govuk_submit t(:submit), secondary: true %>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-thirds">
    <%= govuk_link_to "Download report (CSV)" , "#" %>
  </div>
</div>
