<% latest_partnership = school_cohort.school.partnerships.where(cohort: school_cohort.cohort, relationship: false).order(created_at: :desc).limit(1).first %>

<% if school_cohort.school_chose_cip? && school_cohort.default_induction_programme&.core_induction_programme.blank? %>
  <h2 class="govuk-heading-m">Choose your training materials</h2>
  <p class="govuk-body"><%= govuk_link_to "Tell us which materials you’ll use", info_schools_core_programme_materials_path(cohort_id: school_cohort.cohort.start_year) %></p>
  <p class="govuk-body">Read our guidance to <%= govuk_link_to 'compare materials (opens in new tab)', page_path(page: "core-materials-info"), target: "_blank" %>.</p>
<% end %>

<%= govuk_summary_list do |list| %>
  <% list.row do |row| %>
    <% row.key(text: "Programme") %>
    <% row.value(text: t(school_cohort.induction_programme_choice, scope: %i[manage_your_training induction_programmes])) %>
    <% row.action(text: "Change", href: change_programme_schools_cohort_path(cohort_id: school_cohort.cohort.start_year), visually_hidden_text: "induction programme choice") %>
  <% end %>

  <% if school_cohort.core_induction_programme? %>
    <% list.row do |row| %>
      <% row.key(text: "Materials supplier") %>
      <% row.value(text: school_cohort.default_induction_programme&.core_induction_programme&.name) %>
      <% if school_cohort.default_induction_programme&.core_induction_programme.blank? %>
        <% row.action(text: "Choose", href: info_schools_core_programme_materials_path(cohort_id: school_cohort.cohort.start_year), visually_hidden_text: "materials") %>
      <% else %>
        <% row.action(text: "Change", href: schools_core_programme_materials_path(cohort_id: school_cohort.cohort.start_year), visually_hidden_text: "materials") %>
      <% end %>
    <% end %>
  <% end %>

  <% if school_cohort.appropriate_body.present? %>
    <% list.row do |row| %>
      <% row.key(text: "Appropriate body") %>
      <% row.value(text: school_cohort.appropriate_body.name) %>
      <% row.action(text: "Change", href: change_appropriate_body_schools_cohort_path(cohort_id: school_cohort.cohort.start_year)) %>
    <% end %>
  <% else %>
    <% list.row do |row| %>
      <% row.key(text: "Appropriate body") %>
      <% row.value(text: "") %>
      <% row.action(text: "Add", href: add_appropriate_body_schools_cohort_path(cohort_id: school_cohort.cohort.start_year)) %>
    <% end %>
  <% end %>

  <% if school_cohort.full_induction_programme? %>
    <% list.row do |row| %>
      <% row.key(text: "Lead provider") %>
      <% if latest_partnership&.challenged? == true %>
        <% row.value(text: nil) %>
      <% else %>
        <% row.value(text: school_cohort_lead_provider_name(school_cohort)) %>
      <% end %>
      <% row.action(text: :none) %>
    <% end %>

    <% list.row do |row| %>
      <% row.key(text: "Delivery partner") %>
      <% if latest_partnership&.challenged? == true %>
        <% row.value(text: nil) %>
      <% else %>
        <% row.value(text: school_cohort_delivery_partner_name(school_cohort)) %>
      <% end %>
      <% row.action(text: :none) %>
    <% end %>
  <% end %>
<% end %>

<% if latest_partnership&.challenged? == false %>
  <% if latest_partnership&.in_challenge_window? %>
    <p class="govuk-body">
      If this does not look right, <%= govuk_link_to "report that your school has been confirmed incorrectly", challenge_partnership_path(partnership: latest_partnership) %>. This link will expire on <%= latest_partnership.challenge_deadline&.to_date&.to_fs(:govuk) %>.
    </p>
  <% else %>
    <p class="govuk-body">
      If this does not look right, contact: <%= render MailToSupportComponent.new %>
    </p>
  <% end %>
<% end %>

<% if school_cohort.school.cip_only? %>
  <p class="govuk-body">
    You do not need to add information about your ECTs and mentors to this service.
  </p>
<% end %>
