<% content_for :title, "Manage training" %>

<% if breadcrumbs.any? %>
  <% content_for :before_content, govuk_breadcrumbs(breadcrumbs: breadcrumbs) %>
<% end %>

<%= render "schools/dashboard/nav",  selected: schools_dashboard_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @school.name %></span>
    <h1 class="govuk-heading-l">Manage your training</h1>

    <div class="wrapper-dashboard-v2">
      <h2 class="govuk-heading-m">Summary</h2>
      <%= govuk_summary_list do |list| %>
        <% list.with_row do |row| %>
          <% row.with_key(text: "Induction tutor") %>
          <% row.with_value(text: @school.induction_coordinators.first.full_name) %>
          <% row.with_action(text: "Change", href: name_schools_change_sit_path, visually_hidden_text: "induction tutor") %>
        <% end %>

        <% if manage_ects_and_mentors?(@school_cohorts) %>
          <% list.with_row do |row| %>
            <% row.with_key(text: "Mentors") %>
            <% row.with_value(text: mentor_count(@school_cohorts)) %>
            <% row.with_action(text: :none) %>
          <% end %>

          <% list.with_row do |row| %>
            <% row.with_key(text: "ECTs") %>
            <% row.with_value(text: ect_count(@school_cohorts)) %>
            <% row.with_action(text: :none) %>
          <% end %>

          <% list.with_row do |row| %>
            <% row.with_key(text: "ECTs without mentors") %>
            <% row.with_value(text: ect_with_no_mentor_count(@school_cohorts)) %>
            <% row.with_action(text: :none) %>
          <% end %>
        <% end %>
      <% end %>

      <br>
      <h2 class="govuk-heading-m">Academic year</h2>
      <%= govuk_tabs(title: "Cohorts") do |component| %>
        <% if set_up_new_cohort? %>
          <% component.with_tab(label: TabLabelDecorator.new(Cohort.active_registration_cohort.description)) do %>
            <%= render partial: "setup_school_cohort" %>
          <% end %>
        <% end %>
        <% get_three_school_cohorts(@school_cohorts).each do |school_cohort| %>
          <% component.with_tab(label: TabLabelDecorator.new(school_cohort.description)) do %>
            <% if school_cohort.induction_programme_choice == "no_early_career_teachers" %>
              <%= render partial: "no_ects_cohort_details", locals: { school_cohort: school_cohort } %>
            <% else %>
              <%= render partial: "school_cohort_details", locals: { school_cohort: school_cohort } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
