<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage training for early career teachers</h1>

    <p>Use this service to set up a 2 year training programme for your early career teachers (ECTs). You will need to
      tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you want to run your training</li>
      <li>which accredited materials or training provider you will use</li>
      <li>which ECTs and mentors will be on the programme</li>
    </ul>

    <div class="govuk-inset-text">
      You can use our <%= govuk_link_to "step by step guide (opens in new tab)", step_by_step_path, target: "_blank" %> to help you complete these steps.
    </div>

    <p class="govuk-body">Your school must complete these steps before your early career teachers (ECTs) start their statutory induction
      programme.</p>
    <p class="govuk-body">
      For example, if your ECTs are starting in September, you need to complete these steps before then.</p>

    <%= govuk_start_now_button text: "Start now", href: new_user_session_path %>

    <h2 class="govuk-heading-m">Do you have an account?</h2>
    <p class="govuk-body">You must be nominated or sent sign in details to access this
      service. <%= govuk_link_to "Find out how to get an account", check_account_path %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <section class='govuk-aside'>
      <header class="govuk-aside__header">Related content</header>
      <ul class="govuk-list govuk-aside__links">
        <li><%= govuk_link_to "Guidance on the ECF and choosing programmes", "https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview" %></li>
        <li><%= govuk_link_to "Choose accredited study materials for your early career teachers", page_path("core-materials-info") %></li>
      </ul>
    </section>
  </div>
</div>
