<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Estimated numbers of participants starting in <%= @school_cohort.cohort.start_year %></h2>

    <%= form_with(model: @school_cohort_form, url: schools_estimate_participant_path(@school_cohort), method: :patch) do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field(
          :estimated_teacher_count,
          width: 20,
          value: @school_cohort.estimated_teacher_count,
          label: {
            text: "Number of ECTs",
            size: "m",
          }
      ) %>

      <%= f.govuk_text_field(
          :estimated_mentor_count,
          width: 20,
          value: @school_cohort.estimated_mentor_count,
          label: {
            text: "Number of mentors",
            size: "m",
          }
      ) %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
