<% content_for :before_content, govuk_back_link(text: 'Back', href: current_user ? dashboard_path : root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: "pages/induction_tutor_materials/ambition_institute/handbooks_and_outlines" %>

    <%= render partial: "pages/induction_tutor_materials/course_year_sub_nav", locals: { provider: "ambition-institute" } %>

    <h3 class="govuk-heading-m">Autumn term: behaviour</h3>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Conference 2: wellbeing and implementing change (PDF, 72 KB, 5 pages)",
                          "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-Conf-2-EarlyCareerTeachers_2020_ClinicTimetables_Conference2_Dev1_AK.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Clinic 7: pupil wellbeing (PDF, 50 KB, 5 pages)",
                          "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C07-EarlyCareerTeachers_2020_ClinicTimetables_Clinic7_Dev1_AK.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Second half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 8: implementing change: prepare (PDF, 550 KB, 5 pages)",
                          "https://drive.google.com/file/d/19N1TRvjseUQVzIvSMxm3Zxo1Suuq0n3Z/view" %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Spring term: instruction</h3>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 9: support and interventions (PDF, 53 KB, 4 pages)",
                          "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C09-EarlyCareerTeachers_2020_ClinicTimetables_Clinic9_Dev1_AK.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Second half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 10: implementing change: deliver (PDF, 67 KB, 5 pages)",
                          "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C10-EarlyCareerTeachers_2020_ClinicTimetables_Clinic10_Dev1_AK.pdf" %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Summer term: subject</h3>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 11: early literacy 2 (PDF, 57 KB, 6 pages)",
                          "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C11-EarlyCareerTeachers_2020_ClinicTimetables_Clinic11_Dev1_AK.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Second half-term</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Clinic 12: implementing change: sustain (PDF, 48 KB, 5 pages)",
                          "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-P4-C12-EarlyCareerTeachers_2020_ClinicTimetables_Clinic12_Dev1_AK.pdf" %>
      </li>
    </ul>

  </div>
</div>
