<% content_for :title, "Email schedule" %>
<%= render partial: "admin/performance/nav" %>
<%= govuk_back_link(text: "Back", href: admin_performance_email_schedules_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @email_schedule.mailer_name.humanize %></h1>

    <%= govuk_summary_list do |summary_list|
      summary_list.with_row do |row|
        row.with_key(text: 'Subject')
        row.with_value(text: @email_schedule.mailer_name.humanize)
      end
      summary_list.with_row do |row|
        row.with_key(text: 'Date scheduled')
        row.with_value(text: @email_schedule.scheduled_at.to_fs(:govuk))
        row.with_action(text: "Change", href: edit_admin_performance_email_schedule_path(@email_schedule), visually_hidden_text: 'date scheduled') if @email_schedule.queued?
      end

      render(
        partial: "admin/performance/email_schedules/mailers_info/#{@email_schedule.mailer_name}",
        locals: { summary_list: }
      )

      if @email_schedule.queued?
        summary_list.with_row do |row|
          row.with_key(text: 'Estimated size')
          row.with_value(text:
            BulkMailers::SchoolReminderComms
              .new(cohort: Cohort.containing_date(@email_schedule.scheduled_at), dry_run: true)
              .send(@email_schedule.mailer_method)
          )
        end
      else
        summary_list.with_row do |row|
          row.with_key(text: 'Sent to')
          if @email_schedule.sending?
            row.with_value(text: "Sending")
          else
            row.with_value(text: @email_schedule.actual_email_count)
          end
        end
      end
      if @email_schedule.sent?
        summary_list.with_row do |row|
          row.with_key(text: 'Bounced')
          row.with_value(text: @email_schedule.failed_email_count)
        end
      end
    end
    %>

    <div>
      <%= govuk_button_link_to "Remove this from the schedule", delete_admin_performance_email_schedule_path(@email_schedule), class: "govuk-button--warning" if @email_schedule.queued? %>
    </div>
  </div>
</div>
