<% content_for :before_content, govuk_back_link(text: "Back", href: @payment_authorisation_form.back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= I18n.t("finance.statements.payment_authorisations.title", statement_name: @statement.name) %></h1>

    <%= form_for @payment_authorisation_form, url: finance_statement_payment_authorisations_path(@statement), as: :finance_payment_authorisation do |f| %>
      <%= f.govuk_error_summary %>

      <% if @statement.ecf? %>
        <%= render Finance::Statements::ECFDetailsTable.new(statement: @statement) %>
      <% elsif @statement.npq? %>
        <%= render Finance::Statements::NPQDetailsTable.new(statement: @statement) %>
      <% end %>

      <p class="govuk-body">
        <%= f.govuk_check_boxes_fieldset :checks_done, multiple: false, legend: { text: govuk_warning_text(text: I18n.t("finance.statements.payment_authorisations.checks_done.legend")) } do %>
          <%= f.govuk_check_box :checks_done, 1, 0, multiple: false, link_errors: true, label: { text: I18n.t("finance.statements.payment_authorisations.checks_done.label") } %>
        <% end %>
      </p>

      <br>
      <%= f.govuk_submit t("finance.statements.payment_authorisations.button") %>
      <%= govuk_link_to t("finance.statements.payment_authorisations.cancel"), @payment_authorisation_form.back_link, class: "govuk-!-margin-left-6", style: "display: inline-block; margin-top: 8px;" %>
    <% end %>
  </div>
</div>
