<% title = "What is #{possessive_name(@validation_data_form.participant_name)} date of birth?" %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link( text: "Back", href: admin_participant_path(id: @participant_profile)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Validation data - <%= @validation_data_form.participant_name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>
    <%= form_for @validation_data_form, url: { action: :date_of_birth }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_date_field :date_of_birth,
        date_of_birth: true,
        width: "two-thirds",
        legend: { text: "#{possessive_name(@validation_data_form.participant_name)} date of birth", class: "govuk-visually-hidden" },
        hint: { text: "For example, 14 7 1990"}
      %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
