<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Content change preview</h1>
    <%= form_with url: cip_year_module_path, method: :put do |f| %>
      <%= f.govuk_text_field :title, label: { text: "Module title" }, value: @course_module.title %>
      <%= f.govuk_text_area :content, label: { text: "Markdown string for course module content" }, rows: 10, value: @course_module.content %>
      <%= f.govuk_submit "See preview" %>
      <%= f.govuk_submit "Save changes" %>
    <% end %>
    <div class="gem-c-govspeak govuk-govspeak ">
      <%= @course_module.content_to_html.html_safe %>
    </div>
  </div>
</div>
