<h2 class="govuk-heading-m">Details</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Full name</th>
      <td class="govuk-table__cell"><%= profile.user.full_name %></td>
      <td class="govuk-table__cell">
        <%= govuk_link_to edit_name_admin_participant_path(profile) do %>
          Change <span class="govuk-visually-hidden">name</span>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Email address</th>
      <td class="govuk-table__cell"><%= profile.user.email %></td>
      <td class="govuk-table__cell">
        <%= govuk_link_to edit_email_admin_participant_path(profile) do %>
          Change <span class="govuk-visually-hidden">email</span>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Participant type</th>
      <td class="govuk-table__cell"><%= t :mentor, scope: "schools.participants.type" %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">School</th>
      <td class="govuk-table__cell"><%= profile.school.name %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Cohort</th>
      <td class="govuk-table__cell"><%= profile.cohort&.display_name || 'No cohort' %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Notes</th>
        <td class="govuk-table__cell"><%= profile.notes? ? simple_format(profile.notes, class: "govuk-body") : "No notes" %></td>

        <td class="govuk-table__cell">
          <%= govuk_link_to edit_admin_note_path(profile) do %>
            <span><%= profile.notes.present? ? "Change notes" : "Add notes" %></span>
          <% end %>
        </td>

    </tr>
  </tbody>
</table>
