<% link = pagy_link_proc(pagy) -%>
<nav aria-label="pager" class="pagination ecf-pagination" role="navigation">
  <% if pagy.prev -%>
    <span class="ecf-page-link ecf-page-link__prev">
      <%== link.call(pagy.prev, I18n.t('pagy.nav.prev'), 'aria-label="previous" class="govuk-link"') %>
    </span>
  <% end -%>

  <% if pagy.pages > 1 %>
    <% pagy.series.each do |item| -%>
      <% if item.is_a?(Integer) -%>  <span class="page"><%== link.call(item, item, 'class="govuk-link"') %></span>
      <% elsif item.is_a?(String) -%>  <span class="page current"><%= item %></span>
      <% elsif item == :gap -%>  <span class="page gap"><%== I18n.t('pagy.nav.gap') %></span>
      <% end -%>
    <% end -%>
  <% end %>

  <% if pagy.next -%>
    <span class="ecf-page-link ecf-page-link__next">
      <%== link.call(pagy.next, I18n.t('pagy.nav.next'), 'aria-label="next" class="govuk-link"') %>
    </span>
  <% end -%>
</nav>
