<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title_text: "Appropriate body reported", classes: "govuk-!-margin-bottom-8" do %>
      Academic year
      <br/>
      <strong><%= @school_cohort.description %></strong>
    <% end %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>We’ll add this appropriate body information for any ECTs:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you’ve already added to this service</li>
      <li>starting their training in the <%= @school_cohort.description %> academic year</li>
    </ul>
    <p>We do this because most schools work with only one appropriate body.</p>

    <h2 class="govuk-heading-m">How to report a different appropriate body for an ECT</h2>
    <p class="govuk-body">
      If you’ve already added the ECT to this service, select their name on the
      <%= govuk_link_to "ECTs and mentors",
                        FeatureFlag.active?(:cohortless_dashboard) ?
                          schools_participants_path :
                          schools_cohort_participants_path,
                        no_visited_state: true %>
      page to see their details and change their appropriate body.
    </p>
    <p class="govuk-body">You can also report a different appropriate body for an ECT when you first add them to our service.</p>

    <%= govuk_link_to "Return to manage your training", schools_dashboard_path, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
</div>
