<tr class="govuk-table__row<%= ' app-table-td-bottom_border' if band_d? %>">
  <td  scope="role" class="govuk-table__cell"><%= band_name %></td>
  <td  class="govuk-table__cell govuk-table__cell--numeric"><%= started %></td>
  <td  class="govuk-table__cell govuk-table__cell--numeric"><%= retained_one %></td>
  <td  class="govuk-table__cell govuk-table__cell--numeric"><%= retained_two %></td>
  <td  class="govuk-table__cell govuk-table__cell--numeric"><%= retained_three %></td>
  <td  class="govuk-table__cell govuk-table__cell--numeric"><%= retained_four %></td>
  <td  class="govuk-table__cell govuk-table__cell--numeric"><%= completed %></td>
</tr>
