<tr class="govuk-table__row">
  <td scope="role" class="govuk-table__cell"><%= band_name %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= started %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= retrained_one %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= retrained_two %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= retrained_three %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= retrained_four %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= completed %></td>
</tr>
