<% content_for :title, "Confirm these details" %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: { action: :new_teacher })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm details for <%= @year_2020_form.school.name %></h1>

    <h2 class="govuk-heading-m">DfE accredited material choice</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <%= @year_2020_form.core_induction_programme.name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%# govuk_link_to issue: https://github.com/DFE-Digital/govuk-components/issues/193 %>
          <%= govuk_link_to({ action: :select_cip }, button: false) do %>
            Change <span class="govuk-visually-hidden">material choice</span>
          <% end %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Teachers</h2>
    <dl class="govuk-summary-list">
      <% @year_2020_form.get_participants.each do |participant| %>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <div><%= participant[:full_name] %></div>
            <div><%= participant[:email] %></div>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%# govuk_link_to issue: https://github.com/DFE-Digital/govuk-components/issues/193 %>
            <%= govuk_link_to({ action: :remove_teacher, index: participant[:index] }, button: false, class: "govuk-!-margin-right-5") do %>
              Delete
            <% end %>
            <%= govuk_link_to({ action: :edit_teacher, index: participant[:index] }, button: false) do %>
              Change <span class="govuk-visually-hidden">personal details</span>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>

    <p>
      <%= govuk_link_to({ action: :new_teacher }, button: false) do %>
        Add another teacher
      <% end %>
    </p>

    <%= form_for @year_2020_form, url: { action: :confirm }, method: :post do |f| %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
