<% content_for :title, "Confirm these details" %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: { action: :new_teacher })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Confirm details for <%= @year_2020_form.school.name %></h1>

    <h2 class="govuk-heading-m">Chosen materials</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          <b>Provider</b>
        </dd>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          <%= @year_2020_form.core_induction_programme.name %>
        </dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
          <%= govuk_link_to({ action: :select_cip }) do %>
            Change <span class="govuk-visually-hidden">material choice</span>
          <% end %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Teacher details</h2>
    <dl class="govuk-summary-list">
      <% @year_2020_form.get_participants.each do |participant| %>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            <div><b><%= participant[:full_name] %></b></div>
          </dd>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">
            <div><%= participant[:email] %></div>
          </dd>
          <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
            <%= govuk_link_to({ action: :remove_teacher, index: participant[:index] }, class: "govuk-!-margin-right-5") do %>
              Delete
            <% end %>
            <%= govuk_link_to({ action: :edit_teacher, index: participant[:index] }) do %>
              Change <span class="govuk-visually-hidden">personal details</span>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>

    <p class="govuk-!-margin-bottom-9">
      <%= govuk_link_to({ action: :new_teacher }) do %>
        Add another teacher
      <% end %>
    </p>

    <p>
      Check these details before confirming. You cannot change them within this application once you have clicked 'Confirm'.
    </p>

    <%= form_for @year_2020_form, url: { action: :confirm }, method: :post do |f| %>
      <%= f.govuk_submit "Confirm" %>
    <% end %>
  </div>
</div>
