<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: { action: :start })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose your materials</h1>
    <p class="govuk-body govuk-!-margin-bottom-6">
      All providers cover the same subject matter, but each takes a different approach. Check this
       <%= govuk_link_to "summary of the support materials (opens in a new tab)", "/pages/year2020-core-materials-info", target: "_blank", rel: "noopener noreferrer" %>
       if you are not familiar with them.
    </p>

    <%= form_for @year_2020_form, url: { action: :choose_cip }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons :core_induction_programme_id,
                                           CoreInductionProgramme.all,
                                           :id,
                                           :name,
                                           legend: { text: false} %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
