<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: { action: :select_induction_programme })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Which study materials would you like to use?</h1>
    <p class="govuk-body">
      You don't necessarily need to choose the material that you chose before. If you are undecided you can read the
      <%= govuk_link_to "guidance about different materials", "/pages/core-materials-info" %>.
    </p>

    <%= form_for @year_2020_form, url: { action: :choose_cip }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons :core_induction_programme_id,
                                           CoreInductionProgramme.all,
                                           :id,
                                           :name,
                                           legend: { text: false} %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
