<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l"><%= @year_2020_form.school.name %>, <%= @year_2020_form.cohort.display_name %> cohort</span>
    <h1 class="govuk-heading-xl">Hello world!</h1>

    <%= form_for @year_2020_form, url: { action: :choose_induction_programme }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons :induction_programme_choice,
                                           @year_2020_form.induction_programme_options,
                                           :id,
                                           :name,
                                           legend: { text: false} %>
      <%= f.govuk_submit "Continue" %>    <% end %>
  </div>
</div>
