<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: { action: :start })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Choose your materials</h1>
    <p class="govuk-body">
      Check
      <%= govuk_link_to "your support materials summary (opens in a new tab)", "/pages/core-materials-info", target: "_blank", rel: "noopener noreferrer" %> if you're not sure.
    </p>

    <%= form_for @year_2020_form, url: { action: :choose_cip }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons :core_induction_programme_id,
                                           CoreInductionProgramme.all,
                                           :id,
                                           :name,
                                           legend: { text: false} %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
