<% content_for :before_content, govuk_back_link(text: "Back", href: finance_participant_path(@participant_profile.user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Change lead provider</h1>

    <div class="govuk-inset-text">
      <p>
        <strong>Current lead provider</strong>
        <br/>
        <%= @change_lead_provider_form.current_lead_provider.name %>
      </p>
    </div>

    <%= form_for @change_lead_provider_form, url: finance_participant_profile_npq_change_lead_provider_path(@participant_profile) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_select(:lead_provider_id, @change_lead_provider_form.lead_provider_options, :id, :name, label: { text: "Select the new lead provider", tag: 'h2', size: "m"}, options: { include_blank: true }) %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
