<% content_for :title, t("finance.npq.payment_breakdown") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: select_provider_npq_finance_payment_breakdowns_path) %>

    <%= render Finance::Statements::StatementSelector.new(current_statement: @statement)  %>

    <div class="app-application__panel">
      <div class="govuk-grid-column-full">
        <div class="moj-filter-layout__content">
          <% @npq_contracts.each do |npq_contract| %>
            <section class="app-application__card">
              <h2 class="govuk-heading-s"><%= t("#{ npq_contract.course_identifier }", scope: "npq_courses") %></h2>
              <header class="app-application-card__header">
                <% NPQCourse.schedule_for(NPQCourse.find_by(identifier: npq_contract.course_identifier))
                            .milestones.each do |milestone| %>
                  <span class="govuk-body-s">
                    <%= milestone.declaration_type.titleize %>
                    <br>
                    <%= @statement.participant_declarations.for_course_identifier(npq_contract.course_identifier)
                                  .for_declaration(milestone.declaration_type)
                                  .count %>
                  </span>
                <% end %>
                <span class="govuk-body-s">Recruitment target<br><%= npq_contract.recruitment_target %></span>
                <span class="govuk-body-s">Current trainees<br><%= @statement.participant_declarations.for_course_identifier(npq_contract.course_identifier).unique_paid_payable_or_eligible.count %></span>
                <span class="govuk-body-s">Total not paid<br><%= @statement.participant_declarations.for_course_identifier(npq_contract.course_identifier).ineligible.unique_id.count %></span>
              </header>
              <span class="govuk-label--s govuk-visually-hidden">Payment details</span>
              <%= render Finance::NPQ::PaymentOverviews::PaymentOverviewTable.new(npq_contract, @statement) %>
<!--              <table class="govuk-table">-->
<!--                <thead class="govuk-table__head">-->
<!--                <tr class="govuk-table__row">-->
<!--                  <th scope="col" class="govuk-table__header govuk-body-s">Payment type</th>-->
<!--                  <th scope="col" class="govuk-table__header govuk-body-s">Trainees</th>-->
<!--                  <th scope="col" class="govuk-table__header govuk-body-s">Payment per trainee</th>-->
<!--                  <th scope="col" class="govuk-table__header govuk-body-s">Total</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody class="govuk-table__body">-->
<!--                <tr class="gov-table__row">-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s">Output</td>-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s"></td>-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s"></td>-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s"></td>-->
<!--                </tr>-->
<!--                <tr class="gov-table__row">-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s">Service Fee</td>-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s"></td>-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s"></td>-->
<!--                  <td scope="row" class="govuk-table__cell govuk-body-s"></td>-->
<!--                </tr>-->
                <%#= render Finance::NPQ::PaymentOverviews::ServiceFees.with_collection(@service_fees) %>
<!--                </tbody>-->
<!--              </table>-->
              <div class="govuk-table__row govuk-!-padding-bottom-1">
                <div class="govuk-label--s govuk-table__header--numeric">
                  Course total
                  <br>
                  £1000.00
                </div>
              </div>
            </section>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="govuk-list">
  <li><%= govuk_link_to t("finance.show_voided_declarations"), voided_finance_npq_lead_provider_statement_path(@npq_lead_provider.id, @statement) %></li>
  <li><%= govuk_link_to t("finance.show_contract"), finance_npq_contract_path(id: @npq_lead_provider.id) %></li>
</ul>
