<h1>Confirm deletion of <%= @delivery_partner.name %></h1>
<%= form_for :confirmation, url: nil, method: :post do |f| %>
  <%= f.hidden_field :delivery_partner, value: @delivery_partner.id %>
  <%= f.govuk_submit "Delete delivery partner", classes: "govuk-button--warning" %>
<% end %>
<%= govuk_link_to "Back", admin_delivery_partner_path(@delivery_partner), button: true, class: "govuk-button--secondary" %>
