<% content_for :title, "Edit partner" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_suppliers_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Edit <%= @delivery_partner.name %></h1>

    <%= form_for @delivery_partner_form, url: admin_delivery_partner_path(@delivery_partner), method: :patch do |f| %>

      <%= f.govuk_text_field :name, label: { size: "m" } %>
      <%= render "lead_providers_cohorts", locals = { f: f, legend_options: { size: "m" } } %>
      <div class="govuk-button-group">
        <%= f.govuk_submit "Save" %>
        <%= govuk_link_to "Delete", delete_admin_delivery_partner_path(@delivery_partner), button: true, class: "govuk-button--warning" %>
      </div>
    <% end %>
  </div>
</div>
