<% content_for :title, "Confirm partner" %>
<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: choose_lps_admin_delivery_partners_path)
%>

<h1 class="govuk-heading-l">Confirm these details</h1>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @delivery_partner_form.name %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_link_to choose_name_admin_delivery_partners_path(continue: true), class: "govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> name</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Working with
    </dt>
    <dd class="govuk-summary-list__value">
      <% @delivery_partner_form.display_lead_provider_details.each do |lead_provider| %>
        <strong><%= lead_provider[:name] %></strong>
        <br/>
        In cohort(s) <%= lead_provider[:chosen_cohorts] %>
        <br/>
      <% end %>

    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_link_to choose_lps_admin_delivery_partners_path, class: "govuk-link--no-visited-state" do %>
        Change<span class="govuk-visually-hidden"> lead providers and cohorts</span>
      <% end %>
    </dd>
  </div>
</dl>

<%= form_for :confirmation, url: admin_delivery_partners_path, method: :post do |f| %>
  <%= f.hidden_field :answers_checked, value: true %>
  <%= f.govuk_submit "Create supplier" %>
<% end %>
