<% content_for :title, t("finance.ecf.payment_breakdown") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: select_provider_ecf_finance_payment_breakdowns_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <span class="govuk-caption-l"><%= @ecf_lead_provider.name %></span>
    <h2 class="govuk-heading-l"><%= @statement.name %></h2>

    <%= render Finance::Statements::ECFStatementSelector.new(current_statement: @statement) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-caption-m govuk-!-margin-0">Payment of</p>
    <h2 class="govuk-heading-xl govuk-!-margin-0"><%= number_to_pounds(total_payment_combined(@breakdown_started, @breakdown_retained_1)) %></h2>
    <p class="govuk-caption-m govuk-!-margin-top-0">On <%= @statement.payment_date.to_s(:govuk) %></p>

    <%= render Finance::ECF::BreakdownSummary.new(breakdown_started: @breakdown_started, breakdown_retained_1: @breakdown_retained_1, lead_provider: @ecf_lead_provider, deadline_date: @statement.deadline_date) %>

    <%= render Finance::ECF::ServiceFees.new(service_fees: @breakdown_started[:service_fees], breakdown_summary: @breakdown_started[:breakdown_summary]) %>

    <%= render Finance::ECF::OutputPayments.new(output_payments: @breakdown_started[:output_payments], breakdown_summary: @breakdown_started[:breakdown_summary]) %>

    <%= render Finance::ECF::OutputPayments.new(output_payments: @breakdown_retained_1[:output_payments], breakdown_summary: @breakdown_retained_1[:breakdown_summary]) %>

    <%= render Finance::ECF::ParticipantSummary.new(breakdown_started_summary: @breakdown_started[:breakdown_summary], breakdown_retained_1_summary: @breakdown_retained_1[:breakdown_summary]) %>

    <% @breakdown_started[:other_fees].each do |other_fee| %>
      <%= render Finance::ECF::OtherFeeRow.new(other_fee: @breakdown_started[:other_fees], breakdown_summary: @breakdown_started[:breakdown_summary]) %>
    <% end %>

    <ul class="govuk-list">
      <li><%= govuk_link_to t("finance.show_voided_declarations"), voided_finance_ecf_payment_breakdown_statement_declarations_path(@ecf_lead_provider.id, @statement) %></li>
      <li><%= govuk_link_to t("finance.show_contract"), finance_ecf_contract_path(id: @ecf_lead_provider.id) %></li>
    </ul>
  </div>
</div>
