<% content_for :title, t("finance.ecf.payment_breakdown") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: select_provider_ecf_finance_payment_breakdowns_path) %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= t(@statement.cohort.mentor_funding? ? ".title_ect_mentor" : ".title") %></h1>

    <span class="govuk-caption-l"><%= @ecf_lead_provider.name %></span>
    <h2 class="govuk-heading-m"><%= @statement.name %></h2>

    <%= render Finance::Statements::ECFStatementSelector.new(current_statement: @statement, cohorts: Cohort.where(start_year: 2021..)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @statement.cohort.mentor_funding? %>
      <%= render Finance::Statements::PaymentBreakdown::ECTMentor.new(statement: @statement, ect_calculator: @ect_calculator, mentor_calculator: @mentor_calculator) %>
    <% else %>
      <%= render Finance::Statements::PaymentBreakdown::ECF.new(statement: @statement, calculator: @calculator) %>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="app-application__panel__actions">
          <div class="duvet">
            <div class="govuk-grid-column-one-half govuk-!-text-align-left">
              <% if authorise_for_payment_button_visible?(@statement) %>
                <%= button_to t("finance.statements.payment_authorisations.button"), new_finance_statement_payment_authorisation_path(@statement), method: :get, class: "govuk-button govuk-button--primary" %>
              <% elsif @statement.marked_as_paid? %>
                <%= govuk_tag(text: t("finance.statements.payment_authorisations.tag.content", statement_marked_as_paid_at: @statement.marked_as_paid_at.in_time_zone("London").strftime("%-I:%M%P on %-e %b %Y"))) %>
              <% else %>
                &nbsp;
              <% end %>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-text-align-right">
              <p class="govuk-body-s">
                <%=
                  print_link("Save as PDF", filename: "#{@ecf_lead_provider.name} #{@statement.name} ECF Statement (#{@statement.cohort.start_year} Cohort)")
                %>
              </p>
              <p class="govuk-body-s">
                <%= govuk_link_to "Download declarations (CSV)", finance_ecf_statement_assurance_report_path(@statement, format: :csv) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5 print-page-break">
  <div class="govuk-grid-column-full">
    <% if @statement.cohort.mentor_funding? %>
      <%= render Finance::Statements::OutputPayments::ECTMentor.new(ect_calculator: @ect_calculator, mentor_calculator: @mentor_calculator) %>
      <%= render Finance::Statements::Clawbacks.new(calculator: @ect_calculator) %>
      <%= render Finance::Statements::Clawbacks.new(calculator: @mentor_calculator) %>
      <%= render Finance::Statements::AdditionalAdjustments::Section.new(statement: @statement) %>
      <%= render Finance::Statements::Contracts::ECTMentor.new(statement: @statement) %>
    <% else %>
      <%= render Finance::Statements::OutputPayments::ECF.new(calculator: @calculator) %>
      <%= render Finance::Statements::Uplift.new(calculator: @calculator) %>
      <%= render Finance::Statements::Adjustments.new(statement: @statement, calculator: @calculator) %>
      <%= render Finance::Statements::Contracts::ECF.new(contract: @calculator.contract) %>
    <% end %>
  </div>

  <%= render partial: "finance/statements/calculation_rounding_message" %>
  <% if @statement.cohort.mentor_funding? %>
    <%= render partial: "finance/statements/updated_designs_message" %>
  <% end %>
</div>
