<% content_for :title, t("finance.ecf.payment_breakdown") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: select_provider_ecf_finance_payment_breakdowns_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <span class="govuk-caption-l"><%= @ecf_lead_provider.name %></span>
    <h2 class="govuk-heading-l"><%= @statement.name %></h2>

    <%= render Finance::Statements::ECFStatementSelector.new(current_statement: @statement, cohorts: Cohort.where(start_year: 2021..)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="finance-panel finance-panel__summary">
      <div class="finance-panel__summary__total-payment-breakdown">
        <h4 class="govuk-heading-l govuk-!-margin-bottom-2">Total <%= number_to_pounds(@calculator.total(with_vat: true)) %></h4>

        <div>
          <p class="govuk-body-s govuk-!-margin-bottom-2">
            Output payment <span><%= number_to_pounds(@calculator.output_fee) %></span>
          </p>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            Service fee <span><%= number_to_pounds(@calculator.service_fee) %></span>
          </p>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            Uplift fees <span><%= number_to_pounds(@calculator.total_for_uplift) %></span>
          </p>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            Adjustments <span><%= number_to_pounds(@calculator.adjustments_total) %></span>
          </p>

          <p class="govuk-body-s govuk-!-margin-bottom-2">
            VAT <span><%= number_to_pounds(@calculator.vat) %></span>
          </p>
        </div>
      </div>

      <div class="finance-panel__summary__meta">
        <div class="finance-panel__summary__meta__dates">
          <div>
            <div>
              <strong class="govuk-body-s govuk-!-margin-bottom-0">Milestone cut off date</strong>
            </div>
            <div class="govuk-heading-m govuk-!-padding-top-0">
              <%= @statement.deadline_date.to_s(:govuk) %>
            </div>
          </div>

          <div>
            <div>
              <strong class="govuk-body-s govuk-!-margin-bottom-0">Payment date</strong>
            </div>
            <div class="govuk-heading-m govuk-!-padding-top-0">
              <%= @statement.payment_date.to_s(:govuk) %>
            </div>
          </div>
        </div>

        <div class="finance-panel__summary__meta__counts">
          <div class="second govuk-list govuk-!-margin-bottom-0">
            <strong class="govuk-body-s govuk-!-margin-bottom-0">Total starts</strong>
            <div class="govuk-heading-m govuk-!-padding-top-0">
              <%= @calculator.started_count %>
            </div>
          </div>

          <div>
            <strong class="govuk-body-s govuk-!-margin-bottom-0">Total retained</strong>
            <div class="govuk-heading-m govuk-!-padding-top-0">
              <%= @calculator.retained_count %>
            </div>
          </div>

          <div>
            <strong class="govuk-body-s govuk-!-margin-bottom-0">Total completed</strong>
            <div class="govuk-heading-m govuk-!-padding-top-0">
              <%= @calculator.completed_count %>
            </div>
          </div>

          <div>
            <strong class="govuk-body-s govuk-!-margin-bottom-0">Total voided</strong>

            <div class="govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-0">
              <%= @calculator.voided_count %>
            </div>

            <%= govuk_link_to 'View<span class="govuk-visually-hidden"> voided declarations</span>'.html_safe, finance_ecf_payment_breakdown_statement_voided_path(@ecf_lead_provider.id, @statement), class: "govuk-body-s" %>
          </div>

          <div class="finance-panel__summary__downloads">
            <div class="second govuk-list govuk-!-margin-bottom-0">
              <p>
                <%= govuk_link_to "Download declarations (CSV)", finance_ecf_lead_provider_statement_assurance_report_path(@ecf_lead_provider, @statement, format: :csv) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-full">
    <div class="finance-panel finance-panel__output-payments">
      <%= govuk_table classes: ["output-payments"] do |table| %>
        <% table.caption(size: 'm', text: "Output payments") %>

        <% table.head do |head| %>
          <% head.row do |row| %>
            <% row.cell(header: true, text: "Outputs") %>

            <% @calculator.band_letters.each do |letter| %>
              <% row.cell(header: true, text: "Band #{letter.upcase}", numeric: true) %>
            <% end %>

            <% row.cell(header: true, text: "Payments", numeric: true) %>
          <% end %>

          <% table.body do |body| %>
            <% @calculator.class.event_types.each do |event_type| %>
              <% body.row do |row| %>
                <% row.cell(text: t(".#{event_type}"), header: true) %>

                <% @calculator.band_letters.each do |letter| %>
                  <% row.cell(text: @calculator.public_send("#{event_type}_band_#{letter}_additions"), numeric: true) %>
                <% end %>

                <% row.cell(text: "") %>
              <% end %>

              <% body.row do |row| %>
                <% row.cell(text: "Fee per trainee") %>

                <% @calculator.band_letters.each do |letter| %>
                  <% row.cell(text: number_to_pounds(@calculator.public_send("#{event_type}_band_#{letter}_fee_per_declaration")), numeric: true) %>
                <% end %>

                <% row.cell(text: number_to_pounds(@calculator.public_send("additions_for_#{event_type}")), numeric: true) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
        Output payment total
      </div>

      <div class="govuk-!-text-align-right govuk-heading-s">
        <%= number_to_pounds(@calculator.output_fee) %>
      </div>
    </div>

    <div class="finance-panel finance-panel__uplifts govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <%= govuk_table do |table| %>
        <% table.caption(size: "m", text: "Uplift fees") %>

        <% table.head do |head| %>
          <% head.row do |row| %>
            <% row.cell(header: true, text: "Number of participants") %>
            <% row.cell(header: true, text: "Fee per participant") %>
            <% row.cell(header: true, text: "Payments", numeric: true) %>
          <% end %>

          <% table.body do |body| %>
            <% body.row do |row| %>
              <% row.cell(text: @calculator.uplift_additions_count) %>
              <% row.cell(text: number_to_pounds(@calculator.uplift_fee_per_declaration)) %>
              <% row.cell(text: number_to_pounds(@calculator.uplift_additions_count * @calculator.uplift_fee_per_declaration), numeric: true) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="finance-panel finance-panel__adjustments govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      <%= govuk_table do |table| %>
        <% table.caption(size: "m", text: "Adjustments") %>

        <% table.head do |head| %>
          <% head.row do |row| %>
            <% row.cell(header: true, text: "Adjustment type") %>
            <% row.cell(header: true, text: "Number of trainees") %>
            <% row.cell(header: true, text: "Fee per trainee") %>
            <% row.cell(header: true, text: "Payments", numeric: true) %>
          <% end %>

          <% table.body do |body| %>
            <% body.row do |row| %>
              <% row.cell(text: "Uplift clawbacks") %>
              <% row.cell(text: @calculator.uplift_deductions_count) %>
              <% row.cell(text: number_to_pounds(-@calculator.uplift_fee_per_declaration)) %>
              <% row.cell(text: number_to_pounds(@calculator.uplift_deductions_count * -@calculator.uplift_fee_per_declaration), numeric: true) %>
            <% end %>

            <% @calculator.send(:output_calculator).banding_breakdown.each do |hash| %>
              <% relevant_hash = hash.select { |k,v| k.match?(/_subtractions/) } %>
              <% relevant_hash = relevant_hash.transform_keys { |k| k.to_s.gsub("_subtractions", "").to_sym } %>

              <% relevant_hash.each do |name, count| %>
                <% next if count.zero? %>

                <% body.row do |row| %>
                  <% fee = @calculator.fee_for_declaration(band_letter: hash[:band], type: name) %>

                  <% row.cell(text: "Clawback for #{name.to_s.humanize} (Band: #{hash[:band].to_s.upcase})") %>
                  <% row.cell(text: count) %>
                  <% row.cell(text: number_to_pounds(-fee)) %>
                  <% row.cell(text: number_to_pounds(-count * fee), numeric: true) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
        Adjustments total
      </div>

      <div class="govuk-!-text-align-right govuk-heading-s">
        <%= number_to_pounds(@calculator.adjustments_total) %>
      </div>
    </div>

    <%= render Finance::ECF::Contract.new(contract: @calculator.contract) %>
  </div>
</div>
