<% title = "Will any ECTs start their induction at your school in the #{@how_to_continue_form.cohort.description} academic year?" %><% content_for :title, title %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l"><%= @how_to_continue_form.school.name %></span>

        <%= form_for @how_to_continue_form, url: choose_how_to_continue_path(token: @how_to_continue_form.token) do |f| %>
            <%= f.govuk_error_summary %>
            <%= f.govuk_collection_radio_buttons(
                :how_to_continue,
                @how_to_continue_form.choices,
                :id,
                :name,
                legend: { text: title, size: "l", tag: "h1" },
                hint: { text: "This means teachers who have completed their initial teacher training, but have not started their 2-year induction yet." }
                )  %>

            <%= f.hidden_field :token %>
            <%= f.govuk_submit "Continue" %>
        <% end %>

    </div>
</div>
