<% content_for :title, "ECF induction and training: additional information for early career teachers" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">ECF induction and training: additional information for early career teachers</h1>
    <p>
      This guidance is for early career teachers (ECTs). It answers some common questions about your 2-year induction programme,
      which is based on the early career framework (ECF).
    </p>
    <p>
      Find out how to register for your school’s ECF-based training programme, what happens during your induction, and how to get help.
    </p>
    <p>You can also read:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to "guidance for school leaders, including the different roles involved in your induction",
            "school-leader-additional-information"
            %>
      </li>
      <li>
        <%= govuk_link_to "guidance for mentors",
            "mentor-additional-information"
            %>
      </li>
      <li>
        <%= govuk_link_to "ECF reforms: overview",
            "https://www.gov.uk/government/publications/early-career-framework-reforms-overview"
            %>
      </li>
    </ul>

    <%= render ContentListComponent.new(heading: "Contents",
                                        list: [
                                              "Is the ECF an assessment tool, and can I fail my training?",
                                              "Do I have to complete ECF-based training on top of another induction programme?",
                                              "Do I need to collect evidence during my ECF-based training?",
                                              "What happens if I start mid-term, work part-time, or I’m serving a reduced induction?",
                                              "What should I do if I have difficulties with my induction programme?",
                                              "How do I register with the DfE’s service?"
                                              ]) %>

    <section id="is-the-ecf-an-assessment-tool-and-can-i-fail-my-training">
      <h2 class="govuk-heading-l">Is the ECF an assessment tool, and can I fail my training?</h2>
    </section>
    <p>
      No, you cannot fail your ECF training - the ECF is a package of support, not an assessment tool for teachers.
    </p>
    <p>
      You should participate in your ECF-based training programme as fully as possible, but failing to complete it will
      not mean you fail your induction. Completing the assignments in your training programme is one way to collect evidence that you meet the
      <%= govuk_link_to "Teachers’ Standards", "https://www.gov.uk/government/publications/teachers-standards" %>.
    </p>
    <p>
      Headteachers are responsible for making sure you’re assessed against the Teachers’ Standards as part of your progress reviews,
      and in 2 formal assessments that will take place during your induction. This assessment is separate to the ECF programme itself.
    </p>

    <section id="do-i-have-to-complete-ecf-based-training-on-top-of-another-induction-programme">
      <h2 class="govuk-heading-l">Do I have to complete ECF-based training on top of another induction programme?</h1>
    </section>
    <p>
      No - the new ECF-based training is not an additional programme. It’s a central part of ECT induction at your school.
    </p>
    <p>
      All ECTs are now entitled to a funded 2-year induction programme. This includes structured training and support to
      help you get your teaching career off to the best possible start.
    </p>
    <p>
      Your school may choose to offer you extra training and support to meet essential specific needs, reflecting local
      policies and practices (on safeguarding, for example). This additional training does not replace your entitlement to the ECF-based programme.
    </p>

    <section id="do-i-need-to-collect-evidence-during-my-ecf-based-training">
      <h2 class="govuk-heading-l">Do I need to collect evidence during my ECF-based training?</h2>
    </section>
    <p>
      You do not need to collect evidence based on the ECF itself.
    </p>
    <p>
      Your induction tutor may ask you to provide evidence of meeting the Teachers’ Standards during your formal assessments.
      This should only consist of existing documents, for example lesson plans or feedback from observations. There’s no need for you to create anything new for a formal assessment.
    </p>

    <section id="what-happens-if-i-start-mid-term-work-part-time-or-i-m-serving-a-reduced-induction">
      <h2 class="govuk-heading-l">What happens if I start mid-term, work part-time, or I’m serving a reduced induction?</h2>
    </section>
    <p>
      You can start your induction at any time. Your school can choose from
      <%= govuk_link_to "a number of options", "school-leader-additional-information#can-we-register-an-ect-with-a-training-provider-if-they-start-mid-term-or-work-part-time" %>
       to make sure your ECF-based training fits your own circumstances.
    <p>
      If you’re serving a reduced induction period, there’s no expectation that you should cover the full depth of the ECF.
      Your headteacher will work with your induction tutor, appropriate body and training provider (where relevant) to ensure that training and support is appropriate for you.
    </p>

    <section id="what-should-i-do-if-i-have-difficulties-with-my-induction-programme">
      <h2 class="govuk-heading-l">What should I do if I have difficulties with my induction programme?</h2>
    </section>
    <p>
      If you’re struggling to engage with your training, ask your induction tutor for guidance. If your school is using a training provider, you can speak to them too.
    <p>
      If you have any concerns about your induction or statutory entitlements (time off timetable and support from a mentor),
      speak to your induction tutor first. This is the person responsible for ECT induction at your school.
      Your statutory entitlements include:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        10% off timetable in the first year, and 5% off timetable in the second year to undertake activities including training and mentoring
      </li>
      <li>
        a supportive, dedicated mentor
      </li>
      <li>
        high-quality development materials based on the early career framework
      </li>
    </ul>
    </p>
    <p>
      If they’re unable to help you, speak to your appropriate body. They’re responsible for making sure ECTs receive their statutory entitlements,
      and are fairly and consistently assessed. Your school should provide you with contact details for the right person to speak to.
    <p>

    <section id="how-do-i-register-with-the-dfe-s-service">
      <h2 class="govuk-heading-l">How do I register with the DfE’s service?</h2>
    </section>
    <p>
      When your school’s induction tutor tells DfE you’ll be training with them, you’ll get an email asking you to register with the DfE.
    <p>
      This is a DfE-funded programme, so we need to confirm everyone who takes part is eligible. We do this by checking your details in the Teaching Regulation Agency records.
    </p>
    <p>
      You’ll use our online service to provide us with your information. We need this in addition to any details you’ve given to a training provider. It should only take 5 minutes.
    <p>

    <h3 class="govuk-heading-m">How to give us your information</h3>

    <ol class="govuk-list govuk-list--number">
      <li>
        Visit our service: <%= govuk_link_to "https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration", "https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration" %>
      </li>
      <li>
        Sign in using the email address your school has registered for you. Be careful to enter it correctly with no spaces.
      </li>
      <li>
       If you do not receive an email from the DfE when you sign in, check your spam or junk folder.
      </li>
      <li>
        Once you’re signed in you’ll be asked to enter your:
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>date of birth</li>
          <li>teacher reference number (TRN) or National Insurance number</li>
        <ul>
      </li>
    </ol>

    <h3 class="govuk-heading-m">How to find your TRN</h3>
     <p>
      Your TRN is a unique ID that you can usually find on your payslip, teachers’ pension documents or teacher training records.
    <p>
      It’s usually 7 digits long, may include the letters ‘RP’ or a slash ‘/’ symbol, or could be called a QTS, GTC, DfE, DfES or DCSF number.
    </p>

    <h3 class="govuk-heading-m">What happens next</h3>
    <p>
      We’ll check your details with the Teaching Regulation Agency to confirm your eligibility for funding.
    </p>
    <p>
      You can then start or continue your training programme.
    </p>

    <h3 class="govuk-heading-m">How to give feedback</h3>
    <p>
      The DfE and training providers are committed to maximising the impact of the ECF reforms. We welcome any feedback on the programmes,
      including ECT engagement. You can share this directly with your training provider, or email the DfE:
      <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk", "continuing-professional-development@digital.education.gov.uk" %>.
    </p>
  </div>
</div>
