<% content_for :title, "ECF induction and training: additional information for mentors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">ECF induction and training: additional information for early career mentors</h1>
    <p>
      This guidance is for people who mentor early career teachers (ECTs) during their 2-year induction.
      It answers some common questions about how the ECF-based training programme works, how to support ECTs, and how to get help.
    </p>
    <p>You can also read:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to "guidance for ECTs",
            "ect-additional-information"
            %>
      </li>
      <li>
        <%= govuk_link_to "guidance for school leaders",
            "school-leader-additional-information"
            %>
      </li>
      <li>
        <%= govuk_link_to "ECF reforms: overview",
            "https://www.gov.uk/government/publications/early-career-framework-reforms-overview"
            %>
      </li>
    </ul>

    <%= render ContentListComponent.new(heading: "Contents",
                                        list: [
                                                "How should I support ECT's?",
                                                "Do I need to collect any evidence during the ECF-based training?",
                                                "Can ECTs fail their training?",
                                                "Do ECTs have to complete ECF-based training on top of another induction programme?",
                                                "How should an ECT's teaching be observed?",
                                                "What should I do if an ECT has concerns or difficulties?",
                                                "What should I do if I have concerns about mentoring?",
                                                "Can I continue training as a mentor if my ECT withdraws from the programme?",
                                                "How do I register with the DfE’s service?"
                                               ]) %>

    <section id="how-should-i-support-ect-s">
      <h2 class="govuk-heading-l">How should I support ECTs?</h2>
    </section>
    <p>As a mentor, your role is to support the ECT through their 2-year induction programme.</p>
    <p>Your responsibilities will include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
       working with your school to make sure ECTs receive a high-quality induction programme
      </li>
      <li>
        meeting regularly with the ECTs to provide support and feedback
      </li>
      <li>
        providing or arranging mentoring and coaching around specific phases and subject areas
      </li>
      <li>
        taking prompt, appropriate action if an ECT is having difficulties
      </li>
    </ul>
    <p>You’ll receive training on how to do this if your school selects to work with a training provider.</p>

    <section id="do-i-need-to-collect-any-evidence-during-the-ecf-based-training">
      <h2 class="govuk-heading-l">Do I need to collect any evidence during the ECF-based training?</h2>
    </section>
    <p>
      The ECF is not an assessment tool, so you do not have to collect data on your ECT’s performance.
    </p>
    <p>
      Your school’s headteacher and induction tutor will be responsible for assessing ECTs against the Teachers’ Standards.
      Our <%= govuk_link_to "guidance for ECTs", "ect-additional-information" %> explains what evidence they may be asked
      for to demonstrate their performance against those standards.
    </p>
    <p>
      The mentor role is separate to assessment, and should focus on supporting the ECT through their 2-year induction programme.
    </p>

    <section id="can-ects-fail-their-training">
      <h2 class="govuk-heading-l">Can ECTs fail their training?</h2>
    </section>
    <p>
      No - ECTs should participate in their ECF-based training programme as fully as possible, but failing to complete it will
      not mean they fail their induction. Completing the training programme will help them to develop the knowledge and skills they need to meet the Teachers’ Standards.
    </p>
    <p>
      Headteachers are responsible for making sure ECTs are assessed against the Teachers’ Standards as part of their progress reviews,
      and in 2 formal assessments that will take place during the induction. This assessment is separate to the ECF programme itself.
    </p>
    <section id="do-ects-have-to-complete-ecf-based-training-on-top-of-another-induction-programme">
      <h2 class="govuk-heading-l">Do ECTs have to complete ECF-based training on top of another induction programme?</h2>
    </section>
    <p>
      No - the new ECF-based training is not an additional programme. It’s a central part of ECT induction at your school.
    </p>
    <p>
      All ECTs are now entitled to a funded 2-year induction programme. This includes structured training and support to
      help them get their teaching career off to the best possible start.
    </p>
    <p>
      Your school may choose to offer your ECTs extra training and support to meet essential specific needs, reflecting local policies
      and practices (e.g. on safeguarding). This additional training does not replace their entitlement to the ECF-based programme however.
    </p>

    <section id="how-should-an-ect-s-teaching-be-observed">
      <h2 class="govuk-heading-l">How should an ECT’s teaching be observed?</h2>
    </section>
    <p>
      Each ECT’s teaching should be observed at regular intervals throughout their induction period. This is to make sure a fair
      and effective assessment of the ECT’s teaching practice, conduct and efficiency can be made against the Teachers’ Standards.
    </p>
    <p>
      Your induction tutor can be the observer, or they can select another suitable person from inside or outside of your school. Speak to your induction tutor to find out more.
    </p>
    <p>
      If your school uses a training provider to deliver the programme, they may indicate when observations should happen as part of the training.
      These observations are for development purposes only and should not be used for formal assessment.
    </p>

    <section id="what-should-i-do-if-an-ect-has-concerns-or-difficulties">
      <h2 class="govuk-heading-l">What should I do if an ECT has concerns or difficulties?</h2>
    </section>
    <p>
      They should speak to their induction tutor first, as this is the person responsible for ECT induction at your school.
    </p>
    <p>
      If they’re unable to help, the ECT should speak to your school’s appropriate body. They’re responsible for making sure ECTs receive their statutory entitlements,
      and are fairly and consistently assessed. Your school should provide ECTs with contact details for the right person to speak to.
    </p>

    <section id="what-should-i-do-if-i-have-concerns-about-mentoring">
      <h2 class="govuk-heading-l">What should I do if I have concerns about mentoring?</h2>
    </section>
    <p>
      Contact your school leaders if you have concerns about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
       your time off timetable
      </li>
      <li>
        your entitlements set out in the
        <%= govuk_link_to "statutory guidance", "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" %>
      </li>
    </ul>

    <section id="can-i-continue-training-as-a-mentor-if-my-ect-withdraws-from-the-programme">
      <h2 class="govuk-heading-l">Can I continue training as a mentor if my ECT withdraws from the programme?</h2>
    </section>
    <p>
      Yes. If you were assigned an ECT at the start of the programme, you can continue training so you are ready to work with other ECTs.
    </p>

    <section id="how-do-i-register-with-the-dfe-s-service">
      <h2 class="govuk-heading-l">How do I register with the DfE’s service?</h2>
    </section>
    <p>
      When your school’s induction tutor tells DfE you’ll be mentoring, you’ll get an email asking you to register with the DfE.
    </p>
    <p>
      This is a DfE-funded programme, so we need to confirm everyone who takes part is eligible. We do this by checking your details in the Teaching Regulation Agency records.
    </p>
    <p>
      You’ll use our online service to provide us with your information. We need this in addition to any details you’ve given to a training provider. It should only take 5 minutes.
    </p>

    <h3 class="govuk-heading-m">How to give us your information</h3>
    <ol class="govuk-list govuk-list--number">
      <li>
       Visit our service: <%= govuk_link_to "https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration", "https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration" %>
      </li>
      <li>
        Sign in using the email address your school has registered for you. Be careful to enter it correctly with no spaces.
      </li>
      <li>
        If you do not receive an email from the DfE when you sign in, check your spam or junk folder.
      </li>
      <li>
        Once you’re signed in you’ll be asked to enter your:
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>date of birth</li>
          <li>teacher reference number (TRN) or National Insurance number</li>
        <ul>
      </li>
    </ol>

    <h3 class="govuk-heading-m">How to find your TRN</h3>
    <p>
      Your TRN is a unique Id that:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
       is usually 7 digits long, for example ‘4567814’
      </li>
      <li>
        may include the letters ‘RP’ or a slash ‘/’ symbol, for example ‘RP99/12345’
      </li>
      <li>
        may also be called a QTS, GTC, DfE, DfES or DCSF number
      </li>
    </ul>
    <p>
      You’ll have a TRN if you hold, or are working towards qualified teacher status (QTS) in England.
     </p>
    <p>
      You can usually find it on your payslip, teachers’ pension documents or teacher training records.
    </p>

    <h3 class="govuk-heading-m">If you’re a mentor without a TRN</h3>
    <p>
      You must <%= govuk_link_to "apply for a TRN", "https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration/trn-guidance" %>
      before you can use DFE’s service. You need a TRN to receive funded training and materials.
    </p>

    <h3 class="govuk-heading-m">How to give feedback</h3>
    <p>
      The DfE and training providers are committed to maximising the impact of the ECF reforms. We welcome any feedback on the programmes,
      including ECT engagement. You can share this directly with your training provider, or email the DfE:
      <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk", "continuing-professional-development@digital.education.gov.uk" %>.
    </p>
  </div>
</div>












