<% content_for :title, "ECF induction and training: additional information for school leaders" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">ECF induction and training: additional information for school leaders</h1>
    <p>
      This guidance is for school leaders and induction tutors. It answers some common questions about how to set up and
      run your school’s early career teacher (ECT) induction training programme, based on the
      <%= govuk_link_to "early career framework (ECF)", "https://www.gov.uk/government/publications/early-career-framework" %>.
    </p>
    <p>
      You can also view:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to "guidance for ECTs",
            "ect-additional-information"
            %>
      </li>
      <li>
        <%= govuk_link_to "guidance for mentors",
            "mentor-additional-information"
            %>
      </li>
      <li>
        <%= govuk_link_to "ECF reforms: overview",
            "https://www.gov.uk/government/publications/early-career-framework-reforms-overview"
            %>
      </li>
    </ul>

    <%= render ContentListComponent.new(heading: "Contents",
                                        list: [
                                            "What are the responsibilities of each role and organisation?",
                                            "Is the ECF an assessment tool?",
                                            "Do ECTs have to complete ECF-based training on top of another induction programme?",
                                            "Can we register an ECT with a training provider if they start mid-term or work part-time?",
                                            "What happens if an ECT has concerns or difficulties?",
                                            "Who should observe an ECT’s teaching practice?",
                                            "How should we choose and support mentors?",
                                            "Why does DfE need personal information from ECTs and mentors?",
                                            "Do I need to tell the DfE which training provider we’re using?",
                                            "How does funding for training work?",
                                            "What support is available for teachers who complete induction in autumn 2021 or spring 2022?",
                                            "When and why do we need to use the DfE’s service?"
                                            ]) %>

    <section id="What-are-the-responsibilities-of-each-role-and-organisation?">
      <h2 class="govuk-heading-l">What are the responsibilities of each role and organisation?</h2>
    </section>
    <section id="What’s-the-role-of-the-DfE-funded-provider?">
      <h3 class="govuk-heading-m">What’s the role of the DfE-funded provider?</h3>
    </section>
    <h4 class="govuk-heading-s">Lead providers</h4>
    <p>
      Schools can choose from one of 6 DfE-funded training providers. These organisations are known as ‘lead providers’.
    </p>

    <h4 class="govuk-heading-s">Delivery partners</h4>
    <p>
      Lead providers work with ‘delivery partners’ to deliver their training programmes to ECTs and mentors across the country.
      These partners include teaching school hubs, universities and other organisations.
    </p>
    <p>
      The materials used in each programme have been accredited by DfE and quality assured by the Education Endowment Foundation.
    </p>

    <h3 class="govuk-heading-m">What’s the role of the appropriate body?</h3>
    <p>
      Your school must appoint an appropriate body and record all ECT inductions with them. This is a separate step from choosing a training provider, even if that training provider also acts as the appropriate body.
    </p>
    <p>
      Appropriate bodies quality assure statutory teacher induction. They will:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>check ECTs are receiving their statutory induction entitlements</li>
      <li>check that ECT assessment procedures are fair and appropriate</li>
      <li>register your ECT’s induction with the Teaching Regulation Agency (TRA)</li>
    </ul>
    <p>
      If your school is delivering its own induction programme, your appropriate body will check that it’s based on the ECF.
      This process is known as ‘fidelity checking’. Schools using a funded training provider will not need to have these checks.
    </p>
    <p>
      Find <%= govuk_link_to "information for local and national appropriate bodies here", "https://www.gov.uk/government/publications/statutory-teacher-induction-appropriate-bodies/find-an-appropriate-body" %>.
    </p>
    <p>
      Read more about the <%= govuk_link_to "and responsibilities of appropriate bodies", "https://www.gov.uk/government/publications/appropriate-bodies-guidance-induction-and-the-early-career-framework" %>.
    </p>

    <h3 class="govuk-heading-m">What’s Ofsted’s role in the quality assurance of the training?</h2>
    <p>
      Ofsted will inspect the DfE-funded training providers known as lead providers. Inspection will focus on the quality of
      professional development and training, and the leadership and management of the lead provider. These reports may help you
      decide which provider-led programme you want to use for ECTs in your school.
    </p>
    <p>
      Ofsted will visit a sample of the lead providers’ delivery partners, and talk to a sample of ECTs, mentors and trainers
      (where applicable). They will not be inspected or judged themselves however.
    </p>
    <p>
      Ofsted will not inspect induction programmes at schools that are delivering their own induction programme using DfE-accredited materials,
      or their own ECF-based design.
    </p>

    <h3 class="govuk-heading-m">What do induction tutors and mentors need to do? </h3>
    <h4 class="govuk-heading-s">Induction tutors</h4>
    <p>
      The induction tutor will provide regular monitoring and support, and coordinate assessments of ECTs. They’ll review each
      ECT’s progress against the <%= govuk_link_to "Teachers’ Standards", "https://www.gov.uk/government/publications/teachers-standards" %>.
    </p>
    <p>
      The induction tutor is a separate role to that of the mentor.
    </p>
    <p>
      Your school can currently only select one induction tutor. They’ll have access to the DfE service, and be our point of contact.
    </p>
    <p>
      Your induction tutor should:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>hold qualified teaching status (QTS)</li>
      <li>have the skills and knowledge needed to assess your ECT’s progress against the Teachers’ Standards</li>
      <li>carry out regular progress reviews</li>
      <li>undertake 2 formal assessment meetings with each ECT during the course of the induction period, one midway through induction and one at the end</li>
      <li>be able to recognise when early action is needed if an ECT is experiencing difficulties</li>
    </ul>

    <h4 class="govuk-heading-s">Mentors</h4>
    <p>
      ECTs are expected to receive support through regular one-to-one sessions with a dedicated mentor.
    </p>
    <p>
      The mentor role is focused on supporting the ECT through their 2-year programme. Mentors at schools using a DfE-funded provider will receive comprehensive training on how to deliver this support.
    </p>
    <p>
      Read about the <%= govuk_link_to "different tasks and responsibilities for ECTs, mentors and induction tutors",
                         "https://manage-training-for-early-career-teachers.education.gov.uk/pages/what-each-person-does" %>.
    </p>
    <section id="Is-the-ECF-an-assessment-tool?" %>
      <h2 class="govuk-heading-l">Is the ECF an assessment tool?</h2>
    </section>
    <p>
      No - the ECF is a package of support, not an assessment tool for teachers.
    </p>
    <p>
      ECTs will follow an ECF-based training programme, but they cannot fail it. Completing assignments as part of their
      training programme is one way for ECTs to collect evidence that they meet the Teachers’ Standards
    </p>
    <p>
      Headteachers are responsible for ensuring ECT’s continue to be assessed against the Teachers’ Standards as part of
      their progress reviews, and during 2 formal assessments as part of their induction.
    </p>

    <h3 class="govuk-heading-m">If an ECT does not complete assignments from their training provider, will they fail their induction?</h3>
    <p>
      The ECF is not and should not be used as an assessment tool. ECTs should participate as fully as possible in order to develop their practice, but failing to complete the ECF programme will not mean they fail their induction. Your training provider may have specific requirements for engagement however (see the ‘What happens if an ECT does not fully engage with their provider-led training?’ section below).
    </p>
    <p>
      Your school should arrange 2 formal assessment points: one midway through induction and one at the end. Each ECT’s
      performance should be assessed against the Teachers’ Standards.
    </p>
    <p>
      Assessments should be supported by regular reviews to monitor progress. These should take place in terms without a formal assessment.
    </p>
    <section id="Do-ECTs-have-to-complete-ECF-based-training-on-top-of-another-induction-programme?" %>
      <h2 class="govuk-heading-l">Do ECTs have to complete ECF-based training on top of another induction programme?</h2>
    </section>
    <p>
      All ECTs are now entitled to a funded 2-year induction programme. This includes structured training and support to
      help them get their teaching career off to the best possible start.
    </p>
    <p>
      The new ECF-based training is not an additional programme. It should be embedded as a central part of each ECT’s induction at your school.
    </p>
    <p>
      Your school may choose to offer your ECTs extra training and support to meet essential specific needs, reflecting local
      policies and practices (e.g. on safeguarding). This additional training does not replace their entitlement to the ECF-based programme however.
    </p>
    <section id="Can-we-register-an-ECT-with-a-training-provider-if-they-start-mid-term,-or-work-part-time?" %>
      <h2 class="govuk-heading-l">Can we register an ECT with a training provider if they start mid-term, or work part-time?</h2>
    </section>
    <p>
      Yes - all training providers have a policy in place for these circumstances, so speak to them for more information.
      Your appropriate body can also advise your school of the options available in your area.
    </p>

    <h3 class="govuk-heading-m">If an ECT is serving a reduced induction, do they need to cover the full ECF?</h3>
    <p>
      There’s no expectation that an ECT serving a reduced induction period should cover the full depth of the ECF.
    </p>
    <p>
      Headteachers should work with induction tutors, appropriate bodies and training providers (where relevant) to ensure
      the training and support is appropriate for each individual.
    </p>
    <p>
      Your appropriate body will decide if an ECT can serve a reduced induction period. See
      <%= govuk_link_to "section 3 of the statutory guidance", "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" %>
      for more information.
    </p>
    <section id="What-happens-if-an-ECT-has-concerns-or-difficulties?">
      <h2 class="govuk-heading-l">What happens if an ECT has concerns or difficulties?</h2>
    </section>
    <p>
      If an ECT has any concerns about their induction or statutory entitlements, they should speak to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>their induction tutor in the first instance, then</li>
      <li>raise the matter directly with their appropriate body if the induction tutor cannot resolve it</li>
    </ul>
    <p>
      You must let your ECTs know who their appropriate body is at the start of induction, and provide contact details for a named person they can raise issues with.
    </p>

    <h3 class="govuk-heading-m">What happens if an ECT does not fully engage with their provider-led training?</h2>
    <p>
      The Early Career Framework reforms are designed to support early career teachers to succeed at the start of their careers by helping them to support their pupils to achieve their full potential.It is therefore important that ECTs engage with the training and receive their statutory entitlement to an ECF-based induction.
    </p>
    <p>
      If an ECT is unable to participate sufficiently, they can be withdrawn from the programme by your training provider. If that happens, your school will be responsible for signing up with another provider or delivering an ECF-based induction directly which would need to be ‘fidelity checked’ by your appropriate body to ensure it is based on the ECF.
    </p>
    <p>
      The DfE and training providers are committed to maximising the impact of the ECF reforms. We welcome any feedback on the programmes, including ECT engagement. You can share this directly with your training provider, or email the DfE: continuing-professional-development@digital.education.gov.uk.
    </p>

    <section id="Who-should-observe-an-ECT’s-teaching-practice?" %>
      <h2 class="govuk-heading-l">Who should observe an ECT’s teaching practice?</h2>
    </section>
    <p>
      Your induction tutor can be the observer, or you can select another suitable person from inside or outside of your school.
    </p>
    <p>
      Each ECT’s teaching should be observed at regular intervals throughout their induction period. This is to make sure
      a fair and effective assessment of the ECT’s teaching practice, conduct and efficiency can be made against the Teachers’ Standards.
    </p>
    <p>
      If you use a training provider to deliver your programme, they may indicate when observations should happen as part
      of the training programme. These observations are for development purposes only and should not be used for formal assessment.
    </p>

    <section id="How-should-we-choose-and-support-mentors?">
      <h2 class="govuk-heading-l">How should we choose and support mentors?</h2>
    </section>
    <h3 class="govuk-heading-m">What happens if our school does not have a teacher with QTS available to act as a mentor?</h3>
    <p>
      Mentors should hold QTS or QTLS. In exceptional circumstances your headteacher may identify another member of staff
      with the necessary skills and knowledge to work successfully in the role. If this happens:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your headteacher should discuss it with your appropriate body</li>
      <li>your school should make sure the person has enough time to carry out the role effectively</li>
      <li>the mentor will need to apply for a teacher reference number (TRN) so they can register with the DfE for relevant funding and access to materials</li>
    </ul>
    <p>
      Find out about the different <%= govuk_link_to "tasks and responsibilities for mentors",
      "https://manage-training-for-early-career-teachers.education.gov.uk/pages/what-each-person-does" %>
      in our guidance.
    </p>

    <h3 class="govuk-heading-m">Should mentors have dedicated time off timetable to take part in this programme?</h3>
    <p>
      Mentoring is a very important part of the ECT induction process. Your headteacher and appropriate body must check that
      mentors have adequate time during normal teaching hours to hold mentoring sessions with their ECTs on a regular basis.
    </p>
    <p>
      Training providers will have minimum requirements for engagement to make sure mentors receive the full benefit of their
      programme, allowing them to provide support to their early career teachers and set them up for a successful and fulfilling career in teaching.
    </p>
    <p>
      Find out <%= govuk_link_to "how backfill payments for mentors will be made", "#How-will-backfill-payments-for-mentors-be-made?" %>.
    </p>

    <h3 class="govuk-heading-m">Do all mentors need to attend training, or can some attend and pass information to colleagues?</h3>
    <p>
      If your school has chosen to use a DfE-funded training provider, each mentor is expected to take part. Your school will receive
      <%= govuk_link_to "additional funding to backfill each mentor’s training time", "#How-will-backfill-payments-for-mentors-be-made?" %>.
    </p>

    <h3 class="govuk-heading-m">What happens if a mentor has concerns or difficulties regarding mentoring?</h3>
    <p>
      Mentors should speak to their school leaders if they have any concerns. Your school should notify your appropriate body
      if a mentor does not have enough time to carry out their role effectively.
    </p>

    <h3 class="govuk-heading-m">Can a mentor continue training if an ECT withdraws from the programme?</h3>
    <p>
      Yes. If mentors were assigned an ECT at the start of the programme, they can continue training so they are ready to work with other ECTs.
    </p>

    <section id="Why-does-DfE-need-personal-information-from-ECTs-and-mentors?">
      <h2 class="govuk-heading-l">Why does DfE need personal information from ECTs and mentors?</h2>
    </section>
    <p>
      After your school’s induction tutor registers your ECTs and mentors with the DfE’s service, we’ll:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>send each ECT and mentor an email to the address you provide (so it’s important to make sure it’s an active email account)</li>
      <li>ask them to sign in to our service and tell us their teacher reference number (TRN) or National Insurance number, name, and date of birth</li>
    </ul>
    <p>
      We use this information to check their eligibility for funded training and access to materials.
    </p>
    <p>
      If participants do not provide this information to us directly, your school’s provider may not be able to continue training them.
      If this happens, your school may have to deliver an alternative ECF-based induction.
    </p>
    <p>
      Read our step-by-step guidance on <%= govuk_link_to "how to set up your programme using the DfE service", "https://manage-training-for-early-career-teachers.education.gov.uk/how-to-set-up-your-programme" %>.
    </p>

    <section id="Do-I-need-to-tell-the-DfE-which-training-provider-we’re-using?">
      <h2 class="govuk-heading-l">Do I need to tell the DfE which training provider we’re using?</h2>
    </section>
    <p>
      No, you do not need to register your training provider in the DfE’s service. Your provider needs to report this directly to the DfE.
    </p>
    <p>
      When a provider confirms they’re delivering training for your school, you’ll see their name when you sign in to the DfE service.
    </p>
    <p>
      If you cannot see the training provider’s name in your account, ask them to confirm the partnership with their lead provider so DfE has the correct information.
    </p>

    <section id="How-does-funding-for-training-work?">
      <h2 class="govuk-heading-l">How does funding for training work?</h2>
    </section>
    <p>
      Year 1 funding is already included in the National Funding Formula, which schools will continue to receive.
    </p>
    <p>
      Information on
      <%= govuk_link_to "year 2 funding, and time off timetable funding for mentors",
                        "https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#funding-for-national-roll-out" %>
      is available in our ECF overview guidance.
    </p>

    <h3 class="govuk-heading-m">Which schools are eligible for funded training?</h3>
    <p>
      State-funded schools can choose to work with one of
      <%= govuk_link_to "6 training providers", "#What’s-the-role-of-the-DfE-funded-provider?" %> that are accredited and funded by the DfE.
    </p>
    <p>
      All maintained and non-maintained special schools and independent schools that receive Section 41 funding can access a funded provider-led programme too.
    </p>
    <p>
      Schools that are not state funded can arrange and fund a provider-led programme. This is subject solely to the agreement of the lead provider and the institution.
    </p>

    <h3 class="govuk-heading-m">How much funding for year 1 induction is included in the national funding formula?</h3>
    <p>
      Schools receive their core funding through the
      <%= govuk_link_to "dedicated schools grant (DSG)", "https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2021-to-2022" %>,
      which is calculated using the <%= govuk_link_to "national funding formula (NFF)", "https://www.gov.uk/government/publications/guide-to-national-funding-formula/guide-to-national-funding-formula" %>.
      The NFF allocates funding primarily based on the characteristics of schools and their pupils.
    </p>
    <p>
      Schools initially received funding for time off timetable through the ‘standards fund’. Funding is now incorporated into the
      core schools funding that they receive through the DSG. Schools are expected to meet the cost of the 10% release time for ECTs as part of their core funding.
    </p>
    <p>
      The NFF does not ‘earmark’ any funding that schools should spend on ECTs or NQTs. It’s up to headteachers to manage the funding they receive.
    </p>

    <h3 class="govuk-heading-m">What happens to funding if an ECT leaves after one year? Can they transfer their induction?</h3>
    <p>
      If an ECT leaves during year 2 of induction, part funding will be calculated based on the
      <%= govuk_link_to "School Workforce Census", "https://www.gov.uk/guidance/school-workforce-census" %> returns.
    </p>
    <p>
      Year 1 funding is already included in the NFF, so schools will continue to receive this as normal.
    </p>
    <p>
      If an ECT is training with a funded provider and moves school, they should continue their existing programme where possible.
      If this is not possible, the training providers at both schools should work together to make arrangements to accommodate the ECT.
    </p>
    <p>
      We’ll confirm how funding will be allocated for ECTs and mentors when ECTs move school partway through the year in due course.
    </p>
    <section id="How-will-backfill-payments-for-mentors-be-made?">
      <h3 class="govuk-heading-m">How will backfill payments for mentors be made?</h3>
    </section>
    <p>
      State schools running statutory induction will receive a single payment for their ECTs and mentors in their induction’s second summer.
      Schools will receive funding to cover time off timetable for ECTs and mentors in the second year of induction. This will be paid directly to schools.
    </p>
    <p>
      If your school is using a DfE-funded training provider, there’s additional funding to backfill mentor training time. This will also be paid directly to schools.
    </p>
    <p>
      Schools will be paid grant funded backfill payments:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>to cover 36 hours per mentor over 2 years, from 2021 to 2022</li>
      <li>in arrears, based on school workforce census data collections over the period (the same way the 5% time off timetable for ECTs is paid)</li>
    </ul>
    <p>
      Data will be collected through the school workforce census to minimise the administrative burden for schools.
      The funding amount is calculated by taking the average salary of mentors and ECTs by region.
    </p>

    <h3 class="govuk-heading-m">Is year 2 funding proportionate for part-time teachers?</h3>
    <p>
      Yes, part-time ECTs will be paid proportionately. For example, schools with an ECT who works 0.5 full-time equivalent (FTE) would receive:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>half the funding when the ECT completes 50% of their induction (after 2 years)</li>
      <li>the full funding amount by the time they complete their induction (after 4 years)</li>
    </ul>

    <h3 class="govuk-heading-m">What happens to funding when an ECT is on parental leave?</h3>
    <p>
      ECTs will be able to continue their induction when they return from parental leave. Schools will receive proportionate
      funding for the time ECTs are taking part in their induction. Funding will be based on school workforce census data collections over the period.
    </p>

   <h3 class="govuk-heading-m">How does funding work for ECTs undertaking a reduced induction?</h3>
   <p>
     ECTs undertaking a reduced induction will be funded proportionately. They’ll be identified using school workforce census data collections over the period.
   </p>

   <section id="What-support-is-available-for-teachers-who-complete-induction-in-autumn-2021-or-spring-2022?">
     <h2 class="govuk-heading-l">What support is available for teachers who complete induction in autumn 2021 or spring 2022?</h2>
   </section>
   <p>
     DfE is offering additional support to NQTs whose induction was impacted by coronavirus (COVID-19).
     NQTs are eligible for time off timetable funding and access to ECF induction training materials if they:
   </p>
   <ul class="govuk-list govuk-list--bullet">
     <li>completed their induction in the 2020 to 2021 academic year, or</li>
     <li>had started but not yet completed their induction by 1 September 2021</li>
   </ul>
     <p>They’ll be identified using school workforce census data collections over the period.</p>

   <section id="When-and-why-do-we-need-to-use-the-DfE’s-service?">
     <h2 class="govuk-heading-l">When and why do we need to use the DfE’s service?</h2>
   </section>
   <p>
     The <%= govuk_link_to "Manage training for early career teachers service", "https://manage-training-for-early-career-teachers.education.gov.uk" %>
     is the place to tell DfE:
   </p>
   <ul class="govuk-list govuk-list--bullet">
     <li>who your school nominates as your induction tutor (they’ll be our single point of contact)</li>
     <li>if you want to use a DfE-funded training provider, accredited materials, or design your own programme based on the ECF</li>
     <li>if you need to make changes to either of these things</li>
   </ul>
   <p>
     If your school chooses to use a DfE-funded training provider or accredited materials, your induction tutor must also use the service to tell us:
   </p>
   <ul class="govuk-list govuk-list--bullet">
     <li>the full name and email address of any ECT starting training in the term ahead</li>
     <li>the full name and email address of any mentors who’ll be working with them</li>
   </ul>
   <p>
     We need to know this to arrange relevant funding and access to materials.
   </p>
   <p>
     You can add ECTs at any time, but they’ll only become eligible for funded training once they have qualified teacher status (QTS).
   </p>
   <p>
     You must tell DfE this information directly so that our records are up to date. This is in addition to any information you give to your appropriate body, teaching school hub or training provider.
   </p>
   <p>
     Read our <%= govuk_link_to "step-by-step guidance for schools", "https://manage-training-for-early-career-teachers.education.gov.uk/how-to-set-up-your-programme" %>
      to find out more.
   </p>
  </div>
</div>





