<%=
  admin_participant_header_and_title(
    profile: @participant_profile,
    section: "Training record states"
  )
%>

<%= render partial: "admin/participants/nav" %>

<% states = DetermineTrainingRecordState.call(participant_profile: @participant_profile, school: @participant_presenter.school) %>

<h2 class="govuk-heading-m">School</h2>
<% if @participant_presenter.school.blank? %>
  <p>No school details for <%= @participant_presenter.full_name %>.</p>
<% else %>
  <%= govuk_summary_list(actions: true) do |sl|
    sl.row do |row|
      row.key(text: "Name")
      row.value do
        govuk_link_to(
          @participant_presenter.school_name,
          admin_school_path(@participant_presenter.school_friendly_id)
        )
      end
    end

    sl.row do |row|
      row.key(text: "Training record status")
      row.value(text: render(StatusTags::SchoolParticipantStatusTag.new(participant_profile: @participant_presenter.participant_profile, school: @participant_presenter.school)))
    end
  end %>
<% end %>

<h2 class="govuk-heading-m">Lead provider</h2>
<% if @participant_presenter.lead_provider_name.blank? %>
  <p>No lead provider details for <%= @participant_presenter.full_name %>.</p>
<% else %>
  <%= govuk_summary_list(actions: true) do |sl|
    sl.row do |row|
      row.key(text: "Name")
      row.value(text: @participant_presenter.lead_provider_name)
    end

    sl.row do |row|
      row.key(text: "Training record state")
      row.value(text: govuk_tag(text: @participant_presenter.relevant_induction_record&.training_status || "No Induction Record Found", colour: "grey"))
    end
  end %>
<% end %>

<h2 class="govuk-heading-m">Delivery partner</h2>
<% if @participant_presenter.delivery_partner_name.blank? %>
  <p>No delivery partner details for <%= @participant_presenter.full_name %>.</p>
<% else %>
  <%= govuk_summary_list(actions: true) do |sl|
    sl.row do |row|
      row.key(text: "Name")
      row.value(text: @participant_presenter.delivery_partner_name)
    end

    sl.row do |row|
      row.key(text: "Training record state")
      row.value(text: render(StatusTags::DeliveryPartnerParticipantStatusTag.new(participant_profile: @participant_presenter.participant_profile, delivery_partner: @participant_presenter.school_cohort&.delivery_partner)))
    end
  end %>
<% end %>

<h2 class="govuk-heading-m">Appropriate body</h2>
<% if @participant_presenter.appropriate_body_name.blank? %>
  <p>No appropriate body details for <%= @participant_presenter.full_name %>.</p>
<% else %>
  <%= govuk_summary_list(actions: true) do |sl|
    sl.row do |row|
      row.key(text: "Name")
      row.value(text: @participant_presenter.appropriate_body_name)
    end

    sl.row do |row|
      row.key(text: "Training record state")
      row.value(text: render(StatusTags::AppropriateBodyParticipantStatusTag.new(participant_profile: @participant_presenter.participant_profile, appropriate_body: @participant_presenter.school_cohort&.appropriate_body)))
    end
  end %>
<% end %>

<h2 class="govuk-heading-m">Training record states</h2>
<%= govuk_summary_list(actions: true) do |sl|
  sl.row do |row|
    row.key(text: "Validation status")
    row.value(text: govuk_tag(text: states.validation_state.humanize, colour: "grey"))
  end

  sl.row do |row|
    row.key(text: "Training eligibility status")
    row.value(text: govuk_tag(text: states.training_eligibility_state.humanize, colour: "grey"))
  end

  sl.row do |row|
    row.key(text: "FIP funding eligibility status")
    row.value(text: govuk_tag(text: states.fip_funding_eligibility_state.humanize, colour: "grey"))
  end

  sl.row do |row|
    row.key(text: "Mentoring status")
    row.value(text: govuk_tag(text: states.mentoring_state.humanize, colour: "grey"))
  end

  sl.row do |row|
    row.key(text: "Training status")
    row.value(text: govuk_tag(text: states.training_state.humanize, colour: "grey"))
  end
end %>

<h3 class="govuk-heading-m">Relevant induction record statuses</h3>
<%= govuk_summary_list(actions: true) do |sl|
  sl.row do |row|
    row.key(text: "induction status")
    row.value(text: govuk_tag(text: @participant_presenter.relevant_induction_record&.induction_status || "No Induction Record Found", colour: "grey"))
  end

  sl.row do |row|
    row.key(text: "training status")
    row.value(text: govuk_tag(text: @participant_presenter.relevant_induction_record&.training_status || "No Induction Record Found", colour: "grey"))
  end
end %>

<h3 class="govuk-heading-m">Participant profile statuses</h3>
<%= govuk_summary_list(actions: true) do |sl|
  sl.row do |row|
    row.key(text: "status")
    row.value(text: govuk_tag(text: @participant_presenter.participant_profile.status, colour: "grey") +
      "<p class=\"govuk-body-s\">A historical status used if the induction_records induction_status is not set. Note: a status of Withdrawn indicates a 'soft delete' of this record.</p>".html_safe)
  end

  sl.row do |row|
    row.key(text: "training status")
    row.value(text: govuk_tag(text: @participant_presenter.participant_profile.training_status, colour: "grey") +
      "<p class=\"govuk-body-s\">A historical status used if the induction_records training_status is not set.</p>".html_safe)
  end
end %>
