<% content_for :title, "You need to set up #{@target_cohort_start_year}/#{@target_cohort_start_year + 1} cohort at your school to transfer #{add_participant_form.full_name} into it." %>

<% content_for :before_content, govuk_back_link( text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">
      <%= "We need some more information" %>
    </h1>

    <p class="govuk-body">
      Before you can register <%= add_participant_form.full_name %> for ECF-based training at your school,
      you need to set up training for the <%= @target_cohort_start_year %> to <%= @target_cohort_start_year + 1 %> year.
      This is because <%= add_participant_form.full_name %> has already started training at a
      previous school so cannot be added to the <%= Cohort.current.start_year %> to <%= Cohort.current.start_year + 1 %>
      year.
    </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        The name, TRN and date of birth you have entered will not be saved. You will need to enter this information
        again once you have set up the training.
      </p>
    </div>

    <%= govuk_button_link_to "Set up training",
                             schools_choose_programme_path(
                               cohort_id: @target_cohort_start_year,
                               induction_choice_form: { add_participant_after_complete: true }) %>
  </div>
</div>
