<h1 class="govuk-heading-l">Schools</h1>
<div class="search-container">
  <%= form_with method: :get do |f| %>
    <div class="school-search">
      <div class="school-search__input">
        <%= f.govuk_text_field(
              :query,
              value: @query,
              label: { text: "Search schools", size: "s" },
            )
        %>
      </div>
      <%= f.govuk_submit "Search", classes: "school-search__button", "data-test": "search-button" %>
    </div>
  <% end %>
</div>

<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">School</th>
      <th scope="col" class="govuk-table__header">URN</th>
      <th scope="col" class="govuk-table__header">Local Authority</th>
      <th scope="col" class="govuk-table__header">Group/network</th>
      <th scope="col" class="govuk-table__header">Induction tutor</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= govuk_link_to school.name, admin_school_path(school) %></td>
        <td class="govuk-table__cell"><%= school.urn %></td>
        <td class="govuk-table__cell"><%= school.local_authority&.name %></td>
        <td class="govuk-table__cell">- <span class='govuk-visually-hidden'>No group or network</span></td>
        <td class="govuk-table__cell"><%= school.induction_coordinators.first&.email || "- <span class='govuk-visually-hidden'>No induction tutor</span>".html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= govuk_paginate @schools %>
