<% content_for :title, "School detail: overview" %>

<h1 class="govuk-heading-xl"><%= @school.name %></h1>
<%= render partial: "admin/schools/shared/navigation" %>
<h2 class="govuk-heading-l">Overview</h2>

<% if @induction_coordinator && ImpersonationPolicy.new(current_user, @induction_coordinator).create? %>
  <%= govuk_button_to("Impersonate induction tutor", admin_impersonate_path,
                      params: {
                        impersonated_user_id: @induction_coordinator.id,
                      },
                      "data-test": "impersonate-button") %>
<% end %>

<%=
  govuk_summary_list do |sl|
    sl.row do |row|
      row.key(text: "URN")
      row.value(text: @school.urn)
      if @school.urn.present?
        row.action(
          text: "Open in GIAS",
          href: "https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/#{@school.urn}",
        )
      end
    end

    sl.row do |row|
      row.key(text: "Induction tutor")
      row.value do
        if @induction_coordinator.present?
          safe_join([@induction_coordinator.full_name, tag.br, govuk_mail_to(@induction_coordinator.email, @induction_coordinator.email)])
        end
      end

      if @induction_coordinator.present?
        row.action(text: "Change", visually_hidden_text: "induction tutor", href: admin_school_replace_or_update_induction_tutor_path(@school))
      else
        row.action(text: "Add", visually_hidden_text: "induction tutor", href: new_admin_school_induction_coordinator_path(@school))
      end
    end

    sl.row do |row|
      row.key(text: "Local authority")
      row.value(text: @school.local_authority&.name)
    end

    sl.row do |row|
      row.key(text: "Address")
      row.value(
        text: format_address(
          @school.address_line1,
          @school.address_line2,
          @school.address_line3,
          @school.postcode,
        )
      )
    end
  end
%>

<%= govuk_link_to @link_text_2020, @link_2020 %>
