<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Full name</span>
    <div class="school-name-with-tag">
      <%= govuk_link_to profile.user.full_name, '#' %>
    </div>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">Type</span>
    <%= t profile.participant_type, scope: "schools.participants.type" %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <span class="nhsuk-table-responsive__heading">School</span>
    <%= school.name %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell govuk-table__cell--numeric">
    <span class="nhsuk-table-responsive__heading">School URN</span>
    <%= school.urn %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell govuk-table__cell--numeric">
    <span class="nhsuk-table-responsive__heading">Date added</span>
    <%= profile.created_at.to_date.to_s(:govuk_short) %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell govuk-table__cell--numeric">
    <span class="nhsuk-table-responsive__heading">Validation status</span>
  </td>
</tr>
