
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Other Fees</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%=t "activemodel.attributes.other_fees.fee"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.participants"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.per_participant"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.period"%></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%= render @other_fees.other_fees %>
    <%= render partial: "other_fees_subtotal" %>
  </tbody>
</table>
