<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Output Fee</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.band"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.output_payment.participants"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.per_participant"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.period"%></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%= render @output_payments.output_payments %>
    <%=render partial: 'output_payments_subtotal' %>
  </tbody>
</table>
