<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Service Fee</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.band"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.service_fee.participants"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.per_participant"%></th>
      <th class="govuk-table__header"><%=t "activemodel.attributes.finance.monthly"%></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%=render @service_fees.service_fees %>
    <%=render partial: 'service_fees_subtotal' %>
  </tbody>
</table>
