<% content_for :title, "Lead Provider Payment Breakdown" %>

<h1 class="govuk-caption-xl"><%= @heading.name %></h1>
<h2 class="govuk-heading-l">Payment breakdown</h2>

<%= render partial: "headings_table" %>
<%= render partial: "service_fees_table" %>
<%= render partial: "output_payments_table" %>
<%= render Finance::ECF::OtherFees.new(params: @breakdown[:other_fees]) %>
