<% content_for :title, "Lead Provider Payment Breakdown" %>
<%
  def band_index_to_heading(number)
    ("A".."Z").to_a[number]
  end
%>

<h1 class="govuk-heading-l"><%= @ecf_lead_provider.name %></h1>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">ECF Payment breakdown</caption>
  <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-half">Milestone</th>
        <td class="govuk-table__cell" data-test="lead-provider-name">Started</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Recruitment target</th>
        <td class="govuk-table__cell" data-test="lead-provider-name"><%= @ecf_lead_provider.call_off_contract[:recruitment_target] %></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Current ECTs</th>
        <td class="govuk-table__cell" data-test="lead-provider-name"><%= @total_ect %></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Current mentors</th>
        <td class="govuk-table__cell" data-test="lead-provider-name"><%= @total_mentors %></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Current participants</th>
        <td class="govuk-table__cell" data-test="lead-provider-name"><%= @total_participants %></td>
      </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Service Fee</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Band</th>
      <th class="govuk-table__header">Number of Participants</th>
      <th class="govuk-table__header">Payment amount per person</th>
      <th class="govuk-table__header">Payment amount monthly</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @breakdown[:service_fees].each_with_index do |service_fee, i| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= band_index_to_heading(i) %></td>
      <td class="govuk-table__cell"><%= @ecf_lead_provider.call_off_contract.bands[i].number_of_participants_in_this_band(@ecf_lead_provider.call_off_contract[:recruitment_target]) %></td>
      <td class="govuk-table__cell"><%= number_to_currency service_fee[:service_fee_per_participant] %></td>
      <td class="govuk-table__cell"><%= number_to_currency service_fee[:service_fee_monthly] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Output Fee</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Band</th>
      <th class="govuk-table__header">Number of Participants</th>
      <th class="govuk-table__header">Payment amount per person</th>
      <th class="govuk-table__header">Payment amount monthly</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @breakdown[:output_payments].each_with_index do |service_fee, i| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= band_index_to_heading(i) %></td>
      <td class="govuk-table__cell"><%= @ecf_lead_provider.call_off_contract.bands[i].number_of_participants_in_this_band(@ecf_lead_provider.call_off_contract[:recruitment_target]) %></td>
      <td class="govuk-table__cell"><%= number_to_currency service_fee[:started][:per_participant] %></td>
      <td class="govuk-table__cell"><%= number_to_currency service_fee[:started][:subtotal] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Other Fees</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Fee</th>
      <th class="govuk-table__header">Number of Participants</th>
      <th class="govuk-table__header">Payment amount per person</th>
      <th class="govuk-table__header">Payment amount monthly</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Uplift fee</td>
      <td class="govuk-table__cell"><%= @uplift_participants %></td>
      <td class="govuk-table__cell"><%= number_to_currency @breakdown[:uplift][:per_participant] %></td>
      <td class="govuk-table__cell"><%= number_to_currency @breakdown[:uplift][:sub_total] %></td>
    </tr>
  </tbody>
</table>
