<% content_for :title, "Your induction programme" %>

<% content_for :before_content, govuk_breadcrumbs(
  breadcrumbs: { @school.name => schools_dashboard_path, "#{@cohort.display_name} cohort" => schools_cohort_path }
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @cohort.display_name %> cohort</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-2">Choose an induction programme</h1>
    <p class="govuk-body-l">
      <strong>You have chosen to:</strong>
      <% if @school_cohort.school_chose_cip? %>
        deliver your own programme using the DfE accredited materials
      <% else %>
        use a training provider, funded by the DfE
      <% end %>
    </p>

    <h2 class="govuk-heading-m">Changing your programme</h2>
    <% if @school_cohort.school_chose_fip? %>
      <p class="govuk-body">If your school has decided to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>deliver your own programme using the DfE accredited materials</li>
      </ul>
      <p class="govuk-body">Or</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>design your own programme based on the Early Career Framework (ECF)</li>
      </ul>

      <p class="govuk-body">You need to:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Speak to your training provider (if you have signed up with one).</li>
        <li>Contact: <%= render MailToSupportComponent.new %>.</li>
      </ol>
    <% else %>
      <p class="govuk-body">If your school wants to use a training provider, funded by the DfE, you should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact your local Teaching School Hub</li>
      </ul>
      <p class="govuk-body">
        They will talk you through how to access this support for your early career teachers and mentors.
        Not sure? <%= govuk_link_to(
                        "Find your local Teaching School Hub",
                        "https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub") %>.
      </p>

      <p class="govuk-body">
        If your school has decided to design and deliver your own programme based on the Early Career Framework (ECF),
        you need to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact: <%= render MailToSupportComponent.new %></li>
      </ul>
      <%= govuk_warning text: "If you change your programme, your early career teachers and mentors will lose their progress on the service" %>
    <% end %>
  </div>
</div>
