<% if @school_cohort.core_induction_programme? %>
<% content_for :title, "Next steps - using materials" %>
<% else %>
<% content_for :title, "Next steps - training provider" %>
<% end %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: schools_dashboard_path)
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3"><%= @cohort.start_year %> cohort</h1>

    <p class="govuk-body-l govuk-!-margin-bottom-8">
    <% if @school_cohort.core_induction_programme? %>
      Training using accredited materials.
    <% else %>
      Using an approved training provider.
    <% end %>
    </p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          Next steps
        </h2>
        <ul class="app-task-list__items">

<<<<<<< HEAD
          <% if @school_cohort.core_induction_programme? %>
=======
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= govuk_link_to "Choose the type of training",
                edit_schools_cohort_programme_path(@cohort.start_year) %>
            </span>

            <%= render AutoTagComponent.new(text: @school_cohort.choose_training_materials_status) %>
          </li>

          <% if @school_cohort.school_chose_cip? %>
>>>>>>> No-op change training type page
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= govuk_link_to "Choose your training materials",
                  @school_cohort.core_induction_programme_id ? schools_cohort_core_programme_materials_path(@cohort.start_year) : info_schools_cohort_core_programme_materials_path(@cohort.start_year) %>
              </span>

              <%= render AutoTagComponent.new(text: @school_cohort.choose_training_materials_status) %>
            </li>
          <% else %>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= govuk_link_to "Choose your induction programme", programme_choice_schools_cohort_path(@cohort.start_year) %>
              </span>

              <%= render AutoTagComponent.new(text: "Done") %>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= govuk_link_to "Confirm your training provider", schools_cohort_partnerships_path(@cohort.start_year) %>
              </span>

              <%= render AutoTagComponent.new(text: @school_cohort.training_provider_status) %>
            </li>
          <% end %>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= govuk_link_to "Add early career teachers and mentors", add_participants_schools_cohort_path(@cohort.start_year) %>
            </span>

            <%= render AutoTagComponent.new(text: @school_cohort.add_participants_status) %>
          </li>

        </ul>
      </li>
    </ol>
  </div>
</div>
