<% if @school_cohort.core_induction_programme? %>
  <% content_for :title, "Next steps - using materials" %>
<% else %>
  <% content_for :title, "Next steps - training provider" %>
<% end %>

<% content_for :before_content, govuk_breadcrumbs(breadcrumbs: breadcrumbs(@school)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <% if @school_cohort.core_induction_programme? %>
        <%= @cohort.start_year %> cohort: use DfE accredited materials
      <% else %>
        <%= @cohort.start_year %> cohort: use a training provider
      <% end %>
    </h1>
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          Next steps
        </h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <%= govuk_link_to "Choose your induction programme", programme_choice_schools_cohort_path %>
            </span>

            <%= render AutoTagComponent.new(text: "Done") %>
          </li>

          <% if @school_cohort.school_chose_cip? %>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= govuk_link_to "Choose your training materials",
                                  @school_cohort.core_induction_programme_id ? schools_core_programme_materials_path : info_schools_core_programme_materials_path %>
              </span>

              <%= render AutoTagComponent.new(text: @school_cohort.choose_training_materials_status) %>
            </li>
          <% else %>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= govuk_link_to "Sign up with a training provider", schools_partnerships_path %>
              </span>

              <%= render AutoTagComponent.new(text: @school_cohort.training_provider_status) %>
            </li>
          <% end %>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <% if @school_cohort.active_ecf_participants.any? %>
                <%= govuk_link_to "Your early career teachers and mentors", schools_participants_path %>
              <% else %>
                <%= govuk_link_to "Add early career teachers and mentors", schools_participants_path %>
              <% end %>
            </span>

            <%= render AutoTagComponent.new(text: @school_cohort.add_participants_status) %>
          </li>

        </ul>
      </li>
    </ol>

    <% if @school_cohort.core_induction_programme.present? %>
      <div class="govuk-inset-text">Use these handbooks and training materials to help you plan your school’s
        <%= govuk_link_to @school_cohort.core_induction_programme.name, induction_tutor_materials_path(
          provider: @school_cohort.core_induction_programme.name.downcase.tr(" ", "-"), year: "year-one"
        ) %>
        induction programme.
      </div>
    <% end %>

  </div>
</div>
