<%= render "admin/suppliers/suppliers/layout", locals = { page: "users" } %>
<%= govuk_link_to "Add a new user", new_admin_supplier_user_path, button: true %>
<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email address</th>
      <th scope="col" class="govuk-table__header">Supplier</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @users.each do |user| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-test="edit-supplier-user-link"><%= govuk_link_to user.full_name, admin_edit_user_path(user) %></td>
        <td class="govuk-table__cell"><%= user.email %></td>
        <td class="govuk-table__cell"><%= user.supplier_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= govuk_paginate @users %>
