<% content_for :title, "Report provider error" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Report that your school has been signed up incorrectly</h1>
    <p class="govuk-body"><%= @challenge_partnership_form.school_name %>  has received a confirmation
      from <%= @challenge_partnership_form.provider_name %> but you believe this is incorrect.</p>

    <%= form_for @challenge_partnership_form, url: challenge_partnership_path do |f| %>
      <%= f.hidden_field :token %>
      <%= f.hidden_field :partnership, value: @challenge_partnership_form.partnership.id %>
      <%= f.govuk_collection_radio_buttons(
            :challenge_reason,
            @challenge_partnership_form.challenge_reason_options,
            :id,
            :name,
            legend: { text: "Tell us why", size: "m" }) %>
      <%= f.govuk_submit "Submit" %>
    <% end %>
  </div>
</div>
