<%= govuk_breadcrumbs breadcrumbs: programme_breadcrumbs(@current_user, @course_year.core_induction_programme) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Content change preview</h1>
    <%= form_with model: @course_year, url: year_path, method: :put do |f| %>
      <%= f.govuk_text_field :title, label: { text: "Year title" }, value: @course_year.title %>
      <%= f.govuk_text_area :content, label: { text: "Markdown string for course year content" }, rows: 10, value: @course_year.content %>
      <%= f.govuk_submit "See preview" %>
      <%= f.govuk_submit "Save changes" %>
    <% end %>
    <div class="gem-c-govspeak govuk-govspeak ">
      <%= @course_year.content_to_html.html_safe %>
    </div>
  </div>
</div>
