<% content_for :title, "We cannot find #{@transferring_participant_form.full_name_to_display}" %>

<% content_for :before_content, govuk_back_link( text: "Back", href: { action: @transferring_participant_form.previous_step }) %>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	<span class="govuk-caption-xl"><%= @school.name %></span>
    	<h1 class="govuk-heading-xl">We cannot find <%= @transferring_participant_form.full_name_to_display %> record</h1>
    	
		<p class="govuk-body">Check the information you’ve entered is correct.</p>
    	<p class="govuk-body">We need to find <%= @transferring_participant_form.full_name %> in the Teaching Regulation Agency records so we can transfer their record to your school.</p>

    	<dl class="govuk-summary-list govuk-!-margin-bottom-7">
      		<div class="govuk-summary-list__row">
        		<dt class="govuk-summary-list__key">Name</dt>
        		<dd class="govuk-summary-list__value">
          			<%= @transferring_participant_form.full_name %>
        		</dd>
        		<dd class="govuk-summary-list__actions">
          			<%= govuk_link_to full_name_schools_transferring_participant_path do %>
            		Change <span class="govuk-visually-hidden">name</span>
          			<% end %>
        		</dd>
      		</div>
      		<div class="govuk-summary-list__row">
        		<dt class="govuk-summary-list__key">TRN</dt>
        		<dd class="govuk-summary-list__value">
          			<%= @transferring_participant_form.trn %>
        		</dd>
          		<dd class="govuk-summary-list__actions">
              		<%= govuk_link_to trn_schools_transferring_participant_path do %>
                	Change <span class="govuk-visually-hidden">TRN</span>
              		<% end %>
          		</dd>
      		</div>
      		<div class="govuk-summary-list__row">
        		<dt class="govuk-summary-list__key">Date of birth</dt>
        		<dd class="govuk-summary-list__value">
          			<%= @transferring_participant_form.date_of_birth.to_date.to_s(:govuk) %>
        		</dd>
        		<dd class="govuk-summary-list__actions">
            		<%= govuk_link_to dob_schools_transferring_participant_path do %>
              		Change <span class="govuk-visually-hidden">date of birth</span>
            		<% end %>
        		</dd>				
      		</div>
    	</dl>

    	<%= govuk_button_link_to "Confirm and continue", cannot_add_schools_transferring_participant_path %>


  	</div>
</div>
