<% current_cohort_description = Cohort.active_registration_cohort.previous.description %>

<% content_for :title, "Check you’re reporting this for the correct academic year" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: who_schools_add_participants_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Check you’re reporting this for the correct academic year</h1>

    <p class="govuk-body">If a teacher has already started their ECF-based training or mentoring at another school in the <%= current_cohort_description %> academic year:</p>
    <div class="govuk-inset-text">
      <%= link_to "Report a transferring ECT or mentor who started training in the #{current_cohort_description} academic year", transfer_participant_in_cohort(Cohort.active_registration_cohort.previous, @school), class: "govuk-link" %>
    </div>

    <p class="govuk-body">If a teacher has not started their ECF-based training or mentoring at another school:</p>
    <div class="govuk-inset-text">
      <%= govuk_link_to "Report a new ECT", add_schools_participants_path(type: :ect), class: "govuk-link" %>
    </div>
    <div class="govuk-inset-text">
      <%= govuk_link_to "Report a new mentor", add_schools_participants_path(type: :mentor), class: "govuk-link" %>
    </div>

    <p>If you need support to report a transfer, contact us:
      <%= govuk_link_to "continuing-professional-development@digital.education.gov.uk", "mailto:continuing-professional-development@digital.education.gov.uk" %>
      for more information
    </p>
  </div>
</div>
