<% content_for :title, "Check your answers" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: { action: @transferring_participant_form.previous_step }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <%= govuk_summary_list do |summary_list| %>
      <% summary_list.row do |row| %>
        <% row.key { "Name" } %>
        <% row.value { @transferring_participant_form.full_name } %>
        <% row.action(text: :none) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "TRN" } %>
        <% row.value { @transferring_participant_form.trn } %>
        <% row.action(text: :none) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Date of birth" } %>
        <% row.value { @transferring_participant_form.date_of_birth.to_date.to_s(:govuk) } %>
        <% row.action(text: :none) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Joining date" } %>
        <% row.value { @transferring_participant_form.start_date.to_date.to_s(:govuk) } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "joining date",
                      href: url_for({ action: :teacher_start_date})) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Email address" } %>
        <% row.value { @transferring_participant_form.email } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "email",
                      href: url_for({ action: :email})) %>
      <% end %>

      <% if show_mentor? %>
        <% summary_list.row do |row| %>
          <% row.key { "Mentor" } %>
          <% row.value { @transferring_participant_form.mentor_id.present? ? @transferring_participant_form.mentor.full_name : "Assign a mentor later" } %>
          <% row.action(text: "Change",
                        visually_hidden_text: "mentor",
                        href: url_for({ action: :choose_mentor})) %>
        <% end %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Training with" } %>
        <% if @transferring_participant_form.using_schools_programme? %>
          <% row.value do %>
            <div><%= lead_provider_in&.name %></div>
            <div><%= delivery_partner_in&.name %></div>
          <% end %>
          <% if @transferring_participant_form.switch_to_schools_programme? %>
            <% row.action(text: "Change",
                          visually_hidden_text: "training programme",
                          href: url_for({ action: :teachers_current_programme})) %>
          <% else %>
            <% row.action(text: :none) %>
          <% end %>
        <% else %>
          <% row.value do %>
            <div><%= lead_provider_out&.name %></div>
            <div><%= delivery_partner_out&.name %></div>
          <% end %>
          <% row.action(text: "Change",
                        visually_hidden_text: "training programme",
                        href: url_for({ action: :teachers_current_programme})) %>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for @transferring_participant_form, url: { action: :check_answers }, method: :put do |f| %>
      <%= f.govuk_submit "Confirm and add" %>
    <% end %>
  </div>
</div>
