<% title = "Who will #{possessive_name(@transferring_participant_form.full_name)} mentor be?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: {action:  @transferring_participant_form.previous_step }) %>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>

        <%= form_for @transferring_participant_form, url: { action: :choose_mentor }, method: :put do |f| %>
            <%= f.govuk_radio_buttons_fieldset :mentor_id,
                legend: { text: title, tag: 'h1', size: 'xl' } do %>

                <% @school_cohort.school.mentors.each do |mentor| %>
                    <%= f.govuk_radio_button :mentor_id, mentor.id, label: { text: mentor.full_name } %>
                <% end %>

                <%= f.govuk_radio_divider %>

                <%= f.govuk_radio_button :mentor_id, "later", label: { text: 'Assign a mentor later' } %>
            <% end %>

            <%= f.govuk_submit "Continue" %>
        <% end %>
    </div>
</div>
