<% title = "Choose which delivery partner #{@transferring_participant_form.full_name.titleize} will train with" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<span class="govuk-caption-xl"><%= @school.name %></span>

<p><%= @transferring_participant_form.full_name %> has been training the same lead provider as your school, but a different delivery partner: </p>

<%= form_for @transferring_participant_form, url: { action: :choose_delivery_partner }, method: :put do |f| %>
  <%= f.govuk_radio_buttons_fieldset :delivery_partner_choice,
    legend: { text: title, tag: 'h1', size: 'xl' } do %>
        <%= f.govuk_radio_button :delivery_partner_choice, "school", label: { text: @school_cohort.delivery_partner.name } %>
        <%= f.govuk_radio_button :delivery_partner_choice, "current", label: { text: @latest_induction_record.induction_programme.delivery_partner.name } %>
      <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
