<% title = "Will #{@transferring_participant_form.full_name } be training with your school’s current providers?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: {action: @transferring_participant_form.previous_step}) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>

        <%= form_for @transferring_participant_form, url: { action: :schools_current_programme }, method: :put do |f| %>
        <%= f.govuk_error_summary %>
            <%= f.govuk_collection_radio_buttons(
                :schools_current_programme_choice,
                @transferring_participant_form.schools_current_programme_choices,
                :id, :name,
                inline: true,
                legend: { text: title, tag: 'h1', size: 'xl' }) do %>

                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
                <p class="govuk-body govuk-!-margin-bottom-1"><%= lead_provider_in&.name %></p>
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
                <p class="govuk-body"><%= delivery_partner_in&.name %></p>
            <% end %>

            <%= f.govuk_submit "Continue" %>

        <% end %>

    </div>
</div>
