<% title = "Will #{@transferring_participant_form.full_name } continue with their current training programme?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: { action: @transferring_participant_form.previous_step }) %>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

  		<span class="govuk-caption-xl"><%= @school.name %></span>

    	<%= form_for @transferring_participant_form, url: { action: :teachers_current_programme }, method: :put do |f| %>
      	<%= f.govuk_error_summary %>
      		<%= f.govuk_collection_radio_buttons(
            	:teachers_current_programme_choice, @transferring_participant_form.teachers_current_programme_choices,
             	:id, :name,
             	inline: true,
             	legend: { text: title, tag: 'h1', size: 'xl' }) do %>

        		<% if with_same_provider_and_different_delivery_partner? %>
          			<p class="govuk-body">This is the same lead provider, but a different delivery partner to other ECT’s and mentors at your school.</p>
        		<% else %>
          			<p class="govuk-body">This is a different programme to other ECT’s and mentors at your school.</p>
        		<% end %>

        		<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
        		<p class="govuk-body govuk-!-margin-bottom-1"><%= @latest_induction_record.induction_programme.lead_provider&.name %></p>
        		<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
        		<p class="govuk-body"><%= @latest_induction_record.induction_programme.delivery_partner&.name %></p>

      		<% end %>

      		<%= f.govuk_submit "Continue" %>

    	<% end %>

  	</div>
</div>
