<% title = "What’s #{@transferring_participant_form.full_name_to_display} start date at your school?" %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: "Back", href: { action: :dob}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>
    <%= form_for @transferring_participant_form, url: { action: :teacher_start_date }, method: :put do |f| %>
      <%= f.govuk_date_field :start_date,
        start_date: true,
        width: "three-quarters",
        legend: { text: "#{@transferring_participant_form.full_name_to_display} start date", class: "govuk-visually-hidden" },
        hint: { text: "For example, 14 7 2023"}
      %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
