<% content_for :title, "Report provider error" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Report that <%= @challenge_partnership_form.school_name %> has been signed up incorrectly</h1>

    <%= form_for @challenge_partnership_form, url: confirm_admin_school_challenge_partnership_path do |f| %>
      <%= f.hidden_field :partnership_id %>
      <%= f.hidden_field :lead_provider_name %>
      <%= f.govuk_collection_radio_buttons(
            :challenge_reason,
            @challenge_partnership_form.challenge_reason_options,
            :id,
            :name,
            legend: { text: "Tell us why", size: "m" }) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
