<%= render partial: "admin/performance/nav" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l"><%= params[:id] %></h1>
    <h2 class="govuk-heading-m">Validation errors</h2>

    <% @validation_errors.each do |error| %>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title govuk-!-font-weight-regular">
            Validation error <a href="#" class="govuk-link">#<%= error.id.slice(0, 8) %></a> –
            <%= error.created_at.strftime("%d %B %Y at %H:%M") %>
            by user <a href="#"><%= error.user.full_name %></a></h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <% error.details.each do |field, info| %>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <%= field %>
                </dt>
                <dd class="govuk-summary-list__value">
                  <div class="govuk-error-message govuk-!-font-weight-regular"><%= info['messages'].join(", ") %></div>
                  <code class="app-user-input-example"><%= info['value'] %></code>
                  <br>
                </dd>
              </div>
            <% end %>
          </dl>
        </div>
      </div>
    <% end %>

  </div>
</div>
