<%=
  admin_participant_header_and_title(
    profile: @participant_profile,
    section: "School"
  )
%>

<%= render partial: "admin/participants/nav" %>

<% if @participant_presenter.school.blank? %>
  <p>No school details for <%= @participant_presenter.full_name %>.</p>
<% else %>
  <%= govuk_summary_list(actions: true) do |sl|
    sl.row do |row|
      row.key(text: "School name")
      row.value do
        govuk_link_to(
          @participant_presenter.school_name,
          admin_school_path(@participant_presenter.school_friendly_id)
        )
      end
    end

    sl.row do |row|
      row.key(text: "School URN")
      row.value(text: @participant_presenter.school_urn)
    end

    sl.row do |row|
      row.key(text: "Lead provider")
      row.value(text: @participant_presenter.lead_provider_name)
    end

    sl.row do |row|
      row.key(text: "Delivery partner")
      row.value(text: @participant_presenter.delivery_partner_name)
    end

    if @participant_profile.ect?
      sl.row do |row|
        row.key(text: "Mentor")
        row.value(
          text: if @participant_presenter.has_mentor?
                  govuk_link_to(
                    @participant_presenter.mentor_full_name,
                    admin_participant_path(@participant_presenter.mentor_profile),
                  )
                else
                  'Not yet assigned'
                end
        )
      end
    end

    if @participant_presenter.mentor?
      sl.row do |row|
        row.key(text: "Mentoring")
        row.value do
          if @participant_presenter.mentees_by_school.any?
            html_list(
              @participant_presenter.mentees_by_school.map do |school, mentees|
                safe_join([
                  tag.h2(school.name, class: "govuk-heading-s"),
                  html_list(
                    mentees.map { |m| govuk_link_to(m.full_name, admin_participant_path(m)) }
                  )
                ])
              end
            )
          end
        end
      end
    end
  end %>

  <%=
    govuk_button_link_to(
      "Transfer to another school",
      select_school_admin_participant_school_transfer_path(@participant_profile),
      secondary: true,
    )
  %>

  <%=
    govuk_button_link_to(
      "Add to a school mentor pool",
      new_admin_participant_add_to_school_mentor_pool_path(@participant_profile),
      secondary: true,
    ) if @participant_presenter.mentor?
  %>
<% end %>
