<%=
  admin_participant_header_and_title(
    profile: @participant_profile,
    section: "School"
  )
%>

<%= render partial: "admin/participants/nav" %>

<% if @school.blank? %>
  <p>No school details for <%= @participant_profile.full_name %>.</p>
<% else %>
  <%= govuk_summary_list(actions: true) do |sl|
    sl.row do |row|
      row.key(text: "School name")
      row.value do
        govuk_link_to(
          @school.name,
          admin_school_path(@school.friendly_id)
        )
      end
    end

    sl.row do |row|
      row.key(text: "School URN")
      row.value(text: @relevant_induction_record.school_cohort.school.urn)
    end

    sl.row do |row|
      row.key(text: "Lead provider")
      row.value(text: @relevant_induction_record.school_cohort.lead_provider&.name)
    end

    sl.row do |row|
      row.key(text: "Delivery partner")
      row.value(text: @relevant_induction_record.school_cohort.delivery_partner&.name)
    end

    sl.row do |row|
      row.key(text: "Appropriate body")
      row.value(text: @relevant_induction_record.school_cohort.appropriate_body&.name)
    end

    if @relevant_induction_record.participant_profile.ect?
      sl.row do |row|
        row.key(text: "Mentor")
        row.value(
          text: if @relevant_induction_record.mentor_profile.present?
                  govuk_link_to(
                    @relevant_induction_record.mentor_full_name,
                    admin_participant_path(@relevant_induction_record.mentor_profile),
                  )
                else
                  'Not yet assigned'
                end
        )
      end
    end

    if @relevant_induction_record.participant_profile.mentor?
      sl.row do |row|
        row.key(text: "Mentoring")
        row.value do
          if @mentees_by_school.present?
            html_list(
              @mentees_by_school.map do |school, mentees|
                safe_join([
                  tag.h2(school.name, class: "govuk-heading-s"),
                  html_list(
                    mentees.map { |m| govuk_link_to(m.full_name, admin_participant_path(m)) }
                  )
                ])
              end
            )
          end
        end
      end
    end
  end %>

  <%=
    govuk_button_link_to(
      "Transfer to another school",
      select_school_admin_participant_school_transfer_path(@participant_profile),
      secondary: true,
    )
  %>

  <%=
    govuk_button_link_to(
      "Add to a school mentor pool",
      new_admin_participant_add_to_school_mentor_pool_path(@participant_profile),
      secondary: true,
    ) if @relevant_induction_record.participant_profile.mentor?
  %>
<% end %>
