<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :nav_bar do %>
      <%= render PrimaryNavComponent.new do |component| %>
        <%= component.nav_item(path: dashboard_path) do %>
          Overview
        <% end %>
        <%= component.nav_item(path: lead_providers_report_schools_start_path) do %>
          Schools
        <% end %>
      <% end %>
    <% end %>

    <h1 class="govuk-heading-xl">You can only confirm schools for the cohort that starts in the next academic year
      (<%= report_schools_form.cohort.display_name %>).</h1>

    <p>If you want to add schools to your <%= report_schools_form.cohort.display_name %> cohort after 31 October <%= report_schools_form.cohort.start_year %>, you need to contact:
      <%= render MailToSupportComponent.new %></p>

    <%= govuk_button_link_to "Continue", lead_providers_report_schools_delivery_partner_path %>
  </div>
</div>
