<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :nav_bar do %>
      <%= render PrimaryNavComponent.new do |component| %>
        <%= component.nav_item(path: dashboard_path) do %>
          Overview
        <% end %>
        <%= component.nav_item(path: lead_providers_report_schools_start_path) do %>
          Schools
        <% end %>
      <% end %>
    <% end %>

    <h1 class="govuk-heading-xl">You’ve chosen to confirm schools for the <%= @report_schools_form.cohort.description %> academic year</h1>

    <%= govuk_button_link_to "Continue", lead_providers_report_schools_delivery_partner_path %>
  </div>
</div>
