<% body_type = @setup_school_cohort_form.attributes[:appropriate_body_type] %>
<% appropriate_bodies = @setup_school_cohort_form.appropriate_body_choices(body_type) %>

<% title = t("setup_school_cohort.appropriate_body_type.title.#{body_type}") %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: url_for(action: :appropriate_body_type)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <div class="govuk-inset-text">
      Remember to contact the appropriate body directly to appoint them for your ECTs, if you have not done so already.
    </div>

    <%= form_for @setup_school_cohort_form, url: { action: :appropriate_body }, method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <% if body_type == "national" %>
        <%= f.govuk_collection_radio_buttons(:appropriate_body,
                                             appropriate_bodies,
                                             :id,
                                             :name,
                                             legend: { hidden: true },
                                             ) %>
      <% else %>
        <% # TODO: add autocomplete %>
        <%= f.govuk_collection_select(:appropriate_body,
                                      appropriate_bodies,
                                      :id,
                                      :name,
                                      label: { hidden: true },
                                      options: { include_blank: true },
                                      class: "autocomplete") %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
