<% title = "Have you appointed an appropriate body?" %>
<% back_url = url_for(action: @setup_school_cohort_form.appropriate_body_from_action) %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= form_for @setup_school_cohort_form, url: { action: :appropriate_body_appointed }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
        :appropriate_body_appointed,
        @setup_school_cohort_form.appropriate_body_appointed_choices,
        :id, :name,
        inline: true,
        legend: { hidden: true }) do %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
