<% previous_cohort = @school.school_cohorts.previous %>
<% title = "Are you planning to change your current training provider?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: expect_any_ects_schools_setup_school_cohort_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>

        <%= form_for @setup_school_cohort_form, url: { action: :change_provider }, method: :put do |f| %>
        <%= f.govuk_error_summary %>
        <%= f.govuk_collection_radio_buttons(
            :change_provider_choice,
            @setup_school_cohort_form.change_provider_choices,
            :id, :name,
            inline: true,
            legend: { text: title, tag: 'h1', size: 'xl' }) do %>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-5">Your DfE-funded lead provider</h2>
            <p class="govuk-body"><%= previous_cohort.lead_provider&.name %></p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Your delivery partner</h2>
            <p class="govuk-body"><%= previous_cohort.delivery_partner&.name %></p>

            <p class="govuk-body">Visit <%= govuk_link_to "How to set up training for early career teachers (opens in new tab)",
              guidance_for_how_to_setup_training_url,
              target: "_blank",
              rel: "noopener noreferrer" %>
            to learn more about providers.</p>
        <% end %>

        <%= f.govuk_submit "Continue" %>
        <% end %>

    </div>
</div>
