
<% title = "Does your school expect any new ECTs in the #{@cohort.description} academic year?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path(@school)) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>

        <%= form_for @setup_school_cohort_form, url: { action: :expect_any_ects }, method: :put do |f| %>
        <%= f.govuk_error_summary %>
            <%= f.govuk_collection_radio_buttons(
                :expect_any_ects_choice,
                @setup_school_cohort_form.expect_any_ects_choices,
                :id, :name,
                inline: true,
                legend: { text: title, tag: 'h1', size: 'xl' }) do %>


                <p class="govuk-body">Do not include:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>ECTs who started training in the <%= Cohort.active_registration_cohort.previous.description %> academic year</li>
                    <li>any other teachers who started or completed their statutory induction before <%= Cohort.active_registration_cohort.academic_year_start_date.to_date.to_fs(:govuk) %></li>
                </ul>
                <p class="govuk-body">ECTs are teachers who have finished their initial teacher training.</p>
            <% end %>
            <%= f.govuk_submit "Continue" %>
        <% end %>

    </div>
</div>
