<% title = "Does your school expect any ECTs in the next academic year?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path(@school)) %>

<span class="govuk-caption-xl"><%= @school.name %></span>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= form_for @setup_school_cohort_form, url: { action: :expect_any_ects }, method: :put do |f| %>
        <%= f.govuk_error_summary %>
        <%= f.govuk_collection_radio_buttons(
            :expect_any_ects_choice,
            @setup_school_cohort_form.expect_any_ects_choices,
            :id, :name,
            inline: true,
            legend: { text: title, tag: 'h1', size: 'xl' }) do %>

            <p class="govuk-body">ECTs are teachers who have finished their initial teacher training.</p>
            <p class="govuk-body">It does not include teachers who started or completed their statutory induction before <%= Cohort.active_registration_cohort.academic_year_start_date.to_date.to_s(:govuk) %>.</p>
            <% end %>

        <%= f.govuk_submit "Continue" %>
        <% end %>
    </div>
</div>
