<% registration_cohort = Cohort.active_registration_cohort.description %>
<% title = "How will you run training for new starters in the #{registration_cohort} academic year?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: expect_any_ects_schools_setup_school_cohort_path) %>

<span class="govuk-caption-xl"><%= @school.name %></span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @setup_school_cohort_form, url: { action: :how_will_you_run_training }, method: :put do |f| %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons(
        :how_will_you_run_training_choice,
        @setup_school_cohort_form.how_will_you_run_training_choices(cip_only: @school.cip_only?),
        :id, :name,
        legend: { text: title, tag: 'h1', size: 'xl' }) do %>

        <p class="govuk-body">This choice will only apply for ECTs and mentors starting in the <%= registration_cohort %> academic year.</p>
        <p class="govuk-body">
          To learn more about your options, visit
          <%= govuk_link_to 'How to set up training for early career teachers (opens in new tab)',
          "https://www.gov.uk/guidance/how-to-set-up-training-for-early-career-teachers",
          target: :_blank,
          rel: "noopener noreferrer" %>.
        </p>

      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
