<% content_for :title, "You cannot use this combination of lead provider and delivery partner for your new ECTs and their mentors" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: change_provider_schools_setup_school_cohort_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>

    <h1 class="govuk-heading-xl">You cannot use this combination of lead provider and delivery partner for your new ECTs and their mentors</h1>

    <p class="govuk-body">This is because <%= @delivery_partner.name %> will not be continuing as a delivery partner for <%= @lead_provider.name %>.</p>

    <p class="govuk-body">For ECTs and mentors starting training in the 2022 to 2023 academic year, you can either use:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your lead provider <%= @lead_provider.name %> with another delivery partner</li>
      <li>another combination of lead provider and delivery partner</li>
    </ul>

    <%= govuk_link_to "Continue", { action: :use_different_delivery_partner }, class: "govuk-button" %>

  </div>
</div>
