<% title = "Will you use #{@lead_provider.name} with another delivery partner?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: provider_relation_invalid_schools_setup_school_cohort_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>

     <%= form_for @setup_school_cohort_form, url: { action: :use_different_delivery_partner }, method: :put do |f| %>
       <%= f.govuk_error_summary %>
       <%= f.govuk_collection_radio_buttons(
           :use_different_delivery_partner_choice,
           @setup_school_cohort_form.use_different_delivery_partner_choices,
           :id, :name,
           inline: true,
           legend: { text: title, tag: 'h1', size: 'xl' }) do %>

         <p class="govuk-body govuk-!-margin-top-5">This is for:</p>

         <ul class="govuk-list govuk-list--bullet">
           <li>new ECTs starting ECF-based training in the <%= @cohort.description %> academic year</li>
           <li>any mentors due to start mentor training in the same year</li>
         </ul>

       <% end %>

       <%= f.govuk_submit "Continue" %>
     <% end %>

  </div>
</div>
