<table class="govuk-table">
  <tbody class="govuk-table__body admin-tabs">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">School</th>
      <td class="govuk-table__cell"><%= latest_induction_record.school_cohort.school.name %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <% if latest_induction_record.participant_profile.ect? %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Mentor</th>
        <td class="govuk-table__cell"><%= latest_induction_record.mentor_profile&.user&.full_name || 'Not yet assigned' %></td>
        <td class="govuk-table__cell"></td>
      </tr>
    <% end %>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lead provider</th>
      <td class="govuk-table__cell"><%= latest_induction_record.school_cohort.lead_provider&.name %></td>
      <td class="govuk-table__cell">
      <% if latest_induction_record.school_cohort.lead_provider %>
        <%= govuk_link_to "#" do %>
          Challenge <span class="govuk-visually-hidden">lead provider</span>
        <% end %>
      <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Delivery partner</th>
      <td class="govuk-table__cell"><%= latest_induction_record.school_cohort.delivery_partner&.name %></td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
