<% content_for :title, "Participant detail: event history" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_participants_path) %>

<% if @participant_profile.ecf? %>
  <span class="govuk-caption-l"><%= @latest_induction_record&.user&.user_description %></span>
<% end %>
<h1 class="govuk-heading-xl"><%= @participant_profile.user.full_name %></h1>
<%= render partial: "admin/participants/shared/navigation" %>
<h2 class="govuk-heading-m">Declarations history</h2>

<% @participant_declarations.each do |participant_declaration| %>
  <%= tag.h3(participant_declaration.id, class: "govuk-heading-s") %>

  <%=
    govuk_summary_list do |sl|
      sl.row do |row|
        row.key(text: "Declaration type")
        row.value(text: participant_declaration.declaration_type)
      end

      sl.row do |row|
        row.key(text: "Declaration date")
        row.value(text: participant_declaration.declaration_date.to_formatted_s(:govuk))
      end

      sl.row do |row|
        row.key(text: "Course identifier")
        row.value(text: participant_declaration.course_identifier)
      end

      sl.row do |row|
        row.key(text: "Evidence held")
        row.value(text: participant_declaration.evidence_held)
      end

      sl.row do |row|
        row.key(text: "Type")
        row.value(text: participant_declaration.type)
      end

      sl.row do |row|
        row.key(text: "CPD Lead Provider")
        row.value(text: participant_declaration.cpd_lead_provider&.name)
      end

      sl.row do |row|
        row.key(text: "Delivery parner")
        row.value(text: participant_declaration.delivery_partner&.name)
      end

      sl.row do |row|
        row.key(text: "State")
        row.value(text: participant_declaration.state)
      end

      sl.row do |row|
        row.key(text: "Superseded by")
        row.value(text: participant_declaration.superseded_by_id)
      end

      sl.row do |row|
        row.key(text: "Sparcity uplift")
        row.value(text: participant_declaration.sparsity_uplift)
      end

      sl.row do |row|
        row.key(text: "Pupil premium uplift")
        row.value(text: participant_declaration.pupil_premium_uplift)
      end
    end
  %>
<% end %>
