<% content_for :title, "Participant events" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_participants_path) %>

<h1 class="govuk-heading-xl">
  <%= @participant_profile.user.full_name %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @participant_profile.npq? %>
      <%= govuk_tabs(title: 'Contents') do |component| %>
        <% component.tab(label: 'Events') do %>
          <%= render partial: 'events', locals: { event_list: @event_list } %>
        <% end %>
      <% end %>
    <% else %>
      <%= govuk_tabs(title: 'Contents') do |component| %>
        <% component.tab(label: 'Events') do %>
          <%= render partial: 'events', locals: { event_list: @event_list } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
