<% content_for :title, "Participant detail: event history" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_participants_path) %>

<% if @participant_profile.ecf? %>
  <span class="govuk-caption-l"><%= @latest_induction_record&.user&.user_description %></span>
<% end %>
<h1 class="govuk-heading-xl"><%= @participant_profile.user.full_name %></h1>
<%= render partial: "admin/participants/shared/navigation" %>
<h2 class="govuk-heading-l">Event history</h2>

<% if @event_list.present? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date</th>
        <th scope="row" class="govuk-table__header">Description</th>
        <th scope="row" class="govuk-table__header">Reporter</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
    <% @event_list.each do |event| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= event.date.to_s(:govuk) %></td>
        <td class="govuk-table__cell"><%= event.description %></td>
        <td class="govuk-table__cell"><%= event.reporter %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">No event history was found</p>
<% end %>
