<% content_for :title, "Participant detail" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_participants_path) %>

<% unless @participant_profile.npq? %>
  <span class="govuk-caption-l"><%= @latest_induction_record&.user&.user_description %></span>
<% end %>
<h1 class="govuk-heading-xl">
  <%= @participant_profile.user.full_name %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @participant_profile.npq? %>
      <%= render Admin::NPQ::Participants::Details.new(profile: @participant_profile) %>
      <%= render Admin::NPQ::Participants::ValidationTasks.new(profile: @participant_profile) %>
    <% else %>
      <%= govuk_tabs(title: 'Contents') do |component| %>
        <% component.tab(label: 'Details') do %>
          <%= render partial: 'details', locals: { participant_profile: @participant_profile, latest_induction_record: @latest_induction_record } %>
        <% end %>
        <% component.tab(label: 'School') do %>
          <%= render partial: 'school', locals: { latest_induction_record: @latest_induction_record } %>
        <% end %>
        <% component.tab(label: 'History') do %>
          <%= render partial: 'history', locals: { historical_induction_records: @historical_induction_records, latest_induction_record: @latest_induction_record } %>
        <% end %>
        <% component.tab(label: 'Induction records') do %>
          <%= render partial: 'induction_records', locals: { participant_profile: @participant_profile, induction_records: @induction_records } %>
        <% end %>
        <% component.tab(label: 'Cohorts') do %>
          <%= render partial: 'cohorts', locals: { latest_induction_record: @latest_induction_record } %>
        <% end %>
        <% component.tab(label: 'Declarations history') do %>
          <%= render partial: 'declarations_history', locals: { participant_declarations: @participant_declarations } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
