<% content_for :title, "Participant detail" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<h1 class="govuk-heading-l">
  <%= @participant_profile.user.full_name %>
  <%= render ParticipantStatusTagComponent.new(profile: @participant_profile) %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render Admin::Participants::Details.new(profile: @participant_profile) %>
    <%= render Admin::Participants::ValidationTasks.new(profile: @participant_profile) %>

    <% if @participant_profile.policy_class.new(current_user, @participant_profile).withdraw_record? %>
      <%= govuk_link_to "Delete participant", remove_admin_participant_path %>
    <% end %>
  </div>
</div>
