<% content_for :title, "Participant detail" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: admin_participants_path) %>

<h1 class="govuk-heading-l">
  <%= @participant_profile.user.full_name %>
  <%= render ParticipantStatusTagComponent.new(profile: @participant_profile, admin: true) %>
</h1>

<%= render Admin::Participants::Details.new(profile: @participant_profile) %>
<%= render Admin::Participants::ValidationTasks.new(profile: @participant_profile) %>

<% if FeatureFlag.active?(:admin_delete_participants) %>
  <% unless @participant_profile.npq? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= govuk_link_to "Delete participant", remove_admin_participant_path %>
      </div>
    </div>
  <% end %>
<% end %>
