<% content_for :before_content, govuk_back_link(text: "Back", href: finance_schedules_path) %>

<span class="govuk-caption-xl"><%= @schedule.cohort.start_year %></span>
<h1 class="govuk-heading-xl"><%= @schedule.schedule_identifier %></h1>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Milestones</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Declaration type</th>
      <th scope="col" class="govuk-table__header">Start date</th>
      <th scope="col" class="govuk-table__header">Milestone date</th>
      <th scope="col" class="govuk-table__header">Payment date</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @schedule.milestones.each do |milestone| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <%= milestone.name %>
        </th>

        <td class="govuk-table__cell">
          <%= milestone.declaration_type %>
        </td>

        <td class="govuk-table__cell">
          <%= milestone.start_date&.to_fs(:govuk) %>
        </td>

        <td class="govuk-table__cell">
          <%= milestone.milestone_date&.to_fs(:govuk) %>
        </td>

        <td class="govuk-table__cell">
          <%= milestone.payment_date&.to_fs(:govuk) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
