<% title = "We cannot find #{@wizard.full_name}" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link( text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">We cannot find <%= @wizard.possessive_name %> record</h1>

    <p class="govuk-body">Check the information you’ve entered is correct.</p>
    <p class="govuk-body">We need to find <%= @wizard.full_name %> in the Teaching Regulation Agency records to make sure they’re eligible for this funded programme.</p>

    <%= govuk_summary_list do |summary_list| %>
      <% summary_list.row do |row| %>
        <% row.key { "Name" } %>
        <% row.value { @wizard.full_name } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "name",
                      href: show_change_schools_add_participants_path(step: :name)) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "TRN" } %>
        <% row.value { @wizard.trn } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "TRN",
                      href: show_change_schools_add_participants_path(step: :trn)) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Date of birth" } %>
        <% row.value { @wizard.date_of_birth.to_date.to_s(:govuk) } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "date of birth",
                      href: show_change_schools_add_participants_path(step: :date_of_birth)) %>
      <% end %>
    <% end %>

    <h3 class="govuk-heading-s">If this information is correct.</h3>
    <p class="govuk-body">We may be able to find their record using their National Insurance number.</p>

    <%= govuk_button_link_to "Continue", show_schools_add_participants_path(step: :nino)  %>
  </div>
</div>
