<% content_for :title, "Add early career teacher - choose mentor" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>

    <%= form_with model: @form, url: update_schools_add_participants_path, scope: "add_participant_wizard", method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.hidden_field :mentor_id, value: '' %>
      <%= f.govuk_radio_buttons_fieldset :mentor_id,
        legend: { text: "Who will #{@wizard.possessive_name} mentor be?", tag: 'h1', size: 'xl' } do %>

        <% @wizard.mentor_options.each_with_index do |mentor, i| %>
          <%= f.govuk_radio_button :mentor_id, mentor.id, label: { text: mentor.full_name }, link_errors: i == 0 %>
        <% end %>

        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :mentor_id, "later", label: { text: 'Assign mentor later' } %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
