<% content_for :title, "ECT or mentor added" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @profile.user == current_user %>
      <%= govuk_panel title_text: "You’ve been added as a mentor", text: nil, classes: "govuk-!-margin-bottom-7" %>
    <% elsif exempt_from_induction?(@profile) %>
      <%= render partial: 'schools/add_participants/eligibility_confirmation/exempt_from_induction', locals: { profile: @profile } %>
    <% else %>
      <% if @profile.ect? %>
        <%= govuk_panel title_text: "#{@profile.user.full_name} has been added as an ECT", text: nil, classes: "govuk-!-margin-bottom-7" %>
      <% else %>
          <%= govuk_panel title_text: "#{@profile.user.full_name} has been added as a mentor", text: nil, classes: "govuk-!-margin-bottom-7" %>
      <% end %>

      <% if @profile.ecf_participant_eligibility.present? %>
        <h2>What happens next</h2>
        <p class="govuk-body">
          We’ll let this person know you’ve registered them for ECF-based training at your school.
          They do not need to provide us with any more information.
        </p>

        <h2 class="govuk-heading-m">Eligibility for funding</h2>
        <%= render partial: 'eligibility_confirmation', locals: { profile: @profile } %>
      <% else %>
          <%= render partial: 'no_eligibility_record' %>
      <% end %>
    <% end %>

    <%= govuk_link_to "View your ECTs and mentors", schools_participants_path, class: "govuk-link govuk-link--no-visited-state" %>

  </div>
</div>
