<% title = "We still cannot find #{@wizard.possessive_name} record" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">
      This could be because the information does not match their Teaching Regulation Agency (TRA) record
    </p>

    <%= govuk_summary_list do |summary_list| %>
      <% summary_list.row do |row| %>
        <% row.key { "TRN" } %>
        <% row.value { @wizard.trn } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "TRN",
                      href: show_change_schools_add_participants_path(step: :trn)) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Date of birth" } %>
        <% row.value { @wizard.date_of_birth.to_date.to_s(:govuk) } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "date of birth",
                      href: show_change_schools_add_participants_path(step: :date_of_birth)) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "National Insurance number" } %>
        <% row.value { @wizard.nino } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "National Insurance number",
                      href: show_change_schools_add_participants_path(step: :nino)) %>
      <% end %>
    <% end %>

    <h3 class="govuk-heading-m">If you are sure this information is correct</h3>
    <p class="govuk-body">
      Contact us for help to register this <%= @wizard.ect_participant? ? "ECT" : "mentor" %> at your school: <%= render MailToSupportComponent.new %>
    </p>
    <%= govuk_link_to "Return to your ECTs and mentors", schools_participants_path, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
</div>
