<%= govuk_breadcrumbs breadcrumbs: programme_breadcrumbs(@current_user, @core_induction_programme) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">The Early Career Framework study material</h1>

    <% if @core_induction_programme.course_years.any? %>
      <% @core_induction_programme.course_years.each_with_index do |course_year, index| %>
        <h2 class="govuk-heading-xl govuk-!-margin-top-8"><%= "Year #{index + 1}" %></h2>
        <h2 class="govuk-heading-l"><%= course_year.title %></h2>
        <% if policy(course_year).edit? %>
          <%= govuk_link_to "Edit year content", edit_year_url(course_year), button: true %>
        <% end %>
        <div class="gem-c-govspeak govuk-govspeak ">
          <%= course_year.content_to_html.html_safe %>
        </div>

        <h3 class="govuk-heading-l">Autumn term</h3>
        <%= render "module_list", locals = { course_modules: course_year.autumn_modules_with_progress(@current_user) } %>

        <h3 class="govuk-heading-l">Spring term</h3>
        <%= render "module_list", locals = { course_modules: course_year.spring_modules_with_progress(@current_user) } %>

        <h3 class="govuk-heading-l">Summer term</h3>
        <%= render "module_list", locals = { course_modules: course_year.summer_modules_with_progress(@current_user) } %>
      <% end %>
    <% else %>
      <p>No course years were found!</p>
    <% end %>
  </div>
</div>
