<% content_for :before_content, govuk_back_link(text: "Back", href: finance_participant_path(@participant_profile.user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Change training status</h1>

    <div class="govuk-inset-text">
      <p>
        <strong>User ID / Participant ID</strong>
        <br/>
        <%= @participant_profile.user.id %>
      </p>
      <p>
        <strong>Training status</strong>
        <br/>
        <% if @participant_profile.npq? %>
          <%= @participant_profile.state %>
        <% else %>
          <%= @participant_profile.training_status %>
        <% end %>
      </p>
    </div>

    <%= form_for @change_training_status_form, url: finance_participant_profile_change_training_status_path(@participant_profile) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :training_status, legend: { text: "Choose a different training status", tag: 'h1', size: 'm' } do %>
        <% @change_training_status_form.training_status_options.each do |val, text| %>
          <%= f.govuk_radio_button :training_status, val, label: { text: text } %>
        <% end %>
      <% end %>

      <%= f.govuk_select(:reason, label: { text: "Reason for change", tag: 'h1', size: 'm' }, hint: { text: "Required for deferred or withdrawn" }, options: { include_blank: true }) do %>
        <% @change_training_status_form.reason_options.each do |group, items| %>
          <optgroup label="<%= group %>">
            <% items.each do |item| %>
              <option value="<%= item %>" data-tags="<%= item %>" <%= "selected" if item == @change_training_status_form.reason %>><%= item %></option>
            <% end %>
          </optgroup>
        <% end %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
