<% content_for :before_content, govuk_back_link(text: "Back", href: finance_participant_path(@npq_application.profile.user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to change the status to pending?</h1>

    <div class="govuk-inset-text">
      <p>
        <strong>Lead provider approval status</strong>
        <br/>
        <%= @npq_application.lead_provider_approval_status %>
      </p>
    </div>

    <%= form_for @change_lead_provider_approval_status_form, url: finance_npq_application_change_lead_provider_approval_status_path(@npq_application) do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :training_status, legend: { text: "Change the status to pending?", tag: 'h1', size: 'm' } do %>
        <%= f.govuk_radio_button :change_status_to_pending, "yes", label: { text: "Yes" }, link_erorrs: true %>
        <%= f.govuk_radio_button :change_status_to_pending, "no", label: { text: "No" } %>
      <% end %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
