<% content_for :title, "API sandbox" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Use our sandbox to test Manage teacher CPD</h1>

      <p class="govuk-body">The Manage teacher CPD sandbox is a test environment which allows you to experience the service as a school induction tutor, lead provider and software vendor.</p>

      <p class="govuk-body">You can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>act as a School and setup inductions for Early Career Teacher</li>
        <li>act as a Teacher and register for an NPQ</li>
        <li>act as a lead provider and manage a list of school partnerships</li>
        <li>act as a lead provider and as list of participants</li>
        <li>act as a lead provider and confirm the start of an applicant's training</li>
        <li>test Manage teacher CPD’s <%= govuk_link_to 'API integrations', '/api-docs' %></li>
      </ul>

      <p class="govuk-body">Throughout, you’ll be able to give us feedback so we can improve the service.</p>

      <h2 class="govuk-heading-l">Get started as an NPQ participant</h2>
      <p class="govuk-body">You’ll be asked to enter your email address during the NPQ registration process on Teacher CPD sandbox.</p>

      <p class="govuk-body">Please do not use real addresses, unless it is your own, as the system will record the real email addresses as part of the test.</p>

      <p class="govuk-body">To avoid testers having to use the One Time Password emails, we’ve
        enabled a whitelist of emails ending <code>@your-domain.com</code> and <code>@example.com</code> that will by
        pass the One Time Password (OTP) email and just provide the OTP code on screen.</p>

      <p class="govuk-body">Any data you enter should be anonymised or invented.</p>

      <%= govuk_start_now_button(
            text: 'Continue as an NPQ participant',
            href: 'https://npq-registration-sandbox.london.cloudapps.digital',
            ) %>

      <h2 class="govuk-heading-l">Get started as a lead provider</h2>
      <p class="govuk-body">To test the service as a lead provider, you’ll need to contact us  by email on <%= render MailToSupportComponent.new %>.</p>

      <p class="govuk-body">From the provider interface in the sandbox, you’ll be able to sign in as yourself. To avoid testers having to use real users, we’ve enabled fake users with ID references that have been provided to you. You can confirm the start of an applicant’s course using these IDs.</p>

      <%= govuk_start_now_button(
            text: 'Continue as a training provider',
            href: lead_providers_landing_page_url,
            ) %>

      <h2 class="govuk-heading-l">Get started with the API</h2>
      <p class="govuk-body">Our API allows you to integrate your software with our service.</p>

      <p class="govuk-body">In the sandbox, you’ll be able to test your integration. You’ll also be able to generate dummy applications to process as a training provider.</p>

      <%= govuk_start_now_button(
            text: 'Review our API guidance',
            href: lead_providers_guidance_home_url,
            ) %>

      <h2 class="govuk-heading-l">Help and support</h2>

      <p class="govuk-body">Email us at <%= render MailToSupportComponent.new %> for support using Apply sandbox or any other aspect of the Manage teacher CPD service.</p>
    </div>
  </div>
</div>
