<% content_for :title, "API sandbox" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Use our sandbox environment</h1>

      <p class="govuk-body">Sandbox is a test environment for the Manage teacher CPD service.</p>
      <p class="govuk-body">Login to sandbox to experience the service as a school induction tutor, lead provider and software vendor.</p>

      <h2 class="govuk-heading-l">Test API integrations with lead provider systems</h2>
      <p class="govuk-body">Test provider system integrations in sandbox without affecting real ECF or NPQ data.</p>

      <p class="govuk-body">Fake participants and IDs have been made available to use. </p>

      <p class="govuk-body">Test scenarios such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>confirming partnerships with schools and delivery partners</li>
        <li>viewing and updating participant data</li>
        <li>submitting or voiding declarations to receive appropriate payment</li>
      </ul>

      <%= govuk_start_button(
            text: "View API guidance for lead providers",
            href: "/api-reference",
            ) %>

      <h2 class="govuk-heading-l">Impersonate ECF school induction tutors </h2>
      <p class="govuk-body">Impersonate a school induction tutor to see how they set up ECF-based training programmes and register Early Career Teachers (ECTs) and mentors to the service. </p>
      
      <p class="govuk-body">Request induction tutor test access to the sandbox by emailing us on <%= render MailToSupportComponent.new %>.</p>

      <%= govuk_start_button(
            text: 'Login to sandbox as a school induction tutor',
            href: lead_providers_landing_page_url,
            ) %>


      <h2 class="govuk-heading-l">Impersonate an NPQ applicant</h2>
      <p class="govuk-body">Impersonate a teacher applying for an NPQ course.</p>

      <p class="govuk-body">Any data you entered should be anonymised or invented. Do not use anyone’s real email address, unless it is your own, as the service will record the real email addresses as part of the test.</p>

      <p class="govuk-body">Note, the NPQ registration sandbox does not send out emails. To avoid testers having to use the One Time Password (OTP) emails, we’ve enabled a whitelist of emails ending with your domain and <code>@example.com</code>. The OTP emails will be bypassed and you will see the OTP code on screen. </p>


      <%= govuk_start_button(
            text: 'Login to sandbox as an NPQ participant',
            href: 'https://npq-registration-sandbox.london.cloudapps.digital',
            ) %>


      <h2 class="govuk-heading-l">Get support</h2>

      <p class="govuk-body">Email <%= render MailToSupportComponent.new %> for support using the Manage teacher CPD service.</p>
    </div>
  </div>
</div>
