<%=
  admin_participant_header_and_title(
    presenter: @participant_presenter,
    section: "Declaration history",
  )
%>

<%= render partial: "admin/participants/nav" %>

<h2 class="govuk-heading-m">Declarations history</h2>

<% if @participant_presenter.declarations.none? %>
  <p>
    <%= @participant_presenter.full_name %> has no declarations.
  </p>
<% else %>
  <% @participant_presenter.declarations.each do |participant_declaration| %>
    <%= tag.h3(participant_declaration.id, class: "govuk-heading-s") %>

    <%=
      govuk_summary_list do |sl|
        sl.with_row do |row|
          row.with_key(text: "Declaration type")
          row.with_value(text: participant_declaration.declaration_type)
        end

        sl.with_row do |row|
          row.with_key(text: "Declaration date")
          row.with_value(text: participant_declaration.declaration_date.to_formatted_s(:govuk))
        end

        sl.with_row do |row|
          row.with_key(text: "Course identifier")
          row.with_value(text: participant_declaration.course_identifier)
        end

        sl.with_row do |row|
          row.with_key(text: "Evidence held")
          row.with_value(text: participant_declaration.evidence_held)
        end

        sl.with_row do |row|
          row.with_key(text: "Type")
          row.with_value(text: participant_declaration.type)
        end

        sl.with_row do |row|
          row.with_key(text: "CPD Lead Provider")
          row.with_value(text: participant_declaration.cpd_lead_provider&.name)
        end

        sl.with_row do |row|
          row.with_key(text: "Delivery parner")
          row.with_value(text: participant_declaration.delivery_partner&.name)
        end

        sl.with_row do |row|
          row.with_key(text: "State")
          row.with_value(text: participant_declaration.state)
        end

        sl.with_row do |row|
          row.with_key(text: "Superseded by")
          row.with_value(text: participant_declaration.superseded_by_id)
        end

        sl.with_row do |row|
          row.with_key(text: "Sparcity uplift")
          row.with_value(text: participant_declaration.sparsity_uplift)
        end

        sl.with_row do |row|
          row.with_key(text: "Pupil premium uplift")
          row.with_value(text: participant_declaration.pupil_premium_uplift)
        end
      end
    %>
  <% end %>
<% end %>
