<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular"><%= t("finance.contract.recruitment_target") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= recruitment_target %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular"><%= t("finance.participants") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell"><%= t("finance.total_paid") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= total_paid %></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell"><%= t("finance.total_not_paid") %></th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= total_not_paid %></td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
