<tr class="govuk-table__row">
  <td class="govuk-table__cell"><%= t("npq.#{course_identifier}") %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= t("finance.contract.npq.service_fee_installments") %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= t("finance.contract.npq.output_payment_events") %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= t("finance.contract.npq.recruitment_target") %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= t("finance.contract.npq.per_participant") %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds per_participant %></td>
</tr>
