<h1 class="govuk-heading-xl">New school</h1>

<%= form_with model: @school ||= School.new, url: schools_path, local: true do |form| %>
  <% if @school&.errors&.any? %>
    <%= form.govuk_error_summary %>
  <% end %>
  <%= form.govuk_text_field :name %>

  <%= form.govuk_date_field :opened,
                            legend: { text: "Enter the date the school was opened" },
                            hint: { text: "For example, 31 3 1980" }
  %>

  <%= form.govuk_collection_radio_buttons :school_type,
                                          School::SCHOOL_TYPES,
                                          ->(option) { option },
                                          ->(option) { option },
                                          legend: { text: "What type of school is it?" }
  %>

  <%= form.submit %>
<% end %>
