<tr class="govuk-table__row">
  <td class="govuk-table__cell" >
    <div class="school-name-with-tag">
      <%= govuk_link_to school.name, lead_providers_partnership_path(partnership) %>
      <%= govuk_tag text: "Reported error", colour: "red" if partnership.challenged? %>
    </div>
  </td>
  <td class="govuk-table__cell"><%= school.urn %></td>
  <td class="govuk-table__cell"><%= partnership.delivery_partner.name %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= school.early_career_teacher_profiles_for(cohort.start_year).count %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
</tr>
