<% title = "Will any ECTs start their induction at your school in the #{@wizard.cohort.description} academic year?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= form_with model: @wizard.form, url: url_for(action: :update), scope: @wizard.to_key, method: :put do |f| %>
            <%= f.govuk_error_summary %>

            <span class="govuk-caption-l"><%= @wizard.school.name %></span>

            <% hint_text = capture do %>
              <p>This means teachers who have completed their initial teacher training, but have not started their 2-year induction yet.</p>
              <p>If you do not expect any ECTs, but you do expect mentors to begin training, answer yes.</p>
            <% end %>

            <%= f.govuk_collection_radio_buttons(
                :expect_any_ects,
                simple_yes_no_options,
                :id,
                :name,
                legend: { text: title, tag: 'h1', size: 'l' },
                hint: { text: hint_text }
              ) %>

            <%= f.govuk_submit "Continue" %>
        <% end %>
    </div>
</div>
