<h2 class="govuk-heading-l govuk-!-margin-bottom-2">
  <%= cohort.display_name %> partnership
</h2>

<%= render cohort_info do %>
  <% if partnership %>
    <%# TODO: include these values in the outer summary list %>
    <%=
      govuk_summary_list do |sl|
        sl.row do |row|
          row.key(text: "Lead provider")
          row.value(text: partnership.lead_provider.name)
        end

        sl.row do |row|
          row.key(text: "Delivery partner")
          row.value(text: partnership.delivery_partner.name)
        end
      end
    %>

    <%= govuk_button_link_to(new_admin_school_partnership_challenge_partnership_path(school_cohort.school, partnership), secondary: true) do %>
      Challenge <%= tag.span("partnership", class: "govuk-visually-hidden") %>
    <% end %>
  <% end %>

  <% if relationships.any? %>
    <h3>Additional relationships</h3>

    <% relationships.each do |relationship| %>
      <%=
        govuk_summary_list do |sl|
          sl.row do |row|
            row.key(text: "Lead provider")
            row.value(text: relationship.lead_provider.name)
          end

          sl.row do |row|
            row.key(text: "Delivery partner")
            row.value(text: relationship.delivery_partner.name)
          end

          sl.row do |row|
            row.key(text: "Participants")
            row.value do
              helpers.html_list(
                relationship
                  .induction_programmes
                  .flat_map(&:participant_profiles)
                  .map { |pp| helpers.govuk_link_to(pp.full_name, admin_participant_path(pp)) }
              )
            end
          end
        end
      %>

      <%= govuk_button_link_to(new_admin_school_partnership_challenge_partnership_path(school_cohort.school, relationship), secondary: true) do %>
        Challenge <%= tag.span("relationship", class: "govuk-visually-hidden") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
