<% content_for :title, "Appropriate body users" %>

<%= render "admin/appropriate_bodies/heading" %>

<%= govuk_button_link_to "Add a new user", new_admin_appropriate_bodies_user_path %>
<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Full name</th>
      <th scope="col" class="govuk-table__header">Email address</th>
      <th scope="col" class="govuk-table__header">Appropriate body</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @appropriate_body_profiles.group_by(&:user).each do |user, profiles| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= user.full_name %></td>
        <td class="govuk-table__cell"><%= user.email %></td>
        <td class="govuk-table__cell">
          <% profiles.each do |profile| %>
            <%= govuk_link_to profile.appropriate_body.name, edit_admin_appropriate_bodies_user_path(profile) %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== govuk_pagination(pagy: @pagy) %>
