<h1 class="govuk-heading-xl">Have you confirmed which training provider your school is using?</h1>
<p>The Department for Education (DfE) has accredited 6 lead providers to design induction programmes. They have also approved hundreds of training providers across the country to deliver these programmes to schools.</p>
<p>These providers are actively recruiting schools so you may hear from them soon.</p>
<p>You can also find out more about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>what they're offering</li>
  <li>if they're working with a training provider near you</li>
</ul>
<p>Explore:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><%= govuk_link_to "Ambition Institute", "https://www2.ambition.org.uk/l/330231/2021-02-24/4mvx6", class: "govuk-link--no-visited-state" %></li>
  <li><%= govuk_link_to "Best Practice Network (home of Outstanding Leaders Partnership)", "https://bestpracticenet.co.uk/early-career-framework", class: "govuk-link--no-visited-state" %></li>
  <li><%= govuk_link_to "Capita with lead academic partner the University of Birmingham", "https://www.capita.com/expertise/supporting-teachers-in-early-career", class: "govuk-link--no-visited-state" %></li>
  <li><%= govuk_link_to "Education Development Trust", "https://www.educationdevelopmenttrust.com/ecf", class: "govuk-link--no-visited-state" %></li>
  <li><%= govuk_link_to "Teach First", "https://www.teachfirst.org.uk/early-career-framework", class: "govuk-link--no-visited-state" %></li>
  <li><%= govuk_link_to "UCL Institute of Education", "https://www.ucl.ac.uk/ioe-early-career-framework", class: "govuk-link--no-visited-state" %></li>
</ul>
<h2 class="govuk-heading-l">What happens next</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>when you have confirmed an agreement directly with your training provider, they will update the DfE (this may take a few weeks)</li>
  <li>this page will be automatically updated</li>
</ul>