<h1 class="govuk-heading-xl">Have you signed up with a training provider?</h1>

<p>There are a few ways you can sign up with a training provider.</p>

<p>You can contact your local <%= govuk_link_to "Teaching School Hub (TSH)", "https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub" %>. They can talk you through how to access this support for your early career teachers and mentors.</p>
<p>You can also explore what our 6 providers have to offer and contact them directly:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><%= govuk_link_to "Ambition Institute", "https://www2.ambition.org.uk/l/330231/2021-02-24/4mvx6" %></li>
  <li><%= govuk_link_to "Best Practice Network (home of Outstanding Leaders Partnership)", "https://bestpracticenet.co.uk/early-career-framework" %></li>
  <li><%= govuk_link_to "Capita with lead academic partner the University of Birmingham", "https://www.capita.com/expertise/supporting-teachers-in-early-career" %></li>
  <li><%= govuk_link_to "Education Development Trust", "https://www.educationdevelopmenttrust.com/ecf" %></li>
  <li><%= govuk_link_to "Teach First", "https://www.teachfirst.org.uk/early-career-framework" %></li>
  <li><%= govuk_link_to "UCL Institute of Education", "https://www.ucl.ac.uk/ioe-early-career-framework" %></li>
</ul>

<p>These training providers and their local partners will also be recruiting schools in the next few months, so you may hear from them.</p>

<h2 class="govuk-heading-m">When you have signed up with a provider</h2>

<ol class="govuk-list govuk-list--number">
  <li>Your training provider will tell us directly (this may take a few weeks).</li>
  <li>You’ll get an email notification.</li>
  <li>This page will be automatically updated.</li>
</ol>
