<h1 class="govuk-heading-xl">Signed up with a training provider</h1>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your training provider</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Delivery partner</th>
      <td class="govuk-table__cell"><%= @partnership.delivery_partner.name %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lead provider</th>
      <td class="govuk-table__cell"><%= @partnership.lead_provider.name %></td>
    </tr>
  </tbody>
</table>

<% if @report_mistake_link.present? %>
  <p class="govuk-body">
    If this doesn’t look right, <%= govuk_link_to "report that your school has been confirmed incorrectly", @report_mistake_link %>.
  </p>

  <p class="govuk-body">
    This link will expire on <%= @mistake_link_expiry %>.
  </p>
<% else %>
  <p class="govuk-body">
    If this doesn’t look right, contact: <%= render MailToSupportComponent.new %>
  </p>
<% end %>
