<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">University College London's handbooks and training outlines</h1>
<h2 class="govuk-heading-l govuk-!-margin-bottom-3">Handbooks</h2>
<p>The programme handbook outlines how UCL Early Career Teacher Consortium’s coaching and mentoring programme works.</p>
<%= govuk_link_to "Programme Handbook (PDF, 1002 KB, 74 pages)",
                      "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/12/Programme-Handbook-Updated.pdf" %>
<p>
  The practitioner inquiry handbook details how early career teachers will carry out detailed investigations into
  specific aspects of their teaching in the second year of their induction.
</p>
<%= govuk_link_to "Year 2 handbook: practitioner inquiry (PDF, 430 KB, 20 pages)",
                      "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Year-2-Handbook-Practitioner-Inquiry-1.pdf" %>

<h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-3">Module summaries</h2>
<p>These materials show what early career teachers will learn in each module during their induction.</p>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <%=govuk_link_to "Module 1 summary guide (PDF, 193 KB, 7 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-1-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 2 summary guide (PDF, 153 KB, 7 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-2-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 3 summary guide (PDF, 179 KB, 10 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-3-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 4 summary guide (PDF, 139 KB, 6 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-4-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 5 summary guide (PDF, 139 KB, 6 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-5-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 6 summary guide (PDF, 189 KB, 6 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-6-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 7 summary guide (PDF, 167 KB, 7 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-7-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 8 summary guide (PDF, 236 KB, 11 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-7-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 9 summary guide (PDF, 145 KB, 5 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-7-Summary-Guide.pdf" %>
  </li>
</ul>

<h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-3">Training outlines</h2>

<p>
  Each module features up to 3 dedicated training sessions where experienced
  practitioners will share practical applications of what early career teachers are learning.
</p>
<p>The materials show what should be covered during these training sessions.</p>
