<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">University College London's handbooks and training outlines</h1>
<h2 class="govuk-heading-l govuk-!-margin-bottom-3">Handbooks</h2>

<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to "Programme Handbook (PDF, 1002 KB, 74 pages)",
                      "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/12/Programme-Handbook-Updated.pdf" %>
  </li>
  <li>
    <%= govuk_link_to "Year 2 handbook: practitioner inquiry (PDF, 430 KB, 20 pages)",
                      "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Year-2-Handbook-Practitioner-Inquiry-1.pdf" %>
  </li>
</ul>

<h2 class="govuk-heading-l govuk-!-margin-bottom-3">Module summaries</h2>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <%=govuk_link_to "Module 1 summary guide (PDF, 193 KB, 7 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-1-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 2 summary guide (PDF, 153 KB, 7 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-2-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 3 summary guide (PDF, 179 KB, 10 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-3-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 4 summary guide (PDF, 139 KB, 6 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-4-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 5 summary guide (PDF, 139 KB, 6 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-5-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 6 summary guide (PDF, 189 KB, 6 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-6-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 7 summary guide (PDF, 167 KB, 7 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-7-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 8 summary guide (PDF, 236 KB, 11 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-7-Summary-Guide.pdf" %>
  </li>
  <li>
    <%=govuk_link_to "Module 9 summary guide (PDF, 145 KB, 5 pages)",
                     "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/00_Module-7-Summary-Guide.pdf" %>
  </li>
</ul>

<h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-3">Training outlines</h2>

<p class="govuk-!-margin-bottom-1">Here is a placholder of contextual blurb about training outlines. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
