<% content_for :before_content, govuk_back_link(text: 'Back', href: current_user ? dashboard_path : root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: "pages/induction_tutor_materials/ucl/handbooks_and_outlines" %>

    <%= render partial: "pages/induction_tutor_materials/course_year_sub_nav", locals: { provider: "ucl" } %>

    <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-font-weight-bold">Autumn term</h3>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">First half-term: enquiry into enabling pupil
      learning</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Week 2: annual conference (PDF, 150 KB, 9 pages)",
                          "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Year-2-Conference.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Week 4: developing skills and knowledge in relation to standards 2 & 3, using practitioner inquiry (PDF, 194 KB, 12 pages)",
                          "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Module-6-Training-Session.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Second half-term: enquiry into engaging pupils in
      learning</p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Week 2: evidence for impact (PDF, 133 KB, 9 pages)",
                          "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Module-7-Training-Session.pdf" %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-font-weight-bold">Spring term</h3>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
      First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 1)
    </p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Week 1: conducting an extended evaluative inquiry (PDF, 182 KB, 11 pages)",
                          "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Module-8-Training-Session-1.pdf" %>
      </li>
    </ul>

    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
      Second half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 2)
    </p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Week 6: mobilise new knowledge, sharing findings with colleagues (PDF, 107 KB, 6 pages)",
                          "https://www.early-career-framework.education.gov.uk/ucl/wp-content/uploads/sites/5/2020/09/Module-8-Training-Session-2.pdf" %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-font-weight-bold">Summer term</h3>
    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
      First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 3)
    </p>
    <p>
      There are no training sessions for this term
    </p>
    <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
      Second half-term: fulfilling professional responsibilities
    </p>
    <p>
      There are no training sessions for this term, but something about school visits
    </p>

  </div>
</div>
