<% title = "Confirm if you’ve updated your record" %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: "Back", href: participants_validation_have_you_changed_your_name_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
    <p class="govuk-body">If you want to be known by a different name at work and on training certificates, you must update your record with the Teaching Regulation Agency.</p>

    <%= form_for @participant_validation_form, url: { action: @participant_validation_form.step }, method: :put do |f| %>
      <%= f.hidden_field :step, value: @participant_validation_form.step %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
        :updated_record_choice, @participant_validation_form.updated_record_choices,
        :id, :name,
        legend: { text: "Have you updated your name with the Teaching Regulation Agency?", size: "s" },
      ) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
