<% content_for :title, "Have you changed your name since you started your ITT?" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: participants_validation_do_you_know_your_trn_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Have you changed your name since you started your initial teacher training (ITT)?</h1>
    <p class="govuk-body">Your name must match the Teaching Regulation Agency records. We use these to check you’re eligible for this training and support.</p>

    <%= form_for @participant_validation_form, url: { action: @participant_validation_form.step }, method: :put do |f| %>
      <%= f.hidden_field :step, value: @participant_validation_form.step %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
        :have_you_changed_your_name_choice, @participant_validation_form.name_change_choices,
        :id, :name,
        legend: { text: "Have you changed your name?", size: "s" },
      ) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
