<%= govuk_breadcrumbs breadcrumbs: course_lesson_breadcrumbs(current_user, @course_lesson_part.course_lesson) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <% if policy(@course_lesson_part.course_lesson).edit? %>
      <%= govuk_link_to "Edit lesson", edit_lesson_path(@course_lesson_part.course_lesson), button: true %>
    <% end %>
    <% if policy(@course_lesson_part).edit? %>
      <%= govuk_link_to "Edit lesson part", edit_lesson_part_path(@course_lesson_part), button: true %>
    <% end %>
    <% if policy(@course_lesson_part).show_split? %>
      <%= govuk_link_to "Split lesson part", lesson_part_split_path(lesson_part_id: @course_lesson_part.id), button: true %>
    <% end %>
    <% if policy(@course_lesson_part).show_delete? %>
      <%= govuk_link_to "Delete lesson part", lesson_part_show_delete_path(lesson_part_id: @course_lesson_part.id), button: true, class: "govuk-button--secondary"  %>
    <% end %>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"> <%= @course_lesson_part.course_lesson.title %></h1>
    <% if @course_lesson_part.course_lesson.completion_time_in_minutes %>
      <h2 class="govuk-caption-m govuk-!-margin-bottom-8">
        Duration: <%= @course_lesson_part.course_lesson.duration_in_minutes_in_words %>
      </h2>
    <% end %>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>
    <ul class="govuk-list">
      <% @course_lesson_part.course_lesson.course_lesson_parts_in_order.each do |part| %>
        <li class="govuk-list--bullet">
          <% if part == @course_lesson_part %>
            <span><%= part.title %></span>
          <% else %>
            <%= govuk_link_to part.title, lesson_part_path(part) %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h2 class="govuk-heading-l"> <%= @course_lesson_part.title %></h2>
    <div class="gem-c-govspeak govuk-govspeak">
      <%= @course_lesson_part.content_to_html.html_safe %>
    </div>

    <% if policy(@course_lesson_part.course_lesson).set_progress? && @course_lesson_part.next_lesson_part.nil? %>
      <%= form_with url: lesson_progress_path(lesson_id: @course_lesson_part.course_lesson.id), method: :put do |f| %>
        <%= f.govuk_collection_radio_buttons(
              :progress,
              [
                OpenStruct.new(id: :complete, name: "I feel confident that I’ve read and understood this session"),
                OpenStruct.new(id: :in_progress, name: "I would like more time on this session and will revisit"),
                OpenStruct.new(id: :discussion_needed, name: "There are sections that I don’t understand and would like to discuss with my mentor"),
              ],
              :id,
              :name,
              legend: {text: "That's the end of this session"}) %>
        <p class="govuk-body">Once you click End Session your reflections will be able to view via the self study dashboard. Your mentor will also be able to access these ahead of your weekly meetings also.</p>
        <%= f.govuk_submit "End session" %>
      <% end %>
    <% end %>

    <nav class="step-by-step-navigation" role="navigation" aria-label="Lesson Part Navigation">
      <ul class="step-by-step-navigation__list">
        <% if @course_lesson_part.previous_lesson_part %>
          <%= render NavigationPreviousComponent.new(
            url: lesson_part_path(@course_lesson_part.previous_lesson_part),
            text: @course_lesson_part.previous_lesson_part.title) %>
        <% end %>

        <% if @course_lesson_part.next_lesson_part %>
          <%= render NavigationNextComponent.new(
            url: lesson_part_path(@course_lesson_part.next_lesson_part),
            text: @course_lesson_part.next_lesson_part.title) %>
        <% end %>
      </ul>
    </nav>

  </div>
</div>
