<% title = "What’s #{possessive_name(@school_transfer_form.participant_name)} email address?" %>

<% content_for :title, title%>

<% content_for :before_content, govuk_back_link(text: "Back", href: { action: @school_transfer_form.previous_step }) %>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    	
    <span class="govuk-caption-xl">Transferring school - <%= @school_transfer_form.participant_name %></span>
    	<h1 class="govuk-heading-xl"><%= title %></h1>

		<p class="govuk-body">You can enter their personal or school email address.</p>
    	
		<%= form_for @school_transfer_form, url: { action: :email }, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :email, label: { hidden: true }, width: "two-thirds" %>

      <%= f.govuk_submit "Continue" %>
    <% end %>

  	</div>
</div>
