<% content_for :before_content, govuk_breadcrumbs(breadcrumbs: {
  "Schools" => lead_provider_schools_path,
  "Find and add schools" => nil,
  "Search results" => nil,
}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Search results</h1>
    <p>Use our search and filters to find schools you want to recruit.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div style="width: 100%; height: 100%; background-color: #dee0e2; padding: 8px;">
      <%= render "filters" %>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div id="school-results">
      <h2 class="govuk-heading-m"><%= @schools.total_count %> results found</h2>


      <%= form_for @partnership_form, url: lead_provider_search_schools_path do |f| %>
        <%= f.govuk_submit "Add partnerships", classes: "partnerships-submit" %>
        <%= govuk_link_to(
              "Remove all schools",
              "#",
              button: true,
              class: "govuk-!-display-none govuk-button--secondary",
              id: "clear-button")
        %>


        <table class="govuk-table">
          <thead>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">School</th>
              <th scope="col" class="govuk-table__header">Group/network</th>
              <th scope="col" class="govuk-table__header">Local authority</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header"><span class="js-only">BOX</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @schools.each do |school| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= school.name %></td>
                <td class="govuk-table__cell">Abbey Academies Trust</td>
                <td class="govuk-table__cell"><%= school.local_authority&.name %></td>
                <td class="govuk-table__cell"></td>

                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes--small">
                    <%= f.govuk_check_box :schools, school.id, 0, label: -> { tag.span("select #{school.name}", class: "govuk-visually-hidden") } %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>


      <%= paginate @schools %>
    </div>
  </div>
</div>
