<div class="govuk-grid-column-full">
  <br/>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text"><%= t("finance.contract_information") %></span>
    </summary>
    <div class="govuk-details__text">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">
              <%= t("finance.contract.course_identifier") %>
            </th>
            <th class="govuk-table__header govuk-table__cell--numeric">
              <%= t("finance.contract.recruitment_target") %>
            </th>
            <th class="govuk-table__header govuk-table__cell--numeric">
              <%= t("finance.per_participant") %>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @npq_contracts.each do |contract| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= contract.course_identifier %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= contract.recruitment_target %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds contract.per_participant %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </details>
</div>
