<section class="app-application__card">
  <h2 class="govuk-heading-m"><%= t("#{ contract.course_identifier }", scope: "npq_courses").capitalize %></h2>

  <header class="app-application-card__header">
    <% calculator.milestones.order(name: :asc).each do |milestone| %>
      <span class="govuk-body-s">
        <%= milestone.declaration_type.titleize %>
        <br>
        <%= calculator.declaration_count_for_milestone(milestone) %>
      </span>
    <% end %>

    <span class="govuk-body-s"><%= t("finance.total_declarations") %><br><%= calculator.billable_declarations_count %></span>
    <span class="govuk-body-s"><%= t("finance.total_not_eligible_for_funding") %><br><%= calculator.not_eligible_declarations_count %></span>
  </header>

  <span class="govuk-label--s govuk-visually-hidden">Payment details</span>

  <table class="govuk-table table-responsive-max-width">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-body-s"><%= t("finance.payment_type") %></th>
        <th scope="col" class="govuk-table__header govuk-body-s"><%= t("finance.course.participants") %></th>
        <th scope="col" class="govuk-table__header govuk-body-s govuk-!-text-align-right"><%= t("finance.course.payment_per_participant") %></th>
        <th scope="col" class="govuk-table__header govuk-body-s govuk-!-text-align-right"><%= t("finance.total") %></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="gov-table__row">
        <td scope="row" class="govuk-table__cell govuk-body-s"><strong><%= t("finance.output_payment.label") %></strong></td>
        <td scope="row" class="govuk-table__cell govuk-body-s"><%= calculator.billable_declarations_count %></td>
        <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds calculator.output_payment_per_participant %></td>
        <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds calculator.output_payment_subtotal %></td>
      </tr>

      <% if calculator.refundable_declarations_count.positive? %>
        <% calculator.refundable_declarations_by_type_count.each do |type, count| %>
          <tr class="gov-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Clawbacks - <%= type.humanize %></td>
            <td scope="row" class="govuk-table__cell govuk-body-s"><%= count %></td>
            <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds -calculator.output_payment_per_participant %></td>
            <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds -(count * calculator.output_payment_per_participant) %></td>
          </tr>
        <% end %>
      <% end %>

      <% if calculator.course_has_targeted_delivery_funding? %>
        <tr class="gov-table__row">
          <td scope="row" class="govuk-table__cell govuk-body-s"><strong><%= t("finance.targeted_delivery_funding.caption") %></strong></td>
          <td scope="row" class="govuk-table__cell govuk-body-s"><%= calculator.targeted_delivery_funding_declarations_count %></td>
          <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds calculator.targeted_delivery_funding_per_participant %></td>
          <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds calculator.targeted_delivery_funding_subtotal %></td>
        </tr>

        <% if calculator.targeted_delivery_funding_refundable_declarations_count > 0 %>
          <tr class="gov-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Clawbacks</td>
            <td scope="row" class="govuk-table__cell govuk-body-s"><%= calculator.targeted_delivery_funding_refundable_declarations_count  %></td>
            <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds -calculator.targeted_delivery_funding_per_participant %></td>
            <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds -calculator.targeted_delivery_funding_refundable_subtotal %></td>
          </tr>
        <% end %>
      <% end %>

      <tr class="gov-table__row">
        <td scope="row" class="govuk-table__cell govuk-body-s"><strong><%= t("finance.service_fee.caption") %></strong></td>
        <td scope="row" class="govuk-table__cell govuk-body-s"><%= calculator.recruitment_target %></td>
        <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds calculator.service_fees_per_participant %></td>
        <td scope="row" class="govuk-table__cell govuk-body-s govuk-!-text-align-right"><%= number_to_pounds calculator.monthly_service_fees %></td>
      </tr>
    </tbody>
  </table>

  <div class="govuk-table__row govuk-!-padding-bottom-1">
    <div class="govuk-label--s govuk-table__header--numeric">
      <%= t("finance.course_total") %>
      <br>
      <%= number_to_pounds calculator.course_total %>
    </div>
  </div>
</section>
