<div class="app-application__panel__summary">
  <div class="govuk-!-margin-right-4">
    <h4 class="govuk-heading-l govuk-!-margin-bottom-2"><%= t("finance.total") %> <%= number_to_pounds(summary_overall_total) %></h4>
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= t("finance.output_payment.label") %>
      <span><%= number_to_pounds(total_output_payment_subtotal) %></span>
    </p>
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= t("finance.service_fee.caption") %>
      <span><%= number_to_pounds(total_service_fees_monthly) %></span>
    </p>
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= t("finance.vat") %>
      <span><%= number_to_pounds(overall_vat) %></span>
    </p>
  </div>
  <ul class="first govuk-list govuk-!-margin-bottom-0">
    <li>
      <strong class="float govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.cut_off_date.caption") %></strong>
      <div class="number-group">
        <div class="number-container govuk-!-padding-right-4">
          <div class="float tooltip">
            <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0">
              <span><%= deadline_date.to_s(:govuk) %></span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="second govuk-list govuk-!-margin-bottom-0">
    <li>
      <strong class="float govuk-body-s govuk-!-margin-bottom-0"><%= t("finance.total_starts") %></strong>
      <div class="number-group">
        <div class="number-container govuk-!-padding-right-4">
          <div class="float tooltip">
            <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0">
              <span><%= total_starts %></span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="booster govuk-list govuk-!-margin-bottom-0">
    <li>
      <strong class="govuk-body-s float govuk-!-margin-bottom-0"><%= t("finance.total_retained") %></strong>
      <div class="number-group">
        <div class="number-container govuk-!-padding-right-4">
          <div class="float tooltip">
            <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0">
              <span><%= total_retained %></span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="fourth govuk-list govuk-!-margin-bottom-0">
    <li class="empty">
      <strong class="govuk-body-s float govuk-!-margin-bottom-0"><%= t("finance.total_completed") %></strong>
      <div class="number-group">
        <div class="number-container govuk-!-padding-right-4">
          <div class="float tooltip">
            <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0">
              <span><%= total_completed %></span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="fifth govuk-list govuk-!-margin-bottom-0">
    <li class="empty">
      <strong class="govuk-body-s float govuk-!-margin-bottom-0"><%= t("finance.total_voids") %></strong>
      <div class="number-group">
        <div class="number-container govuk-!-padding-right-4">
          <div class="float tooltip">
            <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0">
              <span><%= total_voided %></span>
              <br>
              <p class="govuk-body-s"><%= govuk_link_to( t("finance.view") , voided_finance_npq_lead_provider_statement_path(@npq_lead_provider.id, @statement)) %></p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
