<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">
        <%=t("finance.contract.version") %>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-regular">
        <%= version %>
      </td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">
        <%=t("finance.payment_reference") %>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-regular">
        <%= "TODO" %>
      </td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">
        <%=t("finance.submission_deadline") %>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-regular">
        <%= deadline %>
      </td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
