<% content_for :title, "Add user" %>
<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: admin_delivery_partner_profiles_path)
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add a new delivery partner user</h1>

    <%= form_for [:admin, @delivery_partner_profile] do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_select(:delivery_partner_id, DeliveryPartner.name_order, :id, :name, label: { text: "Delivery partner" }, options: { include_blank: true }, class: ["js-location-select"]) %>
      <%= f.fields_for :user, f.object.user do |user_form| %>
        <%= user_form.govuk_text_field(:full_name, label: { text: "Full name" }) %>
        <%= user_form.govuk_email_field(:email, label: { text: "Email" }) %>
      <% end %>
      <%= f.govuk_submit "Add user" %>
    <% end %>
  </div>
</div>
