<% content_for :title, t("finance.ecf.payment_breakdown") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: select_provider_ecf_finance_payment_breakdowns_path) %>

<h1 class="govuk-caption-xl"><%= @breakdown[:breakdown_summary][:name] %></h1>
<h2 class="govuk-heading-l"><%=t "finance.ecf.payment_breakdown" %></h2>

<%= govuk_button_link_to t("finance.show_contract"), finance_ecf_contract_path(id: @ecf_lead_provider.id) %>

<%= render Finance::ECF::BreakdownSummary.new(breakdown_summary: @breakdown[:breakdown_summary]) %>
<%= render Finance::ECF::ServiceFees.new(service_fees: @breakdown[:service_fees]) %>
<%= render Finance::ECF::OutputPayments.new(output_payments: @breakdown[:output_payments]) %>
<%= render Finance::ECF::OtherFees.new(other_fees: @breakdown[:other_fees]) %>
