<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
  Educational Development Trust's handbooks and training outlines
</h1>

<h2 class="govuk-heading-l govuk-!-margin-bottom-3">Handbooks</h2>
<p>These materials outline how Education Development Trust’s coaching and mentoring programme works.</p>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <%= govuk_link_to "Overview of the core induction programme",
                      "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-of-EDTs-Core-Induction-Programme.pdf" %>
  </li>
  <li>
    <%= govuk_link_to "Overview of blocks",
                      "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-of-Blocks.pdf" %>
  </li>
  <li>
    <%= govuk_link_to "Overview of sequence",
                      "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-of-Sequence.pdf" %>
  </li>
</ul>

<details class="govuk-details govuk-!-margin-top-0 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Individual block overviews
    </span>
  </summary>
  <p>The block overviews show what early career teachers will learn in each module during their induction.</p>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to "Overview: block 1 (PDF, 192 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-1.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 2 (PDF, 182 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-1.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 3 (PDF, 218 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-3.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 4 (PDF, 194 KB, 4 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-3.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 5 (PDF, 182 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-5.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 6 (PDF, 210 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-6.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 7 (PDF, 177 KB, 2 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-7.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 8 (PDF, 165 KB, 2 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-8.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 9 (PDF, 172 KB, 2 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-9.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 10 (PDF, 182 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-10.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 11 (PDF, 143 KB, 3 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-11.pdf" %>
      </li>
      <li>
        <%= govuk_link_to "Overview: block 12 (PDF, 201 KB, 2 pages)",
                          "https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Overview-Block-12.pdf" %>
      </li>
    </ul>
  </div>
</details>

<h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-3">Training outlines</h2>
<p>
  Each block features up to 3 dedicated training sessions where experienced practitioners will share practical
  applications of what early career teachers are learning.
</p>
<p>The materials show what should be covered during these training sessions.</p>
