<% content_for :title, "Choose your programme" %>
<% if @show_back_link %>
  <% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_index_path) %>
<% end %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @school.name %></span>

        <%= form_for @induction_choice_form, url: schools_choose_programme_path, method: :post do |f| %>
            <%= f.govuk_error_summary %>
            <%= f.govuk_collection_radio_buttons(
              :programme_choice,
              @induction_choice_form.programme_choices,
              :id,
              :name,
              legend: { text: "How do you want to run your training in #{@induction_choice_form.cohort.start_year} to #{@induction_choice_form.cohort.start_year + 1}?", size: "xl", tag: "h1" }
            ) do %>
              <p class="govuk-body">To learn more about your training options, visit
                <%= govuk_link_to "How to set up training for early career teachers (opens in new tab)",
                                  guidance_for_how_to_setup_training_url,
                                  target: :_blank,
                                  rel: "noopener noreferrer",
                                  no_visited_state: true %>
              </p>
              <p class="govuk-body">You can also contact your
                <% unless @school.cip_only? %>
                  <%= govuk_link_to "local teaching school hub (opens in a new tab)",
                                    guidance_for_teaching_school_hubs_url,
                                    target: :_blank,
                                    rel: "noopener noreferrer",
                                    no_visited_state: true %>
                  or
                <% end %>
                <%= govuk_link_to "appropriate body (opens in new tab)",
                                  guidance_for_appropriate_bodies_url,
                                  target: :_blank,
                                  rel: "noopener noreferrer",
                                  no_visited_state: true %>.
              </p>
            <% end %>

            <%= f.hidden_field(:add_participant_after_complete) %>
            <%= f.govuk_submit "Continue" %>
        <% end %>
    </div>
</div>
