<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text"><%= t("finance.provider_targets.title") %></span>
</summary>

<div class="govuk-details__text">
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        ECTs
      </dt>
    </div>
  </dl>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%=t("finance.provider_targets.recruitment_target") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%=recruitment_target %>
      </dd>
    </div>
    <% if revised_target.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%=t("finance.provider_targets.revised_target") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%=revised_target %>
        </dd>
      </div>
    <% end %>
  </dl>

  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%=t "finance.provider_targets.band" %></th>
      <th class="govuk-table__header govuk-table__cell--numeric"><%=t "finance.provider_targets.bands.min" %></th>
      <th class="govuk-table__header govuk-table__cell--numeric"><%=t "finance.provider_targets.bands.max" %></th>
      <th class="govuk-table__header govuk-table__cell--numeric"><%=t "finance.per_participant"%></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">

    <%= render Finance::ECT::ContractBandRow.with_collection(bands) %>

    </tbody>
  </table>
</div>
