<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= full_name %>
  </td>
  <td class="govuk-table__cell">
    <%= teacher_profile&.trn %>
  </td>
  <td class="govuk-table__cell">
    <%= school&.urn %>
  </td>
  <td class="govuk-table__cell">
    <%= render StatusTags::AppropriateBodyParticipantStatusTag.new(participant_profile:, induction_record:) %>
  </td>
  <td class="govuk-table__cell">
    <%= induction_type %>
  </td>
  <td class="govuk-table__cell">
    <%= induction_tutor %>
  </td>
</tr>
