<h2 id="declaring-that-an-ecf-participant-has-started-their-course" class="govuk-heading-l">Declaring that an <%= programme %> participant has started their course</h2>

<p class="govuk-body-m">This scenario begins after it has been confirmed that an <%= programme %> participant is ready to begin their induction training.</p>

<h3 class="govuk-heading-m">1. Provider confirms an <%= programme %> participant has started</h3>
<p class="govuk-body-m">Confirm an <%= programme %> participant has started their induction training before Milestone 1.</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantstarteddeclaration-object" class="govuk-link">request body containing an <%= programme %> participant declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>
<p class="govuk-body-m">This endpoint is idempotent - submitting exact copy of a request will return the same response body as submitting it the first time.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm <%= programme %> participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the <%= programme %> participant declaration ID</h3>
<p class="govuk-body-m">Store the returned <%= programme %> participant declaration ID for future management tasks.</p>

<h2 id="declaring-that-an-ecf-participant-has-retained-their-course" class="govuk-heading-l">Declaring that an <%= programme %> participant has been retained</h2>

<p class="govuk-body-m">This scenario begins after it has been confirmed that an <%= programme %> participant has completed enough of their course to meet a milestone.</p>
<h3 class="govuk-heading-m">1. Provider confirms an <%= programme %> participant has been retained</h3>
<p class="govuk-body-m">
  1. Confirm an <%= programme %> participant has been retained by the appropriate number of months for this retained event on their <%= programme %> course.
</p>

<p class="govuk-body-m">
  An explicit <code>retained-x</code> declaration is required to trigger output payments. You should declare this when a participant has reached a particular milestone in line with contractual reporting requirements.
</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantretaineddeclaration-object" class="govuk-link">request body containing an <%= programme %> participant retained declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm <%= programme %> participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the <%= programme %> participant declaration ID</h3>
<p class="govuk-body-m">Store the returned <%= programme %> participant declaration ID for future management tasks.</p>


<h2 id="declaring-that-an-ecf-participant-has-completed-their-course" class="govuk-heading-l">Declaring that an <%= programme %> participant has completed their course</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an <%= programme %> participant has completed their course.</p>
<h3 class="govuk-heading-m">1. Provider confirms an <%= programme %> participant has completed their course.</h3>

<p class="govuk-body-m">
  Confirm an <%= programme %> participant has completed their <%= programme %> course.
</p>
<p class="govuk-body-m">
  An explicit <code>completed</code> declaration is required to trigger output payments. You should declare this when a participant has reached their final milestone and completed their <%= programme %> course.
</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantstarteddeclaration-object" class="govuk-link">request body containing an <%= programme %> participant completed declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm <%= programme %> participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the <%= programme %> participant declaration ID</h3>
<p class="govuk-body-m">Store the returned <%= programme %> participant declaration ID for future management tasks.</p>

<h2 id="listing-participant-declaration-submissions" class="govuk-heading-l">Listing participant declaration submissions</h2>

<p class="govuk-body-m">This is how you see all the declarations you have made. This functionality allows the provider to check declaration submissions and identify any that are missing.</p>
<p class="govuk-body-m">If declarations are missing, following other guidance by going to <a href="#declaring-that-an-ecf-participant-has-started-their-course" class="govuk-link">Declaring that an <%= programme %> participant started their course</a>
</p>

<h3 class="govuk-heading-m">1. Checking all previously submitted declarations</h3>

<p class="govuk-body-m">
  This section lets you review all of the declarations you have made.
</p>

<p class="govuk-body-m">All of your submitted declarations are listed.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declarations</a>.</p>

<h3 class="govuk-heading-m">2. Checking a single previously submitted declaration</h3>

<p class="govuk-body-m">
  This section lets you review a single declaration you have made
</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participant-declarations/{id}</code></pre></p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>
