<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <% pack_tag_args = ['application'] %>

    <%= tag :meta, charset: 'utf-8' %>
    <% if Rails.env.to_s.in?(Sentry.configuration.enabled_environments) && ENV['RAILS_ENV'] != 'test' %>
      <%= tag :meta, name: :release, content: Sentry.configuration.release %>
      <%= tag :meta, name: :"sentry-dsn", content: Sentry.configuration.dsn.to_s %>
      <%= tag :meta, name: :"sentry-trace", content: Sentry.get_current_scope&.span&.to_sentry_trace %>
      <% pack_tag_args << 'sentry' %>
    <% end %>

    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Manage training for early career teachers" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('static/govuk-frontend/govuk/assets/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag asset_pack_path('static/govuk-frontend/govuk/assets/images/favicon.ico') %>
    <%= favicon_link_tag asset_pack_path('static/govuk-frontend/govuk/assets/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <%= favicon_link_tag asset_pack_path('static/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_pack_path('static/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag asset_pack_path('static/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
    <%= favicon_link_tag asset_pack_path('static/govuk-frontend/govuk/assets/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag *pack_tag_args, defer: true unless params[:nojs] == "nojs" %>

    <script>
      dataLayer = <%= data_layer.to_json.html_safe %>;
    </script>

    <!-- Google Tag Manager (doesn't store personal info until permission given) -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N58Z5PG');</script>
    <!-- End Google Tag Manager -->

    <% gtm_id = get_gtm_id %>

    <% if cookies[:cookie_consent_1] == "on" %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gtm_id %>"></script>
    <% else %>
      <script>
        // For adding the script once the user has given permission
        window.ecfAnalyticsScript = "https://www.googletagmanager.com/gtag/js?id=<%= gtm_id %>";
      </script>
    <% end %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= gtm_id %>');
    </script>
  </head>

  <body class="govuk-template__body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N58Z5PG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <% unless cookies[:cookie_consent_1] || current_page?(cookies_path) %>
      <%= render "cookies/banner" %>
    <% end %>

    <%= govuk_header(service_name:, container_classes: ("govuk-width-container__wide" if wide_container_view?)) do |header|
      if user_signed_in?
        header.navigation_item(text: "Sign out", href: destroy_user_session_path)
      end
    end %>

    <%= yield(:nav_bar) %>

    <%= render "layouts/phase_banner" %>

    <% if current_user != true_user %>
      <div class="govuk-width-container">
    <%= render GovukComponent::NotificationBannerComponent.new(title_text: 'Important', classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-5', html_attributes: { data: { test: "notification-banner"} }) do |banner| %>
          <p class="govuk-notification-banner__heading">
            You are impersonating <%= govuk_link_to current_user.full_name %> (<%= current_user.email %>)
          </p>

          <%= govuk_button_to('Stop impersonating',
              admin_impersonate_path,
              method: :delete,
              class: 'govuk-!-margin-bottom-1',
              "data-test": "stop-impersonating-button") %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
