<%= render layout: "layouts/application" do %>
  <%= yield(:before_content) %>

  <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            <%= msg %>
          </h2>
        </div>
      <% elsif type == "success" %>
        <%= govuk_notification_banner(
              title_text: msg[:title],
              success: true,
              html_attributes: { data: { test: "notification-banner" } }
            ) do |banner| %>
          <% banner.heading(text: msg[:heading]) %>
          <% msg[:content] %>
        <% end %>
      <% else %>
        <div class="govuk-success-summary" aria-labelledby="success-message" tabindex="-1" role="alert">
          <div class="govuk-success-summary__title">
            <h2 class="govuk-heading-m" id="success-message">
              <%= msg %>
            </h2>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </main>
<% end %>
