<% @school_options = @schools.map { |school| OpenStruct.new(id: school.id, name: school.name, description: school.full_address )} %>
<h2 class="govuk-heading-l">Select your school</h2>
<p>
  We have found the following schools matching your email address, please select one.
  If you are the induction coordinator for multiple school, select one and you will be able to add the rest later.
</p>

<%= form_with url: induction_coordinators_registrations_register_path, method: :get do |f| %>
  <%= f.hidden_field :email, value: @email %>
  <%= f.govuk_collection_radio_buttons :school_id, @school_options, :id, :name, :description, legend: { text: 'Which school are you the induction coordinator for?' } %>
  <%= f.govuk_submit %>
  <%= govuk_button_link_to "Enter a different email", induction_coordinators_registrations_check_email_path, class: "govuk-button--secondary" %>
<% end %>


