<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_email_field :email, autocomplete: "email" %>

      <%= f.govuk_text_field :first_name %>

      <%= f.govuk_text_field :last_name %>

      <%= f.govuk_submit "Sign up" %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
