<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Register your school</h2>

    <%= form_for(:induction_coordinator_profile, url: users_check_email_path) do |f| %>
      <%= f.govuk_text_field(
            :school_urn,
            hint: { text: "6 digit number", class: "govuk-hint" },
            label: { text: "Your school's Unique Reference Number (URN)", class: "govuk-label govuk-label--s" })
      %>
      <p>><%= govuk_link_to " Find my URN", "#", class: "govuk-link" %></p>
      <%= f.govuk_email_field(
            :email,
            autocomplete: "email",
            label: { text: "Your school email address", class: "govuk-label govuk-label--s" })
      %>

      <%= f.govuk_submit "Continue" %>
    <% end %>

  </div>
</div>
